{% extends 'app.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <h1>Gig Center</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="gc-nav">
                    <li class="gc-nav-item"><a href="{{ path('project_center') }}">Activity</a></li>
                    <li class="gc-nav-item active"><a href="{{ path('project_center_projects') }}">Gigs ({{ totalProjects }})</a></li>
                    <li class="gc-nav-item"><a href="{{ path('project_center_bids') }}">Your Bids ({{ totalBids }})</a></li>
                    <li class="gc-nav-item"><a href="{{ path('project_center_invites') }}">Invites ({{ totalInvites }})</a></li>
                </ul>
            </div>
                <ul class="gc-sub-nav">
                    <li class="gc-sub-nav-item{% if projectsFilter == 'active' %} active{% endif %}"><a href="{{ path('project_center_projects', {'filter' : 'active'}) }}">Studio ({{ totalActiveProjects }})</a></li>
                    <li class="gc-sub-nav-item{% if projectsFilter == 'open' %} active{% endif %}"><a href="{{ path('project_center_projects', {'filter' : 'open'}) }}">Pre Production ({{ totalOpenProjects }})</a></li>
                    <li class="gc-sub-nav-item{% if projectsFilter == 'complete' %} active{% endif %}"><a href="{{ path('project_center_projects', {'filter' : 'complete'}) }}">Completed ({{ totalCompletedProjects }})</a></li>
                    <li class="gc-sub-nav-item{% if projectsFilter == 'expired' %} active{% endif %}"><a href="{{ path('project_center_projects', {'filter' : 'expired'}) }}">Expired ({{ totalExpiredProjects }})</a></li>
                </ul>
            <div class="panel-body gc-list">
                
		{% if projectsFilter == 'active' %}
		    {% if totalActiveProjects > 0 %}
                        <h3>Here are the gigs you are currently working on</h3>
                            {% for project in projects %}
                                <div class="panel-row gc-list-item">
                                    <div class="title">
                                        <a href="{{ path('project_studio', {'uuid' : project.uuid}) }}">{{ project.title }}</a><br>
                                        <div class="summary-item"><strong>Created:</strong> {{ project.createdAt|timeAgoString }} ago</div>
                                        <div class="summary-item">
                                            <strong>Working With:</strong> 
                                            {% if project.userInfo != app.user %}
                                                <a href="{{ path('user_view', {'username' : project.userInfo.username }) }}">{{ project.userInfo.username }}</a>
                                            {% else %}
                                                <a href="{{ path('user_view', {'username' : project.projectBid.userInfo.username }) }}">{{ project.projectBid.userInfo.username }}</a>
                                            {% endif %}
                                        </div>
                                        <div class="summary-item">
                                            <strong>Due Date:</strong>
                                            {% if project.dueDate %}
                                                {{ project.dueDate|date('M d, Y') }}
                                            {% else %}
                                                Not set
                                            {% endif %}
                                        </div>
                                        <div class="summary-item">
                                            <strong>Last Activity:</strong>
                                            {% if project.lastActivity|length > 0 %}
                                                {{ project.lastActivity.date.date|date('M d, Y') }}
                                            {% else %}
                                                No activity
                                            {% endif %}
                                        </div>
                                        <div class="summary-item">
                                            <strong>Prompt Assets:</strong>
                                            {% if project.promptAssets %}
                                                {% if project.userInfo == app.user %}
                                                    Assets requested
                                                {% else %}
                                                    Upload gig assets
                                                {% endif %}
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    {% else %}
                        <div class="gc-list-empty">
                            <p>You currently do not have any gigs in production.</p>
                        </div>
                    {% endif %}
                {% elseif projectsFilter == 'open' %}
		    {% if totalOpenProjects > 0 %}        		
		    	<h3>Vocalists can currently bid on these gigs.</h3>
                        
                        {% for project in projects %}
                            <div class="panel-row gc-list-item">
                                <div class="title">
                                    <a href="{{ path('project_view', {'uuid' : project.uuid}) }}">{{ project.title }}</a><br>
                                    <div class="summary-item"><strong>Created:</strong> {{ project.createdAt|timeAgoString }} ago</div>
                                    <div class="summary-item"><strong>Bids received:</strong> {{ project.numBids }}</div>
                                    <div class="summary-item"><strong>Gig hunter:</strong> {% if project.enableGigHunter %}Enabled{% else %}Disabled{% endif %}</div>
                                    <div class="summary-item">
                                        <strong>Awarded:</strong>
                                        {% if project.projectBids|length > 0 %}
                                            {% set bid = project.projectBids[0] %}
                                            <a href="{{ path('user_view', {'username' : bid.userInfo.username }) }}">{{ bid.userInfo.username }}</a><br>
                                            {{ bid.updatedAt|date('M d, Y') }}
                                        {% else %}
                                            No
                                        {% endif %}
                                    </div>
                                    <div class="summary-item"><strong>Bids due:</strong> {{ project.bidsDue|date('M d, Y') }}</div>
                                </div>
                            </div>
                        {% endfor %}
		    {% else %}
                        <div class="gc-list-empty">
                            <p>You currently do not have any open gigs.</p>
                            
                        </div>
		    {% endif %}
		{% elseif projectsFilter == 'complete' %}
		    {% if totalCompletedProjects > 0 %}
        		<h3>Gigs you have completed</h3>
                        {% for project in projects %}
                            <div class="panel-row gc-list-item">
                                <div class="title">
                                    <a href="{{ path('project_studio', {'uuid' : project.uuid}) }}">{{ project.title }}</a><br>
                                    <div class="summary-item"><strong>Created:</strong> {{ project.createdAt|timeAgoString }} ago</div>
                                    <div class="summary-item">
                                        <strong>Working with:</strong>
                                        {% if project.userInfo== app.user %}
                                                <a href="{{ path('user_view', {'username' : project.userInfo.username }) }}">{{ project.userInfo.username }}</a>
                                        {% else %}
                                                <a href="{{ path('user_view', {'username' : project.projectBid.userInfo.username }) }}">{{ project.projectBid.userInfo.username }}</a>
                                        {% endif %}
                                    </div>
                                    <div class="summary-item"><strong>Completed:</strong> {{ project.completedAt|date('M d, Y') }}</div>
                                    <div class="summary-item">
                                        <strong>Rated:</strong>
                                        @TODO
                                    </div>
                                    <div class="summary-item"><strong>Amount:</strong> ${{ project.projectBid.amount|number_format(2) }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="gc-list-empty">
                            <p>You have not completed any gigs.</p>
                        </div>
                    {% endif %}
                {% elseif projectsFilter == 'expired' %}
		    {% if totalExpiredProjects > 0 %}
		        <h3>The due date for bidding passed without a successful bidder</h3>
                        {% for project in projects %}
                            <div class="panel-row gc-list-item">
                                <div class="title">
                                    <a href="{{ path('project_view', {'uuid' : project.uuid}) }}">{{ project.title }}</a><br>
                                    <div class="summary-item"><strong>Created:</strong> {{ project.createdAt|timeAgoString }} ago</div>
                                    <div class="summary-item">
                                        <strong>Gig Hunter:</strong>
                                        {% if project.enableGigHunter %}
                                                Enabled
                                        {% else %}
                                                Disabled
                                        {% endif %}
                                    </div>
                                    <div class="summary-item"><strong>Bids received:</strong> {{ project.numBids }}</div>
                                    <div class="summary-item"><strong>Date expired:</strong> {{ project.bidsDue|date('M d, Y') }}</div>
                                </div>
                            </div>
                        {% endfor %}
		    {% else %}
                        <div class="gc-list-empty">
                            <p>There are no expired gigs.</p>
                        </div>
		    {% endif %}                   
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}