{% extends '::app.html.twig' %}

{% block title %}Message Center{% endblock %}

{% block description %}messages{% endblock %}

{% block stylesheet %}
        {% stylesheets
            '@VocalizrAppBundle/Resources/public/css/messages.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="lwlg3v5wizqu8f2"></script>
    {% javascripts 
        '@VocalizrAppBundle/Resources/public/js/jquery.formatCurrency.min.js'
        '@VocalizrAppBundle/Resources/public/js/uploader/plupload.full.min.js'
        '@VocalizrAppBundle/Resources/public/js/recorder.js'
        '@VocalizrAppBundle/Resources/public/js/audio-uploader.js' 
        '@VocalizrAppBundle/Resources/public/js/bid-audition.js'
        '@VocalizrAppBundle/Resources/public/js/asset-uploader.js'
     %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        AssetUploader.init('upload-file-container', 'upload-files-btn');
        MessageCenter.init();
        $(function () {
            $(".message-file-list").mCustomScrollbar({
                theme: "dark", 
            });
        });
        $( document ).ready(function() {
            {% if not can_hire_now() %}
                showModal(null, '#hire_now_modal');
            {% endif %}
        });

    </script>
{% endblock %}


{% block body %}
    <div class="row message-center">
        <div class="col-sm-4 threads-container">
            <div class="threads-header">
                <h2>Messages</h2>
                <a href="" class="inbox selected">Inbox <span class="num-unread label {% if app.user.numUnreadMessages > 0 %}label-red{% else %}label-default{% endif %}">{{ app.user.numUnreadMessages }}</span></a>
                <a href="{{ path('message_mark_all_read') }}" class="mark-all-read">Mark all as read</a>
            </div>
            <div class="threads-wrap customScroll">
                <div class="threads-list" data-page="1">
                {% for thread in threads %}
                    <div id="mt-{{ thread.uuid}}" class="thread{% if activeThread.uuid == thread.uuid %} selected{% endif %}" data-thread="{{ thread.uuid }}" data-msgs-url="{{ path('thread_messages', {uuid : thread.uuid}) }}">
                        <div class="avatar">
                            {% if thread.employer == app.user %}
                                {% if thread.bidder.path is null %}
                                    <img src="{{ asset('images/default_avatar.svg') }}" width="28" height="28" class="img-circle">
                                {% else %}
                                    <img src="{{ asset('uploads/avatar/small/' ~ thread.bidder.path ) }}" width="28" height="28" class="img-circle  avatar-sm-{{ thread.bidder.username }}">
                                {% endif %}
                            {% else %}
                                {% if thread.employer.path is null %}
                                    <img src="{{ asset('images/default_avatar.svg') }}" width="28" height="28" class="img-circle">
                                {% else %}
                                    <img src="{{ asset('uploads/avatar/small/' ~ thread.employer.path ) }}" width="28" height="28" class="img-circle  avatar-sm-{{ thread.employer.username }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="info-wrap">
                            {% if thread.employer == app.user %}
                                <span class="user">{{ thread.bidder.displayName }}</span><span class="unread label {% if thread.numEmployerUnread > 0 %}label-red{% else %}label-default{% endif %}">{{ thread.numEmployerUnread }}</span>
                            {% else %}
                                <span class="user">{{ thread.employer.displayName }}</span><span class="unread label {% if thread.numBidderUnread > 0 %}label-red{% else %}label-default{% endif %}">{{ thread.numBidderUnread }}</span>
                            {% endif %} <span class="date">{{ thread.lastMessageAt|timeAgoString }} ago</span><br>
                            {% if thread.project %}
                                <div class="gig-title"><i class="fa fa-folder"></i> {% if thread.project.title|length > 35 %}{{ thread.project.title|slice(0, 35) }}...{% else %}{{ thread.project.title }}{% endif %}</div>
                            {% else %}
                                <div class="gig-title"><i class="fa fa-comments"></i> Private Message</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if countThreads > threads|length %}
                <button type="button" class="btn btn-block btn-sm btn-default roll-alt btn-thread-load">LOAD MORE</button>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 messages-container">
            {% if activeThread %}
                {{ include(
                    'VocalizrAppBundle:Message:threadMessages.html.twig',
                    { 'thread': activeThread,
                      'threadBid': activeThreadBid,
                      'form': form }
                ) }}
            {% else %}
                <div class="no-thread">No messages</div>
            {% endif %}
        </div>
    </div>

    {% if not can_hire_now() %}
        <div id="hire_now_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
            {% include 'include/panel/hire_now_panel.html.twig' %}
        </div>
    {% endif %}
{% endblock %}