<div class="messages-header" data-thread="{{ thread.uuid }}">
    <div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="user">
            {% if thread.employer == app.user %}
                <a href="{{ path('user_view', {username: thread.bidder.username}) }}">{{ thread.bidder.displayName }}</a>
            {% else %}
                <a href="{{ path('user_view', {username: thread.employer.username}) }}">{{ thread.employer.displayName }}</a>
            {% endif %}
        </div>
        {% if thread.project %}
            {% if thread.project.projectType == "contest" %}
                {% set projectUrl = "contest_view" %}
            {% else %}
                {% set projectUrl = "project_view" %}
            {% endif %}
            <div class="project">{{ thread.project.projectTypeName|capitalize }}: <a href="{{ path(projectUrl, {'uuid' : thread.project.uuid}) }}">{% if thread.project.title|length > 35 %}{{ thread.project.title|slice(0, 35) }}...{% else %}{{ thread.project.title }}{% endif %}</a></div>
        {% else %}
            Private message
        {% endif %}
    </div>
    <div class="col-sm-6 col-xs-12 actions">
        {% if thread.isOpen %}
        {% if thread.project %}
            {% if thread.project.projectBid  %}
                {% if thread.employer != app.user and thread.project.employeeUserInfo != app.user %}
                    <div class="chat-closed">
                        <div>This {{ thread.project.projectTypeName }} has been awarded</div>
                        <div>Chat is now closed</div>
                    </div>
                {% endif %}
            {% else %}
                <div class="bid">
                    <div class="amount">${{ (threadBid.amount / 100)|number_format }}</div>
                    {% if thread.project.projectType == "contest" %}Contest{% else %}Bid{% endif %}
                </div>
                <div class="audio">
                    {% if not threadBid.path is empty %}
                    <div class="ui360 track-play block-player"><a href="{{ cdn_url }}{{ path('bid_audio_stream', {filename: threadBid.path}) }}" type="audio/mp3"></a></div>
                    {% else %}
                        {% if threadBid.userInfo.userAudio %}
                            {% set bidUserAudio = threadBid.userInfo.userAudio[0] %}
                            {% if bidUserAudio.scId %}
                            <div class="ui360 track-play block-player"><a href="{{ bidUserAudio.scStreamUrl }}?client_id={{ soundcloud_client_id }}" type="audio/mp3"></a></div>
                            {% else %}
                            <div class="ui360 track-play block-player"><a href="{{ path('user_audio', {slug: bidUserAudio.slug}) }}" type="audio/mp3" class="track"></a></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if thread.employer == app.user %}
                    {% if thread.project.projectType == "contest" %}
                        <a class="btn btn-primary pull-right btn-award" href="{{ path('contest_award', {uuid: thread.project.uuid, bidUuid: threadBid.uuid}) }}">Award Contest</a>
                    {% else %}
                        <a class="btn btn-primary pull-right btn-award" href="{{ path('project_award', {uuid: thread.project.uuid, bidUuid: threadBid.uuid}) }}">Award Gig</a>
                    {% endif %}
                {% else %}
                    {% if thread.project.projectType == "contest" %}
                        <a href="{{ path('contest_view', {uuid: thread.project.uuid}) }}" class="btn btn-primary pull-right btn-award">Change Entry</a>
                    {% else %}
                        <a id="place-bid" data-toggle="vmodal" href="{{ path('project_bid', {uuid: thread.project.uuid, resubmit: 1}) }}" class="btn btn-primary pull-right btn-award">Change Bid</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            <div class="private-message-actions">
                <div class="dropdown">
                    <i class="fa fa-ellipsis-h more dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% if thread.employer == app.user %}
                            <li><a href="{{ path('user_block', {username: thread.bidder.username}) }}" onclick="return confirm('Are you sure?');">Block User</a></li>
                        {% else %}
                            <li><a href="{{ path('user_block', {username: thread.employer.username}) }}" onclick="return confirm('Are you sure?');">Block User</a></li>
                        {% endif %}
                        <li><a href="{{ path('message_thread_close', {uuid: thread.uuid} ) }}" onclick="return confirm('Are you sure? You won\'t be able to reopen this thread.');">Close Thread</a></li>
                    </ul>
                </div>
                {% if thread.employer == app.user %}
                    <a href="{{ path('project_hire', {username: thread.bidder.username}) }}" class="btn btn-primary">Hire Now</a>
                {% else %}
                    <a href="{{ path('project_hire', {username: thread.employer.username}) }}" class="btn btn-primary">Hire Now</a>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        {% endif %}
        {% endif %}
        </div>
    </div>
</div>
<div class="messages-wrap customScroll">
    <div class="messages">
        {% for message in thread.messages %}
            <div class="message">
                {% if not loop.first %}
                <hr>
                {% endif %}
                <div class="avatar">
                    {% if message.userInfo.id == app.user.id %}
                        {% if app.user.path is null %}
                            <img src="{{ asset('images/default_avatar.svg') }}" width="28" height="28" class="img-circle">
                        {% else %}
                            <img src="{{ asset('uploads/avatar/small/' ~ app.user.path ) }}" width="28" height="28" class="img-circle  avatar-sm-{{ app.user.username }}">
                        {% endif %}
                    {% else %}
                        {% if message.userInfo.path is null %}
                            <img src="{{ asset('images/default_avatar.svg') }}" width="28" height="28" class="img-circle">
                        {% else %}
                            <img src="{{ asset('uploads/avatar/small/' ~ message.userInfo.path ) }}" width="28" height="28" class="img-circle  avatar-sm-{{ message.userInfo.username }}">
                        {% endif %}
                    {% endif %}
                </div>

                <div class="info-wrap">
                    <div class="sender">
                        {% if message.userInfo.id == app.user.id %}
                            You said...
                        {% else %}
                            {{ message.userInfo.usernameOrDisplayName }} said...
                        {% endif %}
                        <div class="date-sent">{{ message.createdAt|timeAgoString }} ago</div>
                    </div>
                    <div class="content">
                        {{ can_hire_now() ? message.content|nl2br : '*******' }}
                        {% if message.messageFiles|length > 0 and can_hire_now() %}
                            <div class="message-dl-list">
                                {% for messageFile in message.messageFiles %}
                                <div class="message-file-dl">
                                    {# TODO: delete this in future, as attaching dropbox files to messages is now deprecard. #}
                                    {% if messageFile.dropboxLink %}
                                    <a href="{{ path('message_download', {slug: messageFile.slug}) }}" target="_blank">{{ messageFile.title }} ({{ messageFile.filesize|formatBytes}})</a>
                                    {% else %}
                                    <a href="{{ path('message_download', {slug: messageFile.slug}) }}" download>{{ messageFile.title }} ({{ messageFile.filesize|formatBytes}})</a>
                                    {% endif %}
                                    {% if message.userInfo.id == app.user.id %}<a href="{{ path('message_delete', {id: messageFile.id}) }}" title="Delete file" class="message-remove-file pull-right"><i class="fa fa-times"></i></a>{% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if thread.project and thread.project.projectBid %}
            {% if thread.employer == app.user or thread.project.employeeUserInfo == app.user %}
                <hr>
                <div class="awarded">This gig has been awarded</div>
                <div class="chat-closed">
                    Chat is now closed. Continue collaborating in the <a href="{{ path('project_studio', {uuid: thread.project.uuid}) }}">Vocalizr Studio!</a>
                </div>
            {% endif %}
        {% else %}
            {% if not thread.isOpen %}
                    <hr>
                    <div class="chat-closed">
                        <br>
                        Chat has been closed.
                    </div>
            {% endif %}

        {% endif %}
    </div>
</div>
{% if (not thread.project and thread.isOpen ) or ( thread.isOpen and thread.project and not thread.project.projectBid )  %}
    <div class="messages-reply-wrap">
        <div class="avatar">
            {% if app.user.path is null %}
                <img src="{{ asset('images/default_avatar.svg') }}" width="28" height="28" class="img-circle">
            {% else %}
                <img src="{{ asset('uploads/avatar/small/' ~ app.user.path ) }}" width="28" height="28" class="img-circle  avatar-sm-{{ app.user.username }}">
            {% endif %}
        </div>
        <div class="form-wrap">
            <form id="reply-message-form" action="{{ path('message_reply', {uuid: thread.uuid} ) }}" method="post">
                {% if can_hire_now() %}
                    {{ form_widget(form.content) }}
                {% else %}
                    {{ form_widget(form.content, {'attr': {'disabled': true}}) }}
                {% endif %}
                <div style="display: inline" id="upload-file-container" data-url="{{ path('upload_audio') }}"
                     data-extensions="{{ upload_audio_allowed }}" data-form="reply-message-form">
                    <div class="message-file-list">
                        <div id="asset-filelist"></div>
                    </div>
                    <a id="upload-files-btn" href="" class="btn btn-default btn-sm"><i class="fa fa-music"></i> ATTACH MP3</a>
                </div>
                <button type="submit" name="send_reply" class="btn btn-default btn-sm pull-right message-reply">SEND</button>
            </form>
        </div>
    </div>
{% endif %}
    <div class="clearfix"></div>
