{% extends 'app.html.twig' %}

{% block title %}Mixing, Mastering and Vocal Engineering - Engine Room{% endblock %}

{% block description %}Get all your tracks profressional mixed & mastered by Vocalizr's in-house expert audio engineers{% endblock %}

{% block javascript %}

{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('/css/engine.css') }}" />
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12 page-content">
        <div class="text-center">
            <h1 class="main-title">Engine Room</h1>

            <h2 class="white-highlight sub-title">Get all your tracks profressional mixed & mastered by Vocalizr's in-house expert audio engineers, or give your vocals the perfect polish.</h2>
            {% if app.user %}
                <p class="view-orders"><a href="{{ path('user_engine') }}" class="btn btn-default btn-sm">VIEW MY ORDERS</a></p>
            {% endif %}
        </div>
        
        <div class="row">
            {% for product in products %}
            <div class="col-xs-12 col-sm-4">
                <div class="engine-item">
                    <div class="engine-title">{{ product.title }}</div>
                    <div class="engine-price">
                        {% if app.user and app.user.isSubscribed and proProducts[product.code ~ '-PRO'] %}
                            ${{ proProducts[product.code ~ '-PRO'].amount / 100 }} <sup>USD</sup><div class="badge badge-pro">PRO PRICE APPLIED</div>
                        {% else %}
                            ${{ product.amount / 100 }} <sup>USD</sup>
                        {% endif %}
                    </div>
                    <div class="engine-discount">
                        20% DISCOUNT FOR<br>VOCALIZR PRO SUBSCRIBERS
                    </div>
                    <div class="engine-desc">{{ product.description }}</div>
                    <div class="engine-btns">
                        <a href="{{ path('engine_create', {code: product.code}) }}" class="btn btn-primary btn-sm">ORDER NOW</a>
                    </div>
                </div>
            </div>
            {% endfor %}
                    
                    
        </div>
                    
        </div>
    </div>
</div>
{% endblock %}