<div class="bid-actions">
    <div class="actions-left">
        {% if app.user %}

            {% if not proBid and userIsBidder and not projectAwarded %}
                <a href="{{ path('user_upgrade', {source: constant('App\\Service\\MembershipSourceHelper::SUB_SOURCE_MAKE_YOUR_BID_PRO_BUTTON')}) }}" class="btn btn-sm btn-primary pull-left btn-space-after pull-left">Make your bid <b>PRO</b></a>
            {% endif %}

            {% if project.isOwner(app.user) and not projectAwarded and bid.flag == null %}
                <a href="{{ app.user.verified ? path('project_award', {uuid: project.uuid, bidUuid: bid.uuid}) : '#' }}" class="btn btn-gig-footer btn-sm btn-primary award-bid award-bid-gig-footer">AWARD GIG</a>
            {% else %}
                {% if bid.flag == 'O' %}
                    <span class="label label-success" style="padding:10px">Awarded Gig</span>
                {% elseif bid.flag == 'D' and project.isOwner(app.user) %}
                    <span class="label label-warning" style="padding:10px">Gig rejected</span>
                {% elseif bid.userInfo.id == app.user.id and project.projectBid is null %}
                    <a href="{{ path('gig_bid_delete', {uuid: project.uuid, bidUuid: bid.uuid}) }}" class="btn btn-sm btn-remove-bid btn-default btn-danger">Remove Bid</a>
                    {% if not bid.highlightOption %}
                        <a href="#" class="btn btn-sm btn-show-bid-highlight-modal btn-primary" data-uuid="{{ bid.uuid }}">Highlight Bid</a>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if project.isOwner(app.user) %}
                {% if activeThreads[bid.userInfo.id] is defined %}
                    <a href="{{ path('message_home', {tid: activeThreads[bid.userInfo.id]}) }}" class="btn btn-gig-footer btn-sm btn-default roll-alt btn-discuss"><i class="fa fa-comment" aria-hidden="true"></i></a>
                {% else %}
                    <a id="compose-message" href="{{ path('message_warning', {projectUuid: project.uuid, userId: bid.userInfo.id}) }}" data-toggle='vmodal' class="btn btn-gig-footer btn-sm btn-default roll-alt btn-discuss"><i class="fa fa-comment" aria-hidden="true"></i></a>
                {% endif %}
                {% if bid.shortlist %}
                    <a href="{{ path('project_shortlist_bid', {uuid: project.uuid, bidUuid: bid.uuid}) }}" class="btn btn-gig-footer btn-sm btn-default btn-shortlist-unhide shortlist-{{ bid.uuid }}" data-uuid="{{ bid.uuid }}"><i class="fa fa-star" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ path('project_shortlist_bid', {uuid: project.uuid, bidUuid: bid.uuid}) }}" class="btn btn-gig-footer btn-sm btn-default btn-shortlist shortlist-{{ bid.uuid }}" data-uuid="{{ bid.uuid }}"><i class="far fa-star" aria-hidden="true"></i></a>
                {% endif %}
                <a href="{{ path('project_hide_bid', {uuid: project.uuid, bidUuid: bid.uuid}) }}" data-uuid="{{ bid.uuid }}" class="btn btn-gig-footer btn-sm btn-default roll-alt btn-hide-bid hide-{{ bid.uuid }}"><i class="fa fa-times" aria-hidden="true"></i></a>
            {% endif %}

        {% endif %}
    </div>
    <div class="actions-right">
        {% if bid.userInfo.ratedCount > 0 %}
            <a href="{{ path('user_view', {username: bid.userInfo.username}) }}#reviews" class="reviews">{{ bid.userInfo.ratedCount }} Review{% if bid.userInfo.ratedCount != 1 %}s{% endif %}</a>
        {% else %}
            <span class="reviews">No reviews yet</span>
        {% endif %}
        {% if bid.userInfo.rating > 0 %}
            <div class="rating-text">
                {{ bid.userInfo.rating }} Star{% if bid.userInfo.rating > 1 %}s{% endif %}
            </div>
            {% if proBid %}
                <div class="star-rating star-disabled" data-score="{{ bid.userInfo.rating }}"></div>
            {% endif %}
        {% endif %}
    </div>
</div>