{% extends 'Project/view/base_bid.html.twig' %}
{% block bid_body %}
    <div class="item-body">
        <div class="item-left">
            <div class="info">
                <div class="name">
                    <a href="{{ path('user_view', {username: bid.userInfo.username} ) }}" class="username">{{ bid.userInfo.displayName }}</a>
                    {% if bid.userInfo.isSubscribed %}
                        <span class="badge badge-pro">Access Pass</span>
                    {% endif %}
                    {% if bid.userInfo.isCertified %}
                        <img class="vocalizr-certified-stamp-clipped" src="{{ asset('images/certified_pro_stamp_clipped.svg') }}" alt="" data-text="<div class='tip-header'>Vocalizr Certified Professional</div>A 'Certified Professional’ is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level.<br><a href='{{ path('get_certified') }}' class='get-certified-now' style='color: #01c2e5;'>Get Certified Now</a>">
                    {% endif %}
                </div>
            </div>

            {% include 'Project/view/bid_audio.html.twig' %}

        </div>

        <div class="item-right">
            {% if project.projectType == 'paid' %}
                <div class="bid-amount">
                    <div class="currency-symbol">$</div>
                    <div class="value">
                        {{ (bid.amount / 100)|number_format }} <div class="currency">USD</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
