<div class="mobile-only mobile-menu collapse">
    <div class="mobile-menu-container">
        <div class="menu-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo_clean.png') }}" alt="Vocalizr" width="103" height="31"></a>
                <a class="close-btn" data-toggle="mobile-menu">
                    <svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6703 23.0846C19.0533 23.4677 19.6744 23.4677 20.0574 23.0846L20.0845 23.0575C20.4675 22.6745 20.4675 22.0534 20.0845 21.6704L14.4141 16L20.0845 10.3296C20.4675 9.94656 20.4675 9.32551 20.0845 8.94246L20.0574 8.9154C19.6744 8.53235 19.0533 8.53235 18.6703 8.9154L12.9999 14.5858L7.32947 8.91541C6.94642 8.53236 6.32537 8.53236 5.94232 8.91541L5.91525 8.94247C5.5322 9.32552 5.5322 9.94657 5.91525 10.3296L11.5856 16L5.91525 21.6704C5.5322 22.0534 5.5322 22.6745 5.91525 23.0575L5.94232 23.0846C6.32537 23.4676 6.94642 23.4676 7.32947 23.0846L12.9999 17.4142L18.6703 23.0846Z" fill="#14B9D6"/>
                    </svg>
                </a>
            </div>
            <ul class="nav navbar-nav">
                {% include 'include/menu.html.twig' with {mobile_menu: true} %}
            </ul>
            <svg class="separator" width="320" height="2" viewBox="0 0 320 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.835068H319.75" stroke="#979797" stroke-opacity="0.276155" stroke-width="0.5" stroke-linecap="square"/>
            </svg>
            <ul class="nav navbar-nav action-nav">
                <li>
                    {% if app.user %}
                        <a href="{{ path('project_start') }}" data-toggle="vmodal" class="create"> Create a Gig or Contest</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="menu-bottom">
            {% if app.user %}
                {% if not app.user.isSubscribed %}
                    <p class="text-upgrade-pro text-center">
                        Maximise your exposure, earn more, and rocket your career with Vocalizr <b>Access Pass</b>
                    </p>
                    <a href="{{ path('user_upgrade', {'source': constant('Vocalizr\\AppBundle\\Service\\MembershipSourceHelper::SUB_SOURCE_HAMBURGER_MENU')}) }}" class="btn btn-upgrade-pro">Upgrade to <b>Access Pass</b></a>
                {% endif %}
            {% else %}
                <a href="{{ path('register') }}" class="btn btn-primary">Register</a>
                <a href="{{ path('login') }}" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </div>
</div>