<ul class="profile-nav">
    <li>
        <a href="{{ path('user_view', {username: app.user.username}) }}">
            <div class="vocalizr-icon">
                <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.75 0H2.25C1.00734 0 0 1.00734 0 2.25V15.75C0 16.9927 1.00734 18 2.25 18H21.75C22.9927 18 24 16.9927 24 15.75V2.25C24 1.00734 22.9927 0 21.75 0ZM21.4688 15.75H2.53125C2.45666 15.75 2.38512 15.7204 2.33238 15.6676C2.27963 15.6149 2.25 15.5433 2.25 15.4688V2.53125C2.25 2.45666 2.27963 2.38512 2.33238 2.33238C2.38512 2.27963 2.45666 2.25 2.53125 2.25H21.4688C21.5433 2.25 21.6149 2.27963 21.6676 2.33238C21.7204 2.38512 21.75 2.45666 21.75 2.53125V15.4688C21.75 15.5433 21.7204 15.6149 21.6676 15.6676C21.6149 15.7204 21.5433 15.75 21.4688 15.75ZM18.9375 7.5H14.0625C13.7519 7.5 13.5 7.24814 13.5 6.9375V6.1875C13.5 5.87686 13.7519 5.625 14.0625 5.625H18.9375C19.2481 5.625 19.5 5.87686 19.5 6.1875V6.9375C19.5 7.24814 19.2481 7.5 18.9375 7.5ZM18.9375 10.875H14.0625C13.7519 10.875 13.5 10.6231 13.5 10.3125V9.5625C13.5 9.25186 13.7519 9 14.0625 9H18.9375C19.2481 9 19.5 9.25186 19.5 9.5625V10.3125C19.5 10.6231 19.2481 10.875 18.9375 10.875ZM8.25 4.5C9.8033 4.5 11.0625 5.7592 11.0625 7.3125C11.0625 8.8658 9.8033 10.125 8.25 10.125C6.6967 10.125 5.4375 8.8658 5.4375 7.3125C5.4375 5.7592 6.6967 4.5 8.25 4.5ZM11.4718 10.368L10.2182 10.0545C8.90123 11.0018 7.30486 10.7904 6.28177 10.0545L5.02823 10.368C4.27702 10.5557 3.75 11.2307 3.75 12.0051V12.6562C3.75 13.1222 4.12777 13.5 4.59375 13.5H11.9062C12.3722 13.5 12.75 13.1222 12.75 12.6562V12.0051C12.75 11.2307 12.223 10.5557 11.4718 10.368Z" fill="white"/>
                </svg>
            </div>
            <span class="item-text" style="padding-top: 0">View Profile</span>
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit') }}">
            <div class="vocalizr-icon">
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.907 4.74816C11.907 7.15664 9.98158 9.10863 7.60591 9.10863C5.23024 9.10863 3.30484 7.15664 3.30484 4.74816C3.30484 2.33968 5.23024 0.387695 7.60591 0.387695C9.98158 0.387695 11.907 2.33968 11.907 4.74816ZM9.64718 10.3705C9.92016 10.2675 10.2065 10.1986 10.4983 10.1986H10.6165C13.1098 10.1986 15.1326 12.2494 15.1326 14.7771V16.1943C15.1326 17.097 14.4102 17.8295 13.5197 17.8295H1.69176C0.801304 17.8295 0.0788574 17.097 0.0788574 16.1943V14.7771C0.0788574 12.2494 2.10171 10.1986 4.59499 10.1986H4.71499C5.0056 10.1986 5.29088 10.2668 5.56279 10.3694C6.20075 10.6101 6.88734 10.7437 7.60574 10.7437C8.32311 10.7437 9.01103 10.6105 9.64718 10.3705Z" fill="#FFF9F9"/>
                </svg>
            </div>
            <span class="item-text" style="padding-top: 3px">Edit Profile</span>
        </a>
    </li>
    {% if not app.user.isSubscribed %}
        <li><a href="{{ path('user_upgrade', {source: 'direct'}) }}" style="padding-top: 8px">
                <i class="vocalizr-icon fa fa-star"></i>
                <span class="item-text">Get more with <b>Access Pass</b></span>
            </a></li>
    {% else %}
        <li><a href="{{ path('user_edit') }}#membership">
                <i class="vocalizr-icon fas fa-ticket-alt"></i>
                <span class="item-text">Membership</span>
            </a></li>
    {% endif %}
    <li><a href="{{ path('user_financial') }}" style="padding-top: 3px">
            <i class="vocalizr-icon fas fa-money-check-alt"></i>
            <span class="item-text" style="padding-top: 7px;">Finances & Wallet</span>
        </a></li>
    <li><a href="{{ path('user_favorites') }}" style="padding-top: 12px">
            <div class="vocalizr-icon">
                <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.14623 18.0118C9.63397 18.5439 10.4283 18.5439 10.923 18.0118L18.5108 9.80115C20.7126 7.41416 20.5872 3.45981 18.1206 1.25975C15.9746 -0.659906 12.7764 -0.314799 10.8115 1.81336C10.394 2.2634 9.67513 2.27067 9.25771 1.82055C7.29283 -0.314799 4.09466 -0.659906 1.94861 1.25975C-0.510988 3.45981 -0.643374 7.41416 1.55842 9.80115L9.14623 18.0118Z" fill="#FFF9F9"/>
                </svg>
            </div>
            <span class="item-text" style="padding-top: 0">Favourites</span>
    </a></li>
    <li><a href="{{ path('user_stats') }}" style="padding-top: 10px;">
            <i class="vocalizr-icon fas fa-user-chart" style="padding-left: 3px;"></i>
            <span class="item-text" style="padding-top: 0">Statistics</span>
        </a></li>
    <li><a href="{{ path('connections') }}">
            <div class="vocalizr-icon">
                <svg width="29" height="17" viewBox="0 0 29 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5 0C17.1277 0 19.2578 2.08117 19.2578 4.64844C19.2578 7.2157 17.1277 9.29688 14.5 9.29688C11.8723 9.29688 9.74219 7.2157 9.74219 4.64844C9.74219 2.08117 11.8723 0 14.5 0ZM19.6413 9.62297L17.8296 9.18044C15.6017 10.7461 12.9011 10.3967 11.1704 9.18044L9.35875 9.62297C7.90635 9.97772 6.8875 11.2526 6.8875 12.7153V15.4062C6.8875 16.2864 7.61785 17 8.51875 17H20.4813C21.3822 17 22.1125 16.2864 22.1125 15.4062V12.7153C22.1125 11.2526 21.0936 9.97772 19.6413 9.62297ZM23.925 10.4479C25.6768 10.4479 27.0969 9.06047 27.0969 7.34896C27.0969 5.63745 25.6768 4.25 23.925 4.25C22.1732 4.25 20.7531 5.63745 20.7531 7.34896C20.7531 9.06047 22.1732 10.4479 23.925 10.4479ZM5.075 10.4479C6.82678 10.4479 8.24687 9.06047 8.24687 7.34896C8.24687 5.63745 6.82678 4.25 5.075 4.25C3.32322 4.25 1.90313 5.63745 1.90313 7.34896C1.90313 9.06047 3.32322 10.4479 5.075 10.4479ZM6.1625 15.4062V12.7153C6.1625 11.9826 6.37062 11.2896 6.7381 10.6966C5.37927 11.3483 3.86819 11.0821 2.85528 10.3703L1.64747 10.6653C0.679234 10.9018 0 11.7518 0 12.7268V14.5208C0 15.1076 0.486883 15.5833 1.0875 15.5833H6.17016C6.1653 15.5244 6.16274 15.4654 6.1625 15.4062ZM27.3525 10.6653L26.1447 10.3703C24.8794 11.2595 23.3856 11.2217 22.2575 10.6898C22.6277 11.2843 22.8375 11.9797 22.8375 12.7153V15.4062C22.8375 15.4659 22.8344 15.5248 22.8298 15.5833H27.9125C28.5131 15.5833 29 15.1076 29 14.5208V12.7268C29 11.7518 28.3208 10.9018 27.3525 10.6653Z" fill="white"/>
                </svg>
            </div>
            <span class="item-text" style="padding-top: 4px">Connections</span>
    </a></li>
    {% if app.user.isAdmin %}
        <li><a href="{{ path('admin') }}">
            <i class="vocalizr-icon fas fa-user-cog"></i>
                <span class="item-text">Admin</span>
            </a>
        </li>
    {% endif %}
    <li><a href="https://support.vocalizr.com" style="padding-top: 13px">
            <i class="vocalizr-icon fas fa-user-headset"></i>
            <span class="item-text">FAQ & Support</span>
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit') }}#account">
            <i class="vocalizr-icon fas fa-file-user"></i>
            <span class="item-text">Account</span>
        </a>
    </li>
    <li><a href="{{ path('logout') }}" style="padding-top: 13px">
            <div class="vocalizr-icon" style="padding-left: 3px">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7335 1.54297V10.7715C11.7335 11.2829 11.3005 11.6943 10.7623 11.6943H9.46732C8.92911 11.6943 8.49611 11.2829 8.49611 10.7715V1.54297C8.49611 1.03155 8.92911 0.620117 9.46732 0.620117H10.7623C11.3005 0.620117 11.7335 1.03155 11.7335 1.54297ZM20.1505 10.464C20.1505 7.26091 18.4914 4.43084 15.942 2.7005C15.4725 2.38135 14.817 2.52362 14.5337 3.00043L13.8943 4.08093C13.6556 4.48083 13.7648 4.99224 14.1574 5.2691C15.9136 6.50725 16.901 8.42985 16.9132 10.4217C16.9375 14.0708 13.8215 16.9239 10.1147 16.9239C6.33103 16.9239 3.31219 14.0092 3.31623 10.4601C3.31623 8.33372 4.38861 6.45726 6.06799 5.27294C6.46052 4.99609 6.57383 4.48467 6.33508 4.08093L5.6957 3.00043C5.41243 2.51978 4.75281 2.38519 4.27935 2.70435C1.73397 4.43853 0.0748181 7.27629 0.0788648 10.4793C0.0869582 15.7319 4.61118 20.0116 10.1349 20.0001C15.6668 19.9885 20.1505 15.7242 20.1505 10.464Z" fill="#FFF9F9"/>
                </svg>
            </div>
            <span class="item-text">Logout</span>
        </a>
    </li>
</ul>
<div class="close-btn">
    <svg class="" width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5555 22.7789C18.9386 23.162 19.5596 23.162 19.9427 22.7789L19.9697 22.7519C20.3528 22.3688 20.3528 21.7478 19.9697 21.3647L14.2993 15.6943L19.9697 10.0239C20.3528 9.6409 20.3528 9.01985 19.9697 8.6368L19.9427 8.60974C19.5596 8.22668 18.9386 8.22668 18.5555 8.60974L12.8851 14.2801L7.21472 8.60975C6.83167 8.2267 6.21062 8.2267 5.82757 8.60975L5.80051 8.63681C5.41746 9.01986 5.41746 9.64091 5.80051 10.024L11.4709 15.6943L5.80051 21.3647C5.41746 21.7478 5.41746 22.3688 5.80051 22.7519L5.82757 22.7789C6.21062 23.162 6.83167 23.162 7.21472 22.7789L12.8851 17.1085L18.5555 22.7789Z" fill="white"/>
    </svg>
</div>
