<div class="playlist">
    {% set played_callback_url = path('record_audio_play', {slug: userAudio.slug}) %}
    {% if not userAudio.scId %}
        {% set audioUrl = path('user_audio', {slug: userAudio.slug}) %}
    {% else %}
        {% set audioUrl = userAudio.scStreamUrl  ~ '?client_id=' ~ soundcloud_client_id %}
    {% endif %}
        {% embed "@VocalizrApp/Project/view/include/waveformed_player.html.twig" with {
            caption: userAudio.title,
            audio: userAudio,
            audioUrl: path('user_audio', {slug: userAudio.slug}),
            wide: true,
        } %}

            {% block caption_block %}
            {% if caption is defined %}
                <div class="track-label-container user-edit">
                    <div class="track-label">
                        {{ caption ? caption : '<i class="fa fa-microphone" aria-hidden="true"></i> AUDITION' }}
                    </div>
                    <input class="form-control input title-save" type="text" value="{{ caption ? caption : '<i class="fa fa-microphone" aria-hidden="true"></i> AUDITION' }}" style="display: none;">
                </div>
            {% endif %}
            <div class="featured-audio">
                {% if userAudio.defaultAudio %}<span class="badge badge-featured">FEATURED</span>{% endif %}
                {% if userAudio.scId is not null %}<a href="{{ userAudio.scPermalinkUrl }}" target="_blank" class="badge badge-soundcloud"><i class="vocalizr-icon icon-soundcloud"></i></a>{% endif %}
            </div>
            {% endblock %}

        {% endembed %}
</div>

<div id="{{ userAudio.slug }}-actions" class="user-audio-actions">
    <button name="edit_title" class="btn btn-sm btn-default title-edit roll-alt">EDIT</button>
    <button name="edit_title" data-href="{{ path('title_edit', { id : userAudio.id }) }}" class="btn btn-sm btn-default title-save roll-alt" style="display: none">SAVE</button>
    {% if not userAudio.defaultAudio %}
        <button class="btn btn-sm btn-default" type="submit" name="mark_featured" value="{{ userAudio.id }}">SET FEATURED</button>
    {% endif %}
    <button name="remove_track" value="{{ userAudio.id }}" class="btn btn-sm btn-default remove roll-alt">REMOVE</button>

</div>