<div class="panel panel-default hire-now-panel">
    <div class="panel-heading">
        {% block panel_title %}{% endblock %}
    </div>
    <div class="panel-body">
        <div class="panel-row" style="display: flex">
            <div class="avatar-pro-container">
                <a href="{{ path('user_view', {username: hireUser.username} ) }}">
                    <img src="{{ hireUser.path is empty ? asset('images/default_avatar.svg') :  asset('uploads/avatar/small/' ~ hireUser.path )}}" alt="{{ hireUser.username }}" width="58" height="58" class="img-circle" />
                {% if hireUser.isSubscribed %}
                    <img alt="pro" src="{{ asset('images/vocalizr_pro_stamp.svg') }}" class="svg-stamp-pro" data-text="<div class='tip-header'>This Vocalizr user is an <a href='{{ path('membership') }}' class=stamp-pro-hover>Access Pass</a> member</div>">
                {% endif %}
                </a>
            </div>
            <div class="gig-hire-user">
                <div class="gig-hire-name">
                    <a href="{{ path('user_view', {username: hireUser.username}) }}">{{ hireUser.displayName }}</a>
                    {% if hireUser.isCertified %}
                        <img class="vocalizr-certified-stamp-clipped" style="margin-bottom: 3px;" src="{{ asset('images/certified_pro_stamp_clipped.svg') }}" alt="" data-text="<div class='tip-header'>Vocalizr Certified Professional</div>A 'Certified Professional’ is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level.<br><a href='{{ path('get_certified') }}' class='get-certified-now' style='color: #01c2e5;'>Get Certified Now</a>">
                    {% endif %}
                </div>
                <div class="gire-hire-info">
                    {% if hireUser.isVocalist and hireUser.isProducer %}
                        Producer &amp; Vocalist
                    {% elseif hireUser.isVocalist %}
                        Vocalist
                    {% elseif hireUser.isProducer %}
                        Producer
                    {% endif %}
                </div>
                <div class="gig-hire-country">from {{ hireUser.country|countryName }}</div>
            </div>
        </div>
    </div>
</div>
