{% extends '::app.html.twig' %}


{% if app.request.get('filter') == "budget" %}
    {% set pageTitle = "Highest paid singing jobs, find singing work" %}
    {% set pageDesc = "Find the highest paid singing jobs and get paid. Use gig hunter to search for projects based on your vocal talents." %}
{% elseif app.request.get('filter') == 'ending_soon' %}
    {% set pageTitle = "Urgent singing jobs" %}
    {% set pageDesc = "Looking for urgent singers. Make music with producers using our vocalizr studio." %}
{% elseif app.request.get('filter') == 'lowest_bids' %}
    {% set pageTitle = "Lowest bids on paid work" %}
    {% set pageDesc = "Lowest bidders on gigs. Bid now to work with producers and vocalists." %}
{% else %}
    {% set pageTitle = "Vocalist wanted, Singing jobs" %}
    {% set pageDesc = "Vocalist wanted, find singing jobs and get paid. Use gig hunter to search for projects based on your vocal talents." %}
{% endif %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block description %}{{ pageDesc }}{% endblock %}

{% block javascript %}

        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/jquery.formatCurrency.min.js'
            '@VocalizrAppBundle/Resources/public/js/uploader/plupload.full.min.js'
            '@VocalizrAppBundle/Resources/public/js/recorder.js'
            '@VocalizrAppBundle/Resources/public/js/audio-uploader.js'
            '@VocalizrAppBundle/Resources/public/js/bid-audition.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            let isCertified = '{{ app.user.isCertified }}';
            $(document).ready(function (){
                {% if app.user.isJobDemo >= 1 and app.user.isSubscribed == false %}
                    $('#access-pass-popup').modal('show');
                    shuffle('shuffleJob', '#gig-results > .paging > ul > li > a');
                    shuffle('shuffleJob', '.gig-filter > ul > li > a');
                    shuffle('shuffleJob', '.padding > form');
                {% elseif app.user.isJobDemo < 1 %}
                    if (!isCertified) {
                        $('#certified-popup').modal('show');
                    }
                    {{ numberJobDemoPlus(app.user) }}
                {% else %}
                    if (!isCertified) {
                        $('#certified-popup').modal('show');
                    }
                {% endif %}
            });
            function shuffle(localItemName, elementClassName) {
                $(elementClassName).on('click', function (e) {
                    e.preventDefault();
                    $('#access-pass-popup').modal('show');
                });
            }

        </script>

{% endblock %}


{% block body %}
     {% if sfs %}
        <div class="row">
            <div class="sfs-banner">
                <a href="{{ path('contest_view', {uuid: sfs.uuid}) }}"><img src="/images/sfs/banner-thin-{{ sfs.uuid }}.jpg" class="img-responsive" /></a>
            </div>
        </div>
         {% endif %}
<div class="row">
    <div class="col-sm-8">
        <div id="gig-filter-header">
            {% if app.request.get('filter') == 'collaborations' %}
            <h1>Collaborations</h1>
            <div class="collab-subscribe">
                <input type="checkbox" name="email_collabs" value="1"> Email me of new collaborations
            </div>
            {% else %}
            <div id="activity-header">
                <h1>Jobs</h1>
                <div class="gig-filter">
                    <ul>
                        <li>Sort:</li>
                        <li {% if filter == 'latest' %}class="active"{% endif %}><a href="{{ path('gig_hunter', {filter : 'latest'})}}">Latest</a></li>
                        <li {% if filter == 'ending_soon' %}class="active"{% endif %}><a href="{{ path('gig_hunter', {filter : 'ending_soon'})}}">Ending Soon</a></li>
                        <li {% if filter == 'lowest_bids' %}class="active"{% endif %}><a href="{{ path('gig_hunter', {filter : 'lowest_bids'})}}">Lowest Bids</a></li>
                        <li {% if filter == 'budget' %}class="active"{% endif %}><a href="{{ path('gig_hunter', {filter : 'budget'})}}">Highest Budget</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="gig-results">
            {% if featured|length and app.request.get('page', 1) == 1 %}
            {% for project in featured %}
                <div class="gig-list-item{% if project.highlight %} highlight{% endif %}{% if project.featured %} featured{% endif %}">
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">FEATURED</div></div>
                    <div class="project-info">
                        {% if project.projectType == "paid" %}
                            <a href="{{ path('project_view', {uuid: project.uuid } ) }}" class="gig-title">{{ project.title }}</a>
                        {% else %}
                            <a href="{{ path('contest_view', {uuid: project.uuid } ) }}" class="gig-title">{{ project.title }}</a>
                        {% endif %}
                        {% if project.projectType == "paid" %}
                            {% if project.bidsDue|timeLeftSingle %}
                            <div class="deadline">BIDDING ENDS IN {{ project.bidsDue|timeLeftSingle.num }} {{ project.bidsDue|timeLeftSingle.text|upper }}</div><br>
                            {% else %}
                            <div class="deadline soon">BIDDING HAS ENDED</div><br>
                            {% endif %}
                        {% else %}
                            {% if project.bidsDue|timeLeftSingle %}
                            <div class="deadline">CONTEST ENDS IN {{ project.bidsDue|timeLeftSingle.num }} {{ project.bidsDue|timeLeftSingle.text|upper }}</div><br>
                            {% else %}
                            <div class="deadline soon">CONTEST HAS ENDED</div><br>
                            {% endif %}
                        {% endif %}
                        <div class="audio">
                            {% if project.projectAudio|length > 0 %}
                                {% set projectAudio = project.projectAudio[0] %}
                                <div class="ui360 track-play"><a href="{{ cdn_url }}{{ path('project_audio', {uuid: project.uuid, slug: projectAudio.slug}) }}" type="audio/mp3" data-project="{{ projectAudio.slug }}"><span>PLAY</span></a></div>
                            {% endif %}
                        </div>
                        <div class="info">Created by: <a href="{{ path('user_view', {username: project.UserInfo.username} ) }}">{{ project.UserInfo.displayName }}</a></div>
                        <div class="info looking-for">Looking for: <span class="highlight">{% if project.lookingFor == 'vocalist' %}{% if project.gender is null %}MALE OR FEMALE{% else %}{% if project.gender == 'male' %}MALE{% else %}FEMALE{% endif %}{% endif %}{% endif %} {{ project.lookingFor|upper }}</span></div>
                        <div class="bidding-info">
                            {% if project.projectType == 'paid' %}
                                <div class="info budget">Budget: <span class="highlight">${{ project.budgetFrom }}{% if project.budgetTo > 0 %} - ${{ project.budgetTo }}{% else %}+{% endif %}</span></div>
                            {% elseif project.projectType == 'contest' %}
                                {% if project.sfs %}
                                    <div class="info"><span class="badge badge-sfs">SEARCH FOR A SINGER</span></div>
                                {% else %}
                                    <div class="info"><span class="badge badge-orange">CONTEST</span></div>
                                {% endif %}
                                <div class="info budget">Payment: <span class="highlight">${{ project.budgetFrom }}</span></div>
                            {% endif %}
                            {% if project.royalty %}
                                <div class="info royalty">
                                    Royalty: <span class="highlight">{{ project.royalty }}%</span>
                                    {% if project.royaltyMechanical %}
                                        <span class="icon-royalty-mechanical" data-text="Mechanical royalties offered">M</span>
                                    {% endif %}
                                    {% if project.royaltyPerformance %}
                                        <span class="icon-royalty-performance" data-text="Performance royalties offered">P</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if project.projectType == 'paid' %}
                                <div class="info">Bids: <span class="highlight">{{ project.numBids }}</span></div>
                                <div class="info">Avg Bid: <span class="highlight">${% if project.numBids > 0 %}{{ ((project.bidTotal / project.numBids) / 100)|number_format(2) }}{% else %}0{% endif %}</span></div>
                            {% else %}
                                <div class="info">Entries: <span class="highlight">{{ project.numBids }}</span></div>
                            {% endif %}
                        </div>
                        <div class="bidding-info">
                        {% if app.user and project.userInfo != app.user and project.projectBids|length > 0  %}
                            {% set userBid = project.projectBids[0] %}
                            {% if project.projectType == 'paid' %}
                                <div class="badge badge-green" style="font-size: 12px;height:20px;line-height:20px;">Your bid: ${{ (userBid.amount/100)|number_format(2) }}</div>
                            {% else %}
                                <div class="badge badge-green" style="font-size: 12px;height:20px;line-height:20px;">Entry submitted</div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div style="height: 15px"></div>
            {% endif %}

            {% for project in pagination %}
                <div class="gig-list-item{% if project.highlight %} highlight{% endif %}{% if project.featured %} featured{% endif %}">
                    <div class="project-info">
                        {% if project.projectType == "paid" %}
                            <a href="{{ path('project_view', {uuid: project.uuid } ) }}" class="gig-title">{{ project.title }}</a>
                        {% else %}
                            <a href="{{ path('contest_view', {uuid: project.uuid } ) }}" class="gig-title">{{ project.title }}</a>
                        {% endif %}
                        {% if project.projectType == "paid" %}
                            {% if project.bidsDue|timeLeftSingle %}
                            <div class="deadline">BIDDING ENDS IN {{ project.bidsDue|timeLeftSingle.num }} {{ project.bidsDue|timeLeftSingle.text|upper }}</div><br>
                            {% else %}
                            <div class="deadline soon">BIDDING HAS ENDED</div><br>
                            {% endif %}
                        {% else %}
                            {% if project.bidsDue|timeLeftSingle %}
                            <div class="deadline">CONTEST ENDS IN {{ project.bidsDue|timeLeftSingle.num }} {{ project.bidsDue|timeLeftSingle.text|upper }}</div><br>
                            {% else %}
                            <div class="deadline soon">CONTEST HAS ENDED</div><br>
                            {% endif %}
                        {% endif %}
                        <div class="audio">
                            {% if project.projectAudio|length > 0 %}
                                {% set projectAudio = project.projectAudio[0] %}
                                <div class="ui360 track-play"><a href="{{ cdn_url }}{{ path('project_audio', {uuid: project.uuid, slug: projectAudio.slug}) }}" type="audio/mp3" data-project="{{ projectAudio.slug }}"><span>PLAY</span></a></div>
                            {% endif %}
                        </div>
                        <div class="info">Created by: <a href="{{ path('user_view', {username: project.UserInfo.username} ) }}">{{ project.UserInfo.displayName }}</a></div>
                        <div class="info looking-for">Looking for: <span class="highlight">{% if project.lookingFor == 'vocalist' %}{% if project.gender is null %}MALE OR FEMALE{% else %}{% if project.gender == 'male' %}MALE{% else %}FEMALE{% endif %}{% endif %}{% endif %} {{ project.lookingFor|upper }}</span></div>
                        <div class="bidding-info">
                            {% if project.projectType == 'paid' %}
                                <div class="info budget">Budget: <span class="highlight">${{ project.budgetFrom }}{% if project.budgetTo > 0 %} - ${{ project.budgetTo }}{% else %}+{% endif %}</span></div>
                            {% elseif project.projectType == 'contest' %}
                                {% if project.sfs %}
                                    <div class="info"><span class="badge badge-sfs">SEARCH FOR A SINGER</span></div>
                                {% else %}
                                    <div class="info"><span class="badge badge-orange">CONTEST</span></div>
                                {% endif %}
                                <div class="info budget">Payment: <span class="highlight">${{ project.budgetFrom }}</span></div>
                            {% endif %}
                            {% if project.royalty %}
                                <div class="info royalty">
                                    Royalty: <span class="highlight">{{ project.royalty }}%</span>
                                    {% if project.royaltyMechanical %}
                                        <span class="icon-royalty-mechanical" data-text="Mechanical royalties offered">M</span>
                                    {% endif %}
                                    {% if project.royaltyPerformance %}
                                        <span class="icon-royalty-performance" data-text="Performance royalties offered">P</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if project.projectType == 'paid' %}
                                <div class="info">Bids: <span class="highlight">{{ project.numBids }}</span></div>
                                <div class="info">Avg Bid: <span class="highlight">${% if project.numBids > 0 %}{{ ((project.bidTotal / project.numBids) / 100)|number_format(2) }}{% else %}0{% endif %}</span></div>
                            {% else %}
                                <div class="info">Entries: <span class="highlight">{{ project.numBids }}</span></div>
                            {% endif %}
                        </div>
                        <div class="bidding-info">
                        {% if app.user and project.userInfo != app.user and project.projectBids|length > 0  %}
                            {% set userBid = project.projectBids[0] %}
                            {% if project.projectType == 'paid' %}
                                <div class="badge badge-green" style="font-size: 12px;height:20px;line-height:20px;">Your bid: ${{ (userBid.amount/100)|number_format(2) }}</div>
                            {% else %}
                                <div class="badge badge-green" style="font-size: 12px;height:20px;line-height:20px;">Entry submitted</div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Currently no jobs</p>
            {% endfor %}

            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
    <div class="col-sm-4">

        <div class="search-panel panel panel-default">
            <div class="panel-heading">
                REFINE YOUR SEARCH
            </div>
            <div class="panel-body padding">
                <form action="{{ path('gig_hunter', {filter: app.request.get('filter')} ) }}" method="get" novalidate>
                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.project_type) }}
                    </div>
                </div>
                    
                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.looking_for) }}
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.keywords) }}
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.budget) }}
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.gender) }}
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" name="{{ form.studio_access.vars.full_name }}" value="1"{% if form.vars.value.studio_access %} checked{% endif %}> Must have studio access
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.genre) }}
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.vocal_characteristic) }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.vocal_style) }}
                    </div>
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-sm-12">
                        {{ form_row(form.languages) }}
                    </div>
                </div>

                <hr>

                <div class="form-buttons">
                    <button type="submit" name="search" value="SEARCH" class="btn btn-sm btn-default">SEARCH</button>
                    <a href="{{ path('gig_hunter') }}" class="btn btn-sm btn-default reset">RESET</a>
                </div>
                {{ form_row(form._token) }}
                </form>
            </div>
        </div>
    </div>

</div>
                <style>#project_search_project_type label:nth-child(even), #project_search_looking_for label:nth-child(even) { display: none; } #project_search_project_type .checkbox.inline { margin-right: 15px; }</style>
{% endblock %}

{% block modals %}
    <div id="certified-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/getcertified_modal.html.twig' %}
    </div>

    <div id="access-pass-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/access_pass_job_modal.html.twig' %}
    </div>
{% endblock %}