{% extends '::app.html.twig' %}

{% block body_attributes %}
    oncontextmenu="return false;"
{% endblock %}

{% block title %}{{ project.title}}, Studio{% endblock %}

{% block description %}In the studio {% endblock %}

{% block javascript %}

        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/jquery.formatCurrency.min.js'
            '@VocalizrAppBundle/Resources/public/js/uploader/plupload.full.min.js'
            '@VocalizrAppBundle/Resources/public/js/audio-uploader.js'
            '@VocalizrAppBundle/Resources/public/js/asset-studio-uploader.js'
            '@VocalizrAppBundle/Resources/public/js/studio.js'
            '@VocalizrAppBundle/Resources/public/js/waveforms.js'
            '@VocalizrAppBundle/Resources/public/js/wavesurfer.min.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="lwlg3v5wizqu8f2"></script>
        <script>
            AudioUploader.init('comment-upload-audio-container', 'comment-upload-audio-btn');
            Studio.init('{{ path('project_studio', {uuid: project.uuid}) }}');
            $(document).on('click', '.release-escrow', function(e) {
                e.preventDefault();
                $('#release-payment-popup').modal('show');
            });
            $(document).on('click', 'input[name="question-first"]', function(e) {
                if ($(this).val() == 0){
                    $('#question-first').css('display', 'block');
                    $('button[name=release_escrow]').attr('disabled', true);
                    if($(this).parent().hasClass('checked')) {
                        $(this).parent().removeClass('checked');
                    } else {
                        $(this).parent().addClass('checked');
                        $($('input[name="question-first"]')[0]).parent().removeClass('checked')
                    }
                } else {
                    $('#question-first').css('display', 'none');
                    if($(this).parent().hasClass('checked')) {
                        $(this).parent().removeClass('checked');
                    } else {
                        $(this).parent().addClass('checked');
                        $($('input[name="question-first"]')[1]).parent().removeClass('checked')
                    }
                    if ($('#question-radio-second').prop("checked")) {
                        $('button[name=release_escrow]').attr('disabled', false);
                    }
                }

            });
            $(document).on('click', 'input[name="question-second"]', function(e) {
                if ($(this).val() == 1){
                    $('#question-second').css('display', 'block');
                    $('button[name=release_escrow]').attr('disabled', true);
                    if($(this).parent().hasClass('checked')) {
                        $(this).parent().removeClass('checked');
                    } else {
                        $(this).parent().addClass('checked');
                        $($('input[name="question-second"]')[1]).parent().removeClass('checked')
                    }
                } else {
                    $('#question-second').css('display', 'none');
                    if($(this).parent().hasClass('checked')) {
                        $(this).parent().removeClass('checked');
                    } else {
                        $(this).parent().addClass('checked');
                        $($('input[name="question-second"]')[0]).parent().removeClass('checked')
                    }
                    if ($('#question-radio-first').prop("checked")) {
                        $('button[name=release_escrow]').attr('disabled', false);
                    }
                }

            });
        </script>
{% endblock %}
{% block stylesheet %}
    {% stylesheets
        '@VocalizrAppBundle/Resources/public/css/project-studio.css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block body %}
    {% set displayNames = project.getUserDisplayNames %}
<div class="row">
    <div class="col-sm-12 gig-header">
        {% include 'VocalizrAppBundle::messages.html.twig' %}

        <h1>{{ project.title }}</h1>
        <div class="avatar">
            <a href="{{ path('user_view', { username: project.userInfo.username }) }}">
            {% if project.userInfo.path is empty %}
            <img src="{{ asset('images/default_avatar.svg') }}" width="40" height="40" class="img-circle img-mini" alt="{{ project.userInfo.username }}" />
            {% else %}
            <img src="{{ asset('uploads/avatar/small/' ~ project.userInfo.path ) }}" width="40" height="40" class="img-circle img-mini" alt="{{ project.userInfo.username }}" />
            {% endif %}
            </a>
        </div>
        <a href="{{ path('user_view', { username: project.userInfo.username }) }}">{{ project.userInfo.displayName }}</a> created this gig <span class="time-ago">{{ project.createdAt|timeAgoString }} ago</span>
        <ul class="payment-info">
            <li>Payment details:</li>
            <li>
                <span class="white-highlight">{{ project.royalty }}% royalties</span>
                {% if project.royaltyMechanical %}
                    <span class="icon-royalty-mechanical" data-text="Mechanical royalties offered">M</span>
                {% endif %}
                {% if project.royaltyPerformance %}
                    <span class="icon-royalty-performance" data-text="Performance royalties offered">P</span>
                {% endif %}
            </li>
            {% if disputeAccepted is null or disputeAccepted.amount != 0 %}
            <li><span class="white-highlight">${{ project.ProjectEscrow.amountDollars }}</span>
                {% if project.isComplete %}
                    has been released to <a href="{{ path('user_view', {username: project.projectBid.UserInfo.username} ) }}">{{ project.projectBid.UserInfo.displayName }}</a>.
                {% else %}
                    is sitting in Vocalizr Payment Protection.
                {% endif %}
            </li>
            {% endif %}
        </ul>
        <hr>

        {% if defaultProjectAudio %}
            <div class="gig-track big-player-container">
                <div class="playlist">
                    {% include '@VocalizrApp/Project/view/include/waveformed_player.html.twig' with {
                        audio: defaultProjectAudio,
                        audioUrl: path('project_audio', {uuid: project.uuid, slug: defaultProjectAudio.slug}),
                        caption: 'MASTER TRACK',
                    } %}
                </div>
                {% if project.isOwner(app.user) %}
                <a data-toggle="vmodal" href="{{ path('project_studio_upload', {uuid: project.uuid, type: 'M'}) }}" class="btn btn-default btn-sm">EDIT MASTER AUDIO</a>
                {% endif %}
                <a href="{{ path('project_studio_download_master', {uuid: project.uuid, slug: defaultProjectAudio.slug}) }}" class="btn btn-sm btn-default">DOWNLOAD MASTER TRACK</a>
            </div>
        {% elseif project.isOwner(app.user) %}
            <div class="gig-track">
            <a data-toggle="vmodal" href="{{ path('project_studio_upload', {uuid: project.uuid, type: 'M'}) }}" class="btn btn-default btn-sm">UPLOAD MASTER AUDIO</a>
            </div>
        {% endif %}

        {% if employeeAudio %}
            <div class="gig-track big-player-container">
                {% include '@VocalizrApp/Project/view/include/waveformed_player.html.twig' with {
                    audio: employeeAudio,
                    audioUrl: path('project_audio', {uuid: project.uuid, slug: employeeAudio.slug}),
                    caption: 'LATEST RECORDING',
                } %}
            {% if not project.isOwner(app.user) %}
            <a data-toggle="vmodal" href="{{ path('project_studio_upload', {uuid: project.uuid, type: 'W'}) }}" class="btn btn-default btn-sm">UPLOAD YOUR LATEST RECORDING</a>
            {% endif %}
            {% if project.isOwner(app.user) and not project.promptAssets and not project.isComplete %}
                <form action="{{ path('project_studio', {uuid: project.uuid}) }}" method="post">
                    <button class="btn btn-sm btn-default" name="prompt_assets" value="Prompt for Assets">PROMPT FOR ASSETS</button>
                </form>
            {% endif %}
            </div>
        {% else %}
            <br>
            {% if not project.isOwner(app.user) %}

                <a data-toggle="vmodal" href="{{ path('project_studio_upload', {uuid: project.uuid, type: 'W'}) }}" class="btn btn-default btn-sm" style="margin-top:0;">UPLOAD YOUR LATEST RECORDING</a>
            {% endif %}
            {% if project.isOwner(app.user) and not project.promptAssets and not project.isComplete %}
                <form action="{{ path('project_studio', {uuid: project.uuid}) }}" method="post">
                    <button class="btn btn-sm btn-default" name="prompt_assets" value="Prompt for Assets">PROMPT FOR ASSETS</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 gig-studio">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">Studio Message Board</a></li>
            <li><a href="#lyrics" data-toggle="tab">Lyrics</a></li>
            {% if not project.fullyRefunded %}
                <li><a href="#assets" data-toggle="tab">Assets</a></li>
            {% endif %}
            <li><a href="#payment" data-toggle="tab">Payment</a></li>
            <li><a href="#agreement" data-toggle="tab">Agreement</a></li>
            {% if canReview %}
            <li><a href="#rating" data-toggle="tab">Review User</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            {% include '@VocalizrApp/ProjectStudio/tabs/activity.html.twig' %}
            {% include '@VocalizrApp/ProjectStudio/tabs/lyrics.html.twig' %}
            {% if not project.fullyRefunded %}
                {% include '@VocalizrApp/ProjectStudio/tabs/assets.html.twig' %}
            {% endif %}
            {% include '@VocalizrApp/ProjectStudio/tabs/payment.html.twig' %}
            {% include '@VocalizrApp/ProjectStudio/tabs/agreement.html.twig' %}

            {% if canReview %}
                {% include '@VocalizrApp/ProjectStudio/tabs/review.html.twig' %}
            {% endif %}

        </div>

    </div>
</div>
{% endblock %}
{% block modals %}
    {% if app.session.hasFlash('assets_uploaded') and app.session.flash('assets_uploaded') %}
        <script>
            $(function () {
                var $assetsModal = $('#assets_uploaded_modal');
                $assetsModal.modal('show');
                $assetsModal.find('.btn-primary').click(function (e) {
                    e.preventDefault();
                    $assetsModal.modal('toggle');
                });
            });
        </script>
        <div id="assets_uploaded_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
            {% include 'include/panel/assets_uploaded.html.twig' %}
        </div>
    {% endif %}
    <div id="release-payment-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/release_payment_modal.html.twig' %}
    </div>
{% endblock %}