{% extends '::app.html.twig' %}

{% block title %}Sign Agreement{% endblock %}

{% block description %}Sign agreement{% endblock %}

{% block javascript %}
        {% javascripts 
            '@VocalizrAppBundle/Resources/public/js/project.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
        <script>
            Project.init();
        </script>

        <script>
            let isVerified = '{{ app.user.isVerified }}';

            $('#sign_agreement').on('click', function(e) {
                if (!isVerified) {
                    $('#verify-popup').modal('show');
                    return false;
                } else {
                    return true;
                }
            });
            $(document).on('click', 'a#identity-intents', function(e) {
                e.preventDefault();
                let link = $(this);

                $.ajax({
                    url: link.attr('href') + '?type=project&project={{ project.uuid }}',
                    success: function(data) {
                        if (data.success) {
                            window.location.href = data.identity_url;
                        }
                    }
                });
            });
        </script>
{% endblock %}

{% block body %}

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                   <div class="col-sm-12">
                        {% include 'VocalizrAppBundle::messages.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if project.projectType == 'contest' %}
                        <div class="badge badge-orange pull-right">CONTEST</div>
                        {% endif %}
                        <h1>Sign Agreement</h1>
                        <div class="gig-genre">For gig: <span class="white-highlight">{{ project.title }}</span></div>
                        
                        <hr>

                        <div class="light-content">
                            <div class="gig-agreement">
                                {% if project.projectType == 'contest' %}
                                {{ render(controller('VocalizrAppBundle:Contest:agreement', {'project': project, projectBid: projectBid})) }}
                                {% else %}
                                {{ render(controller('VocalizrAppBundle:Project:agreement', {'project': project, projectBid: projectBid})) }}
                                {% endif %}
                            </div>

                            <form id="signature-form" action="{{ path('project_studio', {uuid: project.uuid} ) }}" method="post">
                                {{ form_widget(form._token) }}
                                <div id="signature" class="form-group row">
                                    <div class="col-xs-5">
                                        <label>SIGN AGREEMENT {{ form_errors(form.employee_name) }}</label>
                                        <input type="text" disabled value="{{ app.user.fullName|upper }}" class="form-control" placeholder="Please enter your full name...">
                                        <input type="hidden" name="{{ form.employee_name.vars.full_name }}" value="{{ app.user.fullName|upper }}">
                                    </div>
                                </div>
                                <hr>
                                <button id="sign_agreement" type="submit" name="sign_agreement" class="btn btn-sm btn-default " value="sign agreement">SIGN AGREEMENT</button>
                            </form>
                        </div>
                
                    </div>
                </div>
            </div>
            
            <div id="project-status-widget" class="col-sm-4">
                {% if project.projectType == 'contest' %}
                    {{ render(controller('VocalizrAppBundle:Contest:projectStatusWidget', {
                        'uuid': project.uuid,
                        'fromPage' : 'agreement'
                    })) }}
                {% else %}
                    {{ render(controller('VocalizrAppBundle:Project:projectStatusWidget', {
                        'uuid': project.uuid,
                        'fromPage' : 'agreement'
                    })) }}
                {% endif %}
            </div>
        </div>
{% endblock %}
{% block modals %}
    <div id="verify-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/verify_identity_modal.html.twig' %}
    </div>
{% endblock %}