<!-- MEMBERSHIP TAB -->
<div class="tab-pane fade in" id="membership">

    {% if userSub %}
        {% if userSub.stripeSubscrId and membership %}
            {% if membership.cancel_at_period_end %}
                <h3>You have cancelled your Access Pass Membership</h3>
            {% else %}
                <h3>You are subscribed to Vocalizr Access Pass</h3>
            {% endif %}
            {% if membership.status == "trialing" %}
                {% if membership.cancel_at_period_end %}
                    <p>You have requested to cancel your Access Pass membership.</p>
                    <p>Your free trial ends {{ membership.current_period_end|date('jS F, Y') }}.</p>
                    <p>Cancellation will take affect at the end of your trial and you will lose access to all Access Pass features.</p>

                    <a class="btn btn-default btn-sm roll-alt" data-toggle="vmodal" href="{{ path('user_membership_dont_cancel') }}">I DON'T WANT TO CANCEL MY MEMBERSHIP</a>
                {% else %}
                    <table>
                        <tr>
                            <td>FREE TRIAL:</td>
                            <td>{{ membership.trial_end|daysOffset }} days left on your free trial</td>
                        </tr>
                        <tr>
                            <td>YOUR PLAN:</td>
                            <td>
                                ${{ (membership.plan.amount / 100)|number_format(2) }} {{ membership.plan.currency|upper}} per {{ membership.plan.interval }}
                            </td>
                        </tr>
                        <tr>
                            <td>NEXT BILLING DATE:</td>
                            <td>{{ membership.current_period_end|date('jS F, Y') }}</td>
                        </tr>
                        {% if cu and cu.default_source and cu.default_source.brand %}
                            <tr>
                                <td>YOUR CARD</td>
                                <td>{{ cu.default_source.brand }} ending in {{ cu.default_source.last4 }} - Expires: {{ cu.default_source.exp_month }} / {{ cu.default_source.exp_year }}</td>
                            </tr>
                        {% endif %}
                    </table>
                    <form action="{{ path('user_update_card') }}" method="POST" style="display: inline">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_checkout_key }}"
                                data-image="/images/v-stripe-logo.jpg"
                                data-name="Vocalizr"
                                data-panel-label="Update Card Details"
                                data-label="Update Card Details"
                                data-allow-remember-me=false
                                data-email="{{ app.user.email }}"
                                data-billing-address=true
                                data-locale="auto">
                        </script>
                    </form>
                    <a class="btn btn-default btn-sm roll-alt" data-toggle="vmodal" href="{{ path('user_cancel_confirm') }}">CANCEL MEMBERSHIP</a>
                {% endif %}
            {% else %}
                {% if membership.cancel_at_period_end %}
                    <p>You have requested to cancel your Access Pass membership.</p>
                    <p>Cancellation will take affect {{ membership.current_period_end|date('jS F, Y') }} at the end of current billing period and you will lose access to all Access Pass features.</p>

                    <a class="btn btn-default btn-sm roll-alt" data-toggle="vmodal" href="{{ path('user_membership_dont_cancel') }}">I DON'T WANT TO CANCEL MY MEMBERSHIP</a>
                {% else %}
                    <p>Next billing date: {{ membership.current_period_end|date('jS F, Y') }}<br>
                        {% if cu and cu.default_source and cu.default_source.brand %}
                            Your Card: {{ cu.default_source.brand }} ending in {{ cu.default_source.last4 }} - Expires: {{ cu.default_source.exp_month }} / {{ cu.default_source.exp_year }}
                        {% endif %}
                    </p>
                    <form action="{{ path('user_update_card') }}" method="POST" style="display: inline">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_checkout_key }}"
                                data-image="/images/v-stripe-logo.jpg"
                                data-name="Vocalizr"
                                data-panel-label="Update Card Details"
                                data-label="Update Card Details"
                                data-allow-remember-me=false
                                data-email="{{ app.user.email }}"
                                data-billing-address=true
                                data-locale="auto">
                        </script>
                    </form>
                    <a class="btn btn-default btn-sm roll-alt" data-toggle="vmodal" href="{{ path('user_cancel_confirm') }}">CANCEL MEMBERSHIP</a>
                {% endif %}
            {% endif %}


        {% endif %}

        {% if userSub.paypalSubscrId %}
            {% if not userSub.dateEnded %}
                <h3>You are subscribed to Vocalizr Access Pass</h3>
                <p>You have subscribed via your PayPal account.</p>
                <a class="btn btn-default btn-sm roll-alt" data-toggle="vmodal" href="{{ path('user_cancel_confirm') }}">CANCEL MEMBERSHIP</a>
            {% else %}
                <h3>You have cancelled your Access Pass Membership</h3>
                <p>Cancellation will take affect at the end of your billing period {{ userSub.nextPaymentDate|date('jS F, Y') }} and you will lose access to all Access Pass features.</p>
            {% endif %}
        {% endif %}

        <hr>


        <h3>Access Pass Membership Features</h3>
        <div class="voc-panel pro plan">
            <ul class="unstyled white-highlight pro-features">
                <li><b>60 Connections Per Month</b></li>
                <li><b>100 Profile Tracks</b></li>
                <li><b>Hire Now & Messaging</b></li>
                <li><b>Start working on Vocalizr</b></li>
                <li><b>Access Pass highlighted job postings</b></li>
                <li><span class="badge badge-new">NEW</span> <b>Advanced profile page</b></li>
                <li>Advanced statistics</li>
                <li>Spotify & Youtube integration</li>
                <li>Save on fees</li>
                <li>Zero fee&nbsp;<b>instant payouts</b></li>
            </ul>
        </div>

    {% else %}
        <h3>You have FREE Membership</h3>

        <p><a href="{{ path('membership') }}" class="btn btn-sm btn-primary">Upgrade to <b>Access Pass</b></a></p>

        <hr>


        <h3>FREE Membership Features</h3>
        <ul>
            <li>Vocalizr profile page</li>
            <li>View jobs</li>
            <li>Post Gigs & Contests</li>
            <li>Standard statistics</li>
            <li>Payouts in 5 days</li>
        </ul>
    {% endif %}



</div>
<!--/END MEMBERSHIP TAB -->
