{% extends '::app.html.twig' %}

{% block title %}Edit your contest{% endblock %}

{% block javascript %}
        
        {% javascripts 
            '@VocalizrAppBundle/Resources/public/js/jquery.formatCurrency.min.js'
            '@VocalizrAppBundle/Resources/public/js/uploader/plupload.full.min.js'
            '@VocalizrAppBundle/Resources/public/js/audio-uploader.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
        {% javascripts 
            '@VocalizrAppBundle/Resources/public/js/jquery.geocomplete.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
        <script>
            AudioUploader.init('gig-upload-audio-container', 'upload-audio-btn');

            $('#geo-location').geocomplete({
                details: "#gig-edit",
                types: ['(cities)'],
                blur: true,
                detailsAttribute: "data-geo"
            });
            
            $('#save-gig-form').on('submit', function (e) {
               e.preventDefault();
               
               $.post($(this).attr('action'), $(this).serialize(), function (data) {
                   console.log(data);
                   $('#submit-payment').click();
               });

            });
            
            if ($('#project_lyrics_needed_0').is(':checked')) {
                $('.lyrics-input').hide();
            }
        </script>

{% endblock %}

{% block body %}

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                                        
                        <span class="badge badge-orange gig-type">CONTEST</span>
                        <h1>{{ project.title }}</h1>
                    </div>
                </div>
                {% include 'VocalizrAppBundle::messages.html.twig' %}
                

                <div class="light-content">
                    
                        <p>Enter the brief for your contest below. The more info you enter the better chance you'll have of getting entries for your contest.</p>
                        
                        <hr>
                        
                            {% if defaultProjectAudio %}
                                
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label>CONTEST AUDIO <span class="help-note">DOWNLOADABLE BY ENTRANT</span></label>
                                    <div class="track-list-item">
                                        <div class="ui360 track-play inline"><a href="{{ path('project_audio', {uuid: project.uuid, slug: defaultProjectAudio.slug}) }}?1" type="audio/mp3"><span>PLAY</span></a></div>
                                        <span class="track-title">{{ defaultProjectAudio.title }}</span>
                                        <span class="track-length">({{ defaultProjectAudio.durationString }})</span>
                                        <span class="badge badge-featured">FEATURED</span>
                                    </div>
                                </div>
                            </div>
                     
                            {% endif %}
                            
                            <div class="row form-group">
                                <div class="col-sm-7">
                                    <label for="gig-upload-audio-container">CHANGE AUDIO:</label> <span class="help-note">MP3,AAC,M4A FILES ONLY</span>
                                </div>
                            </div>

                            <div id="gig-upload-audio-container" data-url="{{ path('upload_audio') }}" data-extensions="{{ upload_audio_allowed_extended }}" data-form="gig-edit">
                                <div class="upload-audio-actions">
                                    <a id="upload-audio-btn" href="" class="btn btn-sm btn-default">SELECT FILE</a>
                                </div>
                                <div class="upload-audio-error hide"></div>
                                <div class="upload-audio-bar-container">
                                    Uploading...
                                    <div class="progress"><div class="upload-audio-bar progress-bar" style="width: 0;"></div></div>
                                </div>
                                <div class="audio-upload-preview">
                                    <hr>
                                    <div class="track-list-item">
                                        <div class="track-play inline"><a href=""><span>PLAY</span></a></div>
                                        <span class="track-title"></span>
                                        <span class="track-length"></span>
                                        <span class="badge badge-featured">PREVIEW</span>
                                        <a href="" class="btn btn-sm btn-default remove">CANCEL</a>
                                    </div>
                                </div>
                            </div>
                                
                        <hr>
                        
                        <form id="gig-edit" action="#brief" method="post" novalidate>
                            {{ form_row(form._token) }}
                
                            {% if project.numBids == 0 %}
                            <div class="row form-group">
                                <div class="col-sm-5 form-royalty-type-group">
                                    <div class="">
                                        <label class="field-label required" for="s2id_autogen3">Royalties<i class="fa fa-question-circle"></i>{{ form_errors(form.royalty) }}</label><br>
                                        {{ form_widget(form.royalty_mechanical) }}
                                        {{ form_widget(form.royalty_performance) }}
                                    </div>
                                </div>
                                <div class="col-sm-5 form-royalty-group">
                                    {{ form_widget(form.royalty, {'attr': {'data-slider-value': form.vars.value.royalty}}) }}
                                    <div class="royalty-num"><span>{{ form.vars.value.royalty }}</span>%</div>
                                </div>
                                <div id="royalty-tip">
                                    Set the percentage of royalties you agree to share with the employee
                                </div>
                            </div>
                                
                            <hr>
                            {% else %}
                                <div class="hide">
                                        {{ form_widget(form.royalty_mechanical) }}
                                        {{ form_widget(form.royalty_performance) }}
                                        {{ form_widget(form.royalty, {'attr': {'data-slider-value': form.vars.value.royalty}}) }}
                                </div>
                            {% endif %}

                            <hr>

                            <div class="row form-group">
                                {% set location = '' %}
                                {% if project.city %}
                                    {% set location = project.city ~ ', ' ~ project.state ~ ', ' ~ project.country|countryName %}
                                {% endif %}
                                <div class="col-sm-5">
                                    <label class="field-label" for="location">LOCATION {{ form_errors(locationForm.city) }}</label>
                                    <input id="geo-location" type="text" name="location" class="form-control" value="" placeholder="Start typing your city...">
                                    {{ form_widget(locationForm.city) }}
                                    {{ form_widget(locationForm.state) }}
                                    {{ form_widget(locationForm.location_lat) }}
                                    {{ form_widget(locationForm.location_lng) }}
                                    {{ form_widget(locationForm.country) }}
                                    {{ form_row(locationForm._token) }}
                                </div>
                                <div class="col-sm-7">
                                    {% if location %}
                                            <div class="current-location">
                                            <div class="icon-wrap"><i class="fa fa-map-marker"></i></div>
                                            <div class="location-text">SET LOCATION<br><span class="white-highlight">{{ location }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <hr>

                            <div class="row form-group">
                                <div class="col-sm-2">
                                    {{ form_row(form.bpm) }}
                                </div>
                            </div>
                                
                            <hr>
                            
                            <div class="row form-group">
                                <div class="col-sm-5">
                                    {{ form_row(form.gender) }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form_row(form.language) }}
                                </div>
                            </div>
                            
                            <hr>

                            <div class="row form-group">
                                <div class="col-sm-5 checkboxes">
                                    {{ form_widget(form.studio_access) }}
                                </div>
                            </div>

                            <hr>
                            
                            <div class="row form-group">
                                <div class="col-sm-5">
                                    {{ form_row(form.vocalCharacteristics) }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form_row(form.vocalStyles) }}
                                </div>
                            </div>
                                
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    {{ form_row(form.audio_brief) }}
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    {{ form_row(form.genres) }}
                                </div>
                            </div>
                            
                            <hr>
                            
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    {{ form_row(form.lyrics_needed) }}
                                </div>
                            </div>
                            <div class="row form-group lyrics-input">
                                <div class="col-sm-12">
                                    {{ form_row(form.lyrics) }}
                                </div>
                            </div>
                                
                            <hr>
                            
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                            
                            <hr>
                             
                            <button type="submit" name="save" value="requirements" class="btn btn-sm btn-default">SAVE</button>
                            
                        </form>
                        
                    
                </div>
                    

            </div>
                    
            
            <div id="project-status-widget" class="col-sm-4">
                {{ render(controller('VocalizrAppBundle:Contest:projectStatusWidget', {
                    'uuid': project.uuid,
                    'fromPage' : 'edit'
                })) }}
                
            </div>
        </div>
                
        
{% endblock %}