{% extends '::app.html.twig' %}

{% block title %}Publish your contest{% endblock %}

{% block stylesheet %}
    {% stylesheets
        '@VocalizrAppBundle/Resources/public/css/publish-project.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}

    {% javascripts
        '@VocalizrAppBundle/Resources/public/js/uploader/plupload.full.min.js'
        '@VocalizrAppBundle/Resources/public/js/audio-uploader.js'
        '@VocalizrAppBundle/Resources/public/js/publish-project.js'
     %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("{{ stripe_checkout_key }}");

        $('#publish-form').on('submit', function (e) {
            e.preventDefault();
            App.showLoading();
            var formData = $(this).serialize();
            $.post($(this).attr('action'), formData, function (data) {
                if (!$('#payment').hasClass('hide')) {
                    $.ajax({
                        url: "{{ path('stipe_session_checkout') }}",
                        method: 'GET',
                        data: {
                            uuid: $('#publish-form').data('uuid'),
                            upgrade_to_pro: $('#publish-form .js-upgrade-to-pro-check').val() || '0',
                        },
                        success: function (data) {
                            if (data.success) {
                                if (data.href) {
                                    location.href = data.href;
                                }
                                stripe.redirectToCheckout({ sessionId: data.ssid })
                            }
                        }
                    });
                } else {
                    window.location = $('#publish').data('confirm');
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
<div class="publish-container row publish-contest">
    <div class="col-sm-8">
        <div class="row no-margin">
            <div class="col-sm-12">
                <div class="job-title-block">
                    <h1>Publish Your Job</h1>
                    <a href="{{ path('contest_new', {uuid: project.uuid}) }}" class="btn btn-default pull-right edit-job">Edit Job</a>
                </div>
            </div>
        </div>

        {% include 'VocalizrAppBundle::messages.html.twig' %}

        <div class="row no-margin">
            <div class="col-sm-12">

                {% if not app.request.get('success', false) %}
                    <h2>{{ project.title }}</h2>
                    <div class="headers">
                        <div class="free-header">Free Users</div>
                        <div class="pro-header"><b>Access Pass</b> Subscribers</div>
                    </div>
                    <form {% if app.user.isSubscribed %}class="subscribed" {% endif %}id="publish-form" action="{{ path('contest_new_publish', {uuid: project.uuid}) }}" data-uuid="{{ project.uuid }}" method="post">

                        {% include '@VocalizrApp/Project/include/addon_list.html.twig' %}

                        <div class="total-upgrades-group">
                            <div class="total-upgrades">
                                <div class="upgrades-label">
                                    Total
                                </div>
                                <div class="upgrades-value">
                                    $<span id="total-price">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div id="payment" class="pull-right hide">
                                <a href="{{ path('project_new_cancel', {uuid: project.uuid}) }}" class="link-cancel" onclick="return confirm('Are you sure? All data for this gig will be lost.');">Cancel Job</a>
                                <button type="submit" name="pay" class="btn btn-primary pull-right" value="Pay & Publish">Pay & Publish Job</button>
                            </div>
                            <div id="publish" class="pull-right hide" data-confirm="{{ path('contest_publish_confirm', {uuid: project.uuid}) }}">
                                <a href="{{ path('project_new_cancel', {uuid: project.uuid}) }}" class="link-cancel" onclick="return confirm('Are you sure? All data for this gig will be lost.');">Cancel Job</a>
                                <button type="submit" name="publish" class="btn btn-primary pull-right" value="Publish Now">Publish Job</button>
                            </div>
                        </div>
                        <div id="userwallet-total" class="hide">{{ app.user.wallet }}</div>
                        <div id="price-amount" class="hide">0</div>

                    </form>
                {% else %}
                    <h2>{{ project.title }}</h2>
                    <p>Payment for your contest has been successful.</p>

                    <div class="form-actions">
                        <a href="{{ path('contest_publish_confirm', {uuid: project.uuid}) }}" class="btn btn-primary">Publish Now</a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="panel panel-default welcome-panel">
            <div class="panel-heading">
                UPGRADE YOUR LISTING!
            </div>
            <div class="panel-body">
                <p>Add upgrades to your listing to increase the exposure of your contest and improve the quality and number of entries you receive.</p>
                <p>Listing upgrades are not refundable.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
