{% extends 'search.html.twig' %}

{% block title %}Find Music Producers, Hire top music producers from around the world{% endblock %}

{% block description %}Find your perfect music producer from anywhere in the world. Vocalizr has a wide range of very taleted music producers who want to work with you{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        function shuffle(localItemName, elementClassName, isUpgrade) {
            if (!localStorage.getItem(localItemName) || isUpgrade ) {
                localStorage.setItem(localItemName, 0)
            }

            $(elementClassName).on('click', function (e) {
                e.preventDefault();

                if (localStorage.getItem(localItemName) >= 2) {
                    $('#access-pass-popup').modal('show');
                } else {
                    localStorage.setItem(localItemName, localStorage.getItem(localItemName) + 1)
                    location.href = $(this).attr('href');
                }
            });
        }
        shuffle('shuffleProd', '.btn-shuffle-prod', {{ app.user.isSubscribed }});
    </script>
{% endblock %}
{% block activity_header %}
    <h1>Find Music Producers</h1>{{ app.user.isSubscribed }}
    <div class="gig-filter">
        <ul>
            <li>Sort:</li>
            <li {% if filter == 'shuffle_certified' %}class="active"{% endif %}>
                <a href="{{ path('producers_filter', {filter : 'shuffle_certified'})}}">Shuffle Certified</a>
            </li>
            <li {% if filter == 'latest' %}class="active"{% endif %}>
                <a href="{{ path('producers_filter', {filter : 'latest'})}}">Top Rated</a>
            </li>
            <li {% if filter == 'newest' %}class="active"{% endif %}>
                <a href="{{ path('producers_filter', {filter : 'newest'})}}">Newest</a>
            </li>
            <li {% if filter == 'random' %}class="active"{% endif %}>
                <a href="{{ path('producers_filter', {filter : 'random'})}}">Random</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block search_results %}
    {% if pagination|length > 0 %}
        {% for result in pagination %}
            {% embed 'include/search_user_audio_card.html.twig' with {
                userInfo: result,
                userAudios: userAudioList[result.id] is defined ? userAudioList[result.id] : [],
                userConnect: userConnects[result.id] is defined ? userConnects[result.id] : null,
            } %}
                {% block info_rows %}
                    {% if result.genres|length > 0 %}
                        <div class="sounds-like">
                            <ul>
                                <li class="title">Genres:</li>
                                {% for genre in result.genres %}
                                    <li>{{ genre.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="studio-access">
                        <ul>
                            <li class="title">Studio Access:</li>
                            <li>{{ result.studioAccess ? 'YES' : 'NO' }}</li>
                        </ul>
                    </div>
                {% endblock %}
                {% block actions_right %}
                    {% if result.producerRatedCount > 0 %}
                        <a href="{{ path('user_view', {username: result.username}) }}#reviews" class="reviews">{{ result.producerRatedCount }} Review{% if result.producerRatedCount != 1 %}s{% endif %}</a>
                    {% elseif result.employerRatedCount > 0 %}
                        <a href="{{ path('user_view', {username: result.username}) }}#reviews" class="reviews">{{ result.employerRatedCount }} Employer Review{% if result.employerRatedCount != 1 %}s{% endif %}</a>
                    {% else %}
                        <span class="reviews">No Reviews Yet</span>
                    {% endif %}

                    {% if result.producerRating >= 1 %}
                        <div class="rating-text">{{ result.producerRating }} Star{% if result.producerRating > 1 %}s{% endif %}</div>
                        <div class="star-rating star-disabled" data-score="{{ result.producerRating }}"></div>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endfor %}

        {% if filter != 'shuffle_certified' and filter != 'random' %}
            {{ knp_pagination_render(pagination) }}
        {% else %}
            <a href="" class="btn btn-primary btn-shuffle-prod">Shuffle</a>
        {% endif %}
    {% else %}
        {% if app.request.getMethod == "POST" %}
            <p>Oops! No results, try refining your search.</p>
        {% else %}
            <p>Currently no producers</p>
        {% endif %}
    {% endif %}
{% endblock %}
{% block search_form %}
    {{ form_start(form, {'attr' : {'id' : 'search-form', 'style' : 'display:inline', 'novalidate' : 'novalidate'}}) }}
{#    <form id="search-form" action="{{ path('producers_filter', {filter: app.request.get('filter')} ) }}" method="get" style="display:inline" novalidate>#}
        <div class="row form-group">
            <div class="col-sm-12">
                {{ form_widget(form.audio) }}
                {{ form_label(form.audio) }}
{#                <input type="checkbox" name="{{ form.audio.vars.full_name }}" value="1"{% if form.vars.value.audio is defined and form.vars.value.audio  %} checked{% endif %}> Must have audio#}
            </div>
        </div>
        <hr>
        {% if filter != 'shuffle_certified' %}
            <div class="row form-group">
                <div class="col-sm-12">

                    {{ form_widget(form.certified) }}
                    {{ form_label(form.certified) }}
{#                    <input type="checkbox" name="{{ form.certified.vars.full_name }}" value="1"{% if form.vars.value.certified is defined and form.vars.value.certified %} checked{% endif %}> Must be a 'Certified Pro'#}
                    <span class="vocalizr-certified" data-text="A 'Certified Professional’ is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level.<br><a href='{{ path('get_certified') }}' class='get-certified-now' style='color: #01c2e5;'>Get Certified Now</a>"></span>
                </div>
            </div>

            <hr>
        {% endif %}

        <div class="row form-group">
            <div class="col-sm-12">
                {{ form_row(form.genre) }}
            </div>
        </div>

        <hr>

        <div class="row form-group">
            <div class="col-sm-12">
                {{ form_widget(form.studio_access) }}
                {{ form_label(form.studio_access) }}
{#                <input type="checkbox" name="{{ form.studio_access.vars.full_name }}" value="1"{% if form.vars.value.studio_access is defined and form.vars.value.studio_access %} checked{% endif %}> Must have studio access#}
            </div>
        </div>

        <hr>

        {% if form.fees is defined %}
        <div class="row form-group">
            <div class="col-sm-12">
                <label>PRODUCER FEE</label>
                {{ form_widget(form.fees) }}
            </div>
        </div>
        {% endif %}

        <hr>

        <div class="row form-group">
            <div class="col-sm-12">
                <label>COUNTRY</label>
                {{ form_widget(form.country) }}
            </div>
        </div>

        <hr>

        <div class="row form-group">
            <div class="col-sm-12">
                <label>CITY</label>
                <input id="geo-location" type="text" name="location" class="form-control" placeholder="Start typing the city..." value="{% if form.vars.value.city is defined and form.vars.value.city %}{{ form.vars.value.city }}{% endif %}">
{#                {{ form_widget(form.city) }}#}
            </div>
        </div>

        <hr>

        <div class="row form-group">
            <div class="col-sm-12">
                {{ form_row(form.username) }}
            </div>
        </div>

        <hr>
        {{ form_row(form._token) }}
        <input type="hidden" name="page" value="1" id="page">
        <input type="hidden" name="search" value="Search">

        <div class="form-buttons">
            <button type="submit" name="search" value="search" class="btn btn-sm btn-default">SEARCH</button>
            <a href="{{ path('producers') }}" class="btn btn-sm btn-default roll-alt">RESET</a>
        </div>
{#    </form>#}
        <div style="display: none">
            {{ form_row(form.gender) }}
            {{ form_row(form.vocal_characteristic) }}
            {{ form_row(form.sounds_like) }}
            {{ form_row(form.vocal_style) }}
            {{ form_row(form.languages) }}
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block modals %}
    <div id="access-pass-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/access_pass_prod_modal.html.twig' %}
    </div>
{% endblock %}