<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'include/analytics.html.twig' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="vfavicon.png">
        <meta property="og:image" content="http://{{ domain_base }}/images/logo_share.png"/>
        <meta property="og:image:secure_url" content="https://{{ domain_base }}/images/logo_share.png" />

        <title>
            {% set _titleBlock = block('title') %}
            {% if not _titleBlock is empty %}
                {{ _titleBlock }} | Vocalizr
            {% else %}
                Vocalizr
            {% endif %}
        </title>
        {% set _descBlock = block('description') %}
        {% if not _descBlock is empty %}
            <meta name="description" content="{{ _descBlock }}">
        {% else %}
            <meta name="description" content="{{ _titleBlock }}. Connect with vocalists and producers from around the world.">
        {% endif %}

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
        {% stylesheets
            '@VocalizrAppBundle/Resources/public/css/bootstrap.min.css'
            '@VocalizrAppBundle/Resources/public/css/datepicker.css'
            '@VocalizrAppBundle/Resources/public/css/bootstrap-theme.css'
            '@VocalizrAppBundle/Resources/public/css/select2.css'
            '@VocalizrAppBundle/Resources/public/css/slider.css'
            '@VocalizrAppBundle/Resources/public/css/tipped.css'
            '@VocalizrAppBundle/Resources/public/css/flashblock.css'
            '@VocalizrAppBundle/Resources/public/css/360player.css'
            '@VocalizrAppBundle/Resources/public/css/jquery.scrollbar.css'
            '@VocalizrAppBundle/Resources/public/css/screen.css'
            '@VocalizrAppBundle/Resources/public/css/waveforms.css'
            '@VocalizrAppBundle/Resources/public/css/form-elements.css'
            '@VocalizrAppBundle/Resources/public/css/promo/panel/pro.css'
            '@VocalizrAppBundle/Resources/public/css/pro-features.css'
            '@VocalizrAppBundle/Resources/public/css/loading-gradient.css'
            '@VocalizrAppBundle/Resources/public/css/dragula.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheet %}{% endblock %}

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbl6GtPS57CxLtjiaH0IhEEEUsfUz63yc&libraries=places"></script>
    </head>

    <body{% block body_attributes %}{% endblock %}>
        <div id="loading"><img src="{{ asset('images/main-loader.gif') }}"> Loading...</div>
        <div id="successNotification"></div>
        <!-- Wrap all page content here -->
        <div id="wrap">
            {{ render(controller('VocalizrAppBundle:Default:appMessage')) }}
            <!-- Fixed navbar -->
            <div id="header" class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo_clean.png') }}" alt="Vocalizr" width="103" height="31"></a>
                        {% include 'include/post_job.html.twig' %}
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="desktop-only nav navbar-nav">
                            {% include 'include/menu.html.twig' %}
                        </ul>
                    </div>
                    {% include 'include/mobile_menu.html.twig' %}

                </div>
            </div>
            {% if app.user %}
            <div id="profile-pane">

                <div class="profile-wrap no-padding-right no-padding-left">
                    <div class="profile-left">
                        <div class="avatar">
                            {% include 'include/avatar.html.twig' %}
                        </div>
                        <div class="profile">
                            <div class="intro">{{ random(['Hey']) }}, <a href="{{ path('user_view', {username: app.user.username}) }}">{{ app.user.displayName }}!</a></div>
                            <i id="profile-dropdown-toggle" class="vocalizr-icon icon-profile-dropdown"></i>
                            <div id="profile-dropdown" class="hide">
                                <ul id="profile-nav">
                                    <li><a href="{{ path('user_edit') }}"><i class="vocalizr-icon fas fa-user-circle"></i> Edit Profile</a></li>
                                    {% if not app.user.isSubscribed %}
                                        <li><a href="{{ path('user_upgrade', {source: 'direct'}) }}" class="upgrade-in-menu"><i class="vocalizr-icon fas fa-ticket-alt"></i><div>Get more with <b>Access Pass</b></div></a></li>
                                    {% else %}
                                        <li><a href="{{ path('user_edit') }}#membership"><i class="vocalizr-icon fas fa-ticket-alt"></i> Membership</a></li>
                                    {% endif %}

                                    {#<li><a href="{{ path('user_marketplace') }}"><i class="vocalizr-icon fa fa-music"></i> My Marketplace</a></li>#}
                                    <li><a href="{{ path('user_financial') }}"><i class="vocalizr-icon fas fa-money-check-alt"></i> Finances</a></li>
                                    <li><a href="{{ path('user_favorites') }}"><i class="vocalizr-icon fas fa-heart-circle"></i> Favorites</a></li>
                                    <li><a href="{{ path('user_stats') }}"><i class="vocalizr-icon fas fa-user-chart"></i> Statistics</a></li>
                                    <li><a href="{{ path('connections') }}"><i class="vocalizr-icon fas fa-users"></i> Connections</a></li>
                                    {% if app.user.isAdmin %}
                                        <li><a href="{{ path('admin') }}"><i class="vocalizr-icon fas fa-user-cog"></i> Admin</a></li>
                                    {% endif %}
                                    <li><a href="https://support.vocalizr.com"><i class="vocalizr-icon fas fa-user-headset"></i> FAQ & Support</a></li>
                                    <li><a href="{{ path('user_edit') }}#account"><i class="vocalizr-icon fas fa-file-user"></i> Account</a></li>
                                    <li><a href="{{ path('logout') }}"><i class="vocalizr-icon fas fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </div>

                            <svg class="separator" width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <svg width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="0.5" y1="2.18557e-08" x2="0.499999" y2="24" stroke="#3B4B54"/>
                                </svg>

                            </svg>

                            <div class="buttons">
                                <a class="mobile-navbar-toggle" data-toggle="mobile-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="23" height="2" rx="1" fill="white"/>
                                        <rect y="7" width="23" height="2" rx="1" fill="white"/>
                                        <rect y="14" width="23" height="2" rx="1" fill="white"/>
                                    </svg>
                                </a>
                                <div class="message-alert{% if app.user.numUnreadMessages > 0 %} unread{% endif %}">
                                    <a href="{{ path('message_home') }}">
                                        <i class="mail-icon fas fa-envelope{{ app.user.numUnreadMessages > 0 ? '-open-text' : '' }}"></i><span class="num-unread">{{ app.user.numUnreadMessages }}</span></a>
                                </div>
                                <div class="notification{% if app.user.numNotifications > 0 %} unread{% endif %}">
                                    <a href="" data-url="{{ path('notify_read') }}"><i id="notify-toggle" class="fas fa-flag notification-icon"></i><span class="num-unread">{{ app.user.numNotifications }}</span></a>
                                    <div id="notify-dropdown" class="hide">
                                        <div class="notify-header">NOTIFICATIONS</div>
                                        <div class="notifies-list customScroll">
                                            {{ render(controller('VocalizrAppBundle:Default:notifications')) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="user-dashboard-finance">
                                    <a href="{{ path('user_financial') }}">
                                        {% if app.user.walletDollars > 0 %}
                                            <i class="tip user-wallet-funds" data-text="You have ${{  app.user.walletDollars }} in your wallet"></i>
                                            <i class="tip user-wallet-funds-hover" data-text="You have ${{  app.user.walletDollars }} in your wallet"></i>
                                        {% else %}
                                            <i class="user-wallet-no-funds tip" data-text="You have no funds"></i>
                                            <i class="user-wallet-no-funds-hover tip" data-text="You have no funds"></i>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="mobile-only" data-toggle="vocalizr-dropdown">
                                    {% include 'include/avatar.html.twig' with {size: 33} %}
                                    <div class="vocalizr-dropdown profile-dropdown">
                                        <div class="pointer"></div>
                                        <div class="dropdown-body">
                                            {% include 'include/profile-dropdown.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right">
                        {% include 'include/post_job.html.twig' %}
                    </div>
                </div>
            </div>
            {% else %}
            <div id="profile-pane">
                <div class="profile-wrap">
                    <div class="profile-left">
                        <div class="buttons">
                            <a class="mobile-navbar-toggle" data-toggle="mobile-menu" style="justify-content: flex-start">
                                <span class="sr-only">Toggle navigation</span>
                                <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="23" height="2" rx="1" fill="white"/>
                                    <rect y="7" width="23" height="2" rx="1" fill="white"/>
                                    <rect y="14" width="23" height="2" rx="1" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="profile-right">
                        <a id="btn-register" href="{{ path('register') }}" class="btn btn-primary pull-right">Register</a>
                        <a id="btn-login" href="{{ path('login') }}" class="btn btn-primary pull-right">Login</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Begin page content -->
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="copyright col-sm-12">
                    &copy; Copyright Vocalizr {{ "now"|date("Y") }}
                </div>
                <ul id="footer-nav">
                    <li class="share"><a href="https://www.facebook.com/Vocalizr"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="share"><a href="https://twitter.com/vocalizr"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="http://support.vocalizr.com/" target="_blank">Help</a></li>
                    <li><a href="http://blog.vocalizr.com/" target="_blank">Blog</a></li>
                    <li><a href="{{ path('membership') }}">Membership</a></li>
                    <li><a href="{{ path('website_fees') }}">Fees & Charges</a></li>
                    <li><a href="{{ path('website_terms') }}">Terms</a></li>
                    <li><a href="{{ path('website_privacy') }}">Privacy</a></li>
                </ul>
            </div>
        </div>

        <div class="modal fade" id="vocalizrModal" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true"></div>

        {% if app.user and not app.user.emailConfirmed %}
            {% render(controller('VocalizrAppBundle:Hint:showConfirmEmailModal')) %}
        {% endif %}

        {{ render(controller('VocalizrAppBundle:Hint:showLastDepositRefundedModal')) }}

        <!-- special IE-only canvas fix -->
        <!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->

        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/jquery.js'
            '@VocalizrAppBundle/Resources/public/js/bootstrap.min.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/berniecode-animator.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/soundmanager2-nodebug-jsmin.js'
            '@VocalizrAppBundle/Resources/public/js/page-player.js'
            '@VocalizrAppBundle/Resources/public/js/360player.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/tipped.js'
            '@VocalizrAppBundle/Resources/public/js/select2.min.js'
            '@VocalizrAppBundle/Resources/public/js/bootstrap-datepicker.js'
            '@VocalizrAppBundle/Resources/public/js/bootstrap-slider.js'
            '@VocalizrAppBundle/Resources/public/js/jquery.raty.min.js'
            '@VocalizrAppBundle/Resources/public/js/jquery.icheck.min.js'
            '@VocalizrAppBundle/Resources/public/js/jquery.scrollbar.min.js'
            '@VocalizrAppBundle/Resources/public/js/app.js'
            '@VocalizrAppBundle/Resources/public/js/gleam.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascript %}{% endblock %}
        {% block body_end_trackers %}{% endblock %}
        <script>
            function showModal(e, selector) {
                if (e) {
                    e.stopPropagation();
                    e.preventDefault();
                }
                $(selector).modal('show');
                return false;
            }

            function checkIfUpgradedAndShowModal(e, selector, type, callbackIfCan) {
                if (e) {
                    e.stopPropagation();
                    e.preventDefault();
                }
                $.ajax({
                    url: "{{ path('user_restriction_check') }}",
                    data: {
                        type: type
                    },
                    success: function (data) {
                        canBid = data.can;
                        if (canBid) {
                            callbackIfCan();
                        } else {
                            showModal(e, selector);
                        }
                    }
                });
            }

            var canBid = {{ can_bid() ? 'true' : 'false' }};

            $(function () {
                $('#bid-form2').submit(function (e) {
                    var $form = $(this);
                    if (canBid) {
                        return true;
                    }
                    checkIfUpgradedAndShowModal(e, '#bid_limit_modal', 'bid', function() {
                        $form.find('button[name=submit]').click();
                    });
                });

                if (!canBid) {
                    {% if app.session.get('bid_modal') %}
                        showModal(null, '#bid_limit_modal');
                        {{ app.session.remove('bid_modal') }}
                    {% endif %}
                }
                {% if not can_hire_now() %}
                    $('#profile-hire-now, .btn-hire-now').click(function (e) {
                        showModal(e, '#hire_now_modal')
                    });
                    {% if app.session.flashBag().get('hire_now_modal') %}
                        showModal(null, '#hire_now_modal');
                    {% endif %}
                {% endif %}
            });

        </script>

        {% if not can_bid() %}
            <div id="bid_limit_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
                {% include 'include/panel/bid_limit_panel.html.twig' %}
            </div>
        {% endif %}
        {% if not can_hire_now() %}
            <div id="hire_now_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
                {% include 'include/panel/hire_now_panel.html.twig' %}
            </div>
        {% endif %}
        {% block modals %}
        {% endblock %}
        {% if app.user %}
            <div class="gleam-data-layer" data-name="UserLogin" data-value="Email: {{ app.user.email }}, Source: already a member"></div>
            {% if app.user.subscribed %}
                <div class="gleam-data-layer" data-name="UserAlreadyPro" data-value="Email: {{ app.user.email }}, Source: already have a PRO membership"></div>
            {% endif %}
        {% endif %}
    </body>
</html>
