<!DOCTYPE html>
<html>
  <head>
    <title>
            {% set _titleBlock = block('title') %}
            {% if not _titleBlock is empty %}
                {{ _titleBlock }}, Vocalizr
            {% else %}
                Vocalizr
            {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    {% stylesheets
        '@VocalizrAppBundle/Resources/public/old/css/chosen.css'
        '@VocalizrAppBundle/Resources/public/old/css/bootstrap.css'
        '@VocalizrAppBundle/Resources/public/old/css/bootstrap-tagmanager.css'
        '@VocalizrAppBundle/Resources/public/old/css/bootstrap-datepicker.css'
        '@VocalizrAppBundle/Resources/public/old/css/bootstrap-switch.css'
        '@VocalizrAppBundle/Resources/public/old/css/360player.css'
        '@VocalizrAppBundle/Resources/public/old/css/mp3-player-button.css'
        '@VocalizrAppBundle/Resources/public/old/css/page-player.css'
        '@VocalizrAppBundle/Resources/public/old/css/flashblock.css'
        '@VocalizrAppBundle/Resources/public/old/css/tipped.css'
        '@VocalizrAppBundle/Resources/public/old/css/application.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog"></div>
    <header>
        <div class="container">
            <a href="" id="vocalizr-logo">Vocalizr</a>
            <ul class="nav primary-nav">
                <li{% if app.request.attributes.get('_template').get('controller') == "Dashboard" %} class="active"{% endif %}><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li{% if app.request.attributes.get('_template').get('controller') in ["Project", "ProjectCenter"] %} class="active"{% endif %}>
                    <a href="{{ path('project_center') }}">
                        Gig Center
                        {{ render(controller('VocalizrAppBundle:ProjectCenter:unreadActivity')) }}
                    </a>
                </li>
                <li{% if app.request.attributes.get('_template').get('controller') == "Discover" %} class="active"{% endif %}><a href="{{ path('vocalists') }}">Discover</a></li>
                <li{% if app.request.attributes.get('_template').get('controller') == "GigHunter" %} class="active"{% endif %}><a href="{{ path('gig_hunter') }}">Gig Hunter</a></li>
                <li><a href="">Favorites</a></li>
                <li><a href="{{ path('project_new') }}">Create a new gig</a></li>
            </ul>
            <ul class="nav supplementary-nav">
                <li><a href="">Help</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="welcome-user dropdown">
                        Hello... <a class="dropdown-toggle" style="background:none" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="{{ path('user_edit') }}">{{ app.user.firstName }} {{ app.user.lastName }}<i class="icon-chevron-down"></i></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <li><a href="{{ path('user_edit') }}">Manage your account</a></li>
                          <li><a href="{{ path('user_financial') }}">Financial Dashboard</a></li>
                          <li><a href="{{ path('user_favorites') }}">Favorites</a></li>
                          <li><a href="{{ path('logout') }}">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li class="welcome-user"><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="colors"></div>
    <div class="container content-wrap">
    {% block body %}{% endblock %}
    </div>
    <footer>
    </footer>
        <!-- special IE-only canvas fix -->
        <!--[if IE]><script type="text/javascript" src="{{ asset('js/excanvas.js') }}"></script><![endif]-->
    

        <script>
var PP_CONFIG = {
  autoStart: false,      // begin playing first sound when page loads
  playNext: false,        // stop after one sound, or play through list until end
  useThrottling: true,  // try to rate-limit potentially-expensive calls (eg. dragging position around)</span>
  usePeakData: false,     // [Flash 9 only] whether or not to show peak data (left/right channel values) - nor noticable on CPU
  useWaveformData: false,// [Flash 9 only] show raw waveform data - WARNING: LIKELY VERY CPU-HEAVY
  useEQData: false,      // [Flash 9 only] show EQ (frequency spectrum) data
  useFavIcon: false     // try to apply peakData to address bar (Firefox + Opera) - performance note: appears to make Firefox 3 do some temporary, heavy disk access/swapping/garbage collection at first(?) - may be too heavy on CPU
}
</script>
        
{% javascripts 
    '@VocalizrAppBundle/Resources/public/old/js/jquery.js'
 %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts 
    '@VocalizrAppBundle/Resources/public/old/js/soundmanager2.js'
    '@VocalizrAppBundle/Resources/public/old/js/page-player.js'
    '@VocalizrAppBundle/Resources/public/old/js/berniecode-animator.js'
    '@VocalizrAppBundle/Resources/public/old/js/360player.js'
 %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
        
{% javascripts 
    '@VocalizrAppBundle/Resources/public/old/js/bootstrap.js'
    '@VocalizrAppBundle/Resources/public/old/js/bootstrap-tagmanager.js'
    '@VocalizrAppBundle/Resources/public/old/js/bootstrap-datepicker.js'
    '@VocalizrAppBundle/Resources/public/old/js/bootstrap-switch.js'
    '@VocalizrAppBundle/Resources/public/old/js/spinners.min.js'
    '@VocalizrAppBundle/Resources/public/old/js/tipped.js'
    '@VocalizrAppBundle/Resources/public/old/js/chosen.jquery.js'
    '@VocalizrAppBundle/Resources/public/old/js/application.js'
 %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascript %}{% endblock %}

  </body>
</html>