
{% if activeUserSubscription != false and subscriptionPlan.id == activeUserSubscription.subscription_plan.id %}
<strong style="color:#fff">Your current plan</strong>
{% else %}

    <form action="{{ paypal.url }}" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="item_number" value="{{ subscriptionPlan.unique_key }}" />
    <input type="hidden" name="return" value="{{ url('user_home') }}?success" />
    <input type="hidden" name="cancel_return" value="{{ url('user_home') }}?cancel" />
    <!--<input type="hidden" name="image_url" value="http://www.davesgarage.com/logo.gif"> -->
    <input type="hidden" name="item_name" value="{{ subscriptionPlan.title }} Membership" />
    <input type="hidden" name="no_shipping" value="1" />
    <input type="hidden" name="business" value="{{ paypal.primaryEmail }}" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="hidden" name="reattempt" value="1" />
    <input type="hidden" name="a3" value="{{ subscriptionPlan.price / 100 }}" />
    <input type="hidden" name="p3" value="1" />
    <input type="hidden" name="t3" value="M" />
    <input type="hidden" name="src" value="1" />
    <input type="hidden" name="sra" value="0" />
    <input type="hidden" name="custom" value="{{ app.user.uniqueStr }}" />
    <input type="hidden" name="notify_url" value="http://www.smytheweb.com/vocalizr/ipn.php" />


    {% if activeUserSubscription == false %}
        {% if subscriptionPlan.static_key != "FREE" %}
    <input type="submit" name="submit" class="form-btn" value="Subscribe" />
        {% endif %}

    {% else %}
        {% set activeSubscriptionPlan = activeUserSubscription.subscription_plan %}
        {% if trial and trial.days_left > 0 %} 
            {% if activeSubscriptionPlan.price < subscriptionPlan.price %}
            <input type="hidden" name="a1" value="{{ trial.amount }}" />
            <input type="hidden" name="p1" value="{{ trial.days_left }}" />
            <input type="hidden" name="t1" value="D" />
            <input type="submit" name="submit" class="form-btn" value="Upgrade" />
            {% else %}
            <input type="hidden" name="a1" value="0" />
            <input type="hidden" name="p1" value="{{ trial.days_left }}" />
            <input type="hidden" name="t1" value="D" />
            
            <input type="hidden" name="a2" value="{{ trial.amount }}" />
            <input type="hidden" name="p2" value="1" />
            <input type="hidden" name="t2" value="M" />

            <input type="submit" name="submit" class="form-btn" value="Downgrade" />
            {% endif %}
       
        

        {% endif %}

    {% endif %}
    </form>
{% endif %}


<!--
<A HREF="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=john@vocalizr.com">
<IMG BORDER="0"
SRC="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif"></A> -->