{% extends 'Register/base/layout.html.twig' %}

{% block title %}Certification request sent!{% endblock %}

{% block description %}{% endblock %}
{% block body_attr %}class="double-blue-background"{% endblock %}
{% block wrap %}
    <div class="vertical-container register-success" style="--vertical-gap: 0">
        <div class="logo-header">
            <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="122px" height="36px">
        </div>
        <div class="section-header after-pay-section-header">
            {% if isCertified is defined %}
                <h1>You have already been successfully certified</h1>
            {% else %}
                <h1>Thank you for your Vocalizr <b>Certified Professional</b>
                application. We will review within 24hrs, and you will receive
                an email with the result.</h1>
            {% endif %}
        </div>
        <a href="{{ path('dashboard') }}" class="btn btn-primary gleam-btn"  data-name="UserLogin" data-value="Email: {{ app.user.email|e('html_attr') }}, Source: new (pro) signup">
            Great! Take me back to Vocalizr →
        </a>
    </div>
    <div class="gleam-data-layer" data-name="UserAlreadyPro" data-value="Email: {{ app.user.email }}, Source: new subscription from onboard"></div>
{% endblock %}
{% block body_end_trackers %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ 'js/gleam.js' }}"></script>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/certifiedUser.css') }}" />
{% endblock %}
