{% extends 'app.html.twig' %}

{% block title %}Award contest for {{ project.title }}{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="{{ asset('js/project.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/hint-popup.js') }}"></script>

        <script>
            Project.init();
        </script>


        <script>
            let isVerified = '{{ app.user.isVerified }}';

            $('button#award-contest').on('click', function(e) {
                if (!isVerified) {
                    $('#verify-popup').modal('show');
                    return false;
                } else {
                    return true;
                }
            });

            $(document).on('click', 'a#identity-intents', function(e) {
                e.preventDefault();
                let link = $(this);

                $.ajax({
                    url: link.attr('href') + '?type=project&project={{ project.uuid }}',
                    success: function(data) {
                        if (data.success) {
                            window.location.href = data.identity_url;
                        }
                    }
                });
            });
        </script>
{% endblock %}

{% block body %}
        <div class="row">
            <div id="gig-award" class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        {% include 'messages_app.html.twig' %}

                            {% set user_review_count = bid.user_review_count %}
                            {% set bid = bid[0] %}
                            <h1>Award your contest</h1>
                            <h2 class="white-highlight">{{ project.title }}</h2>

                            <div class="bid-list-item">
                                <div class="bid-media">
                                    <a href="{{ path('user_view', {username: bid.userInfo.username}) }}">
                                    {% if bid.userInfo.path is empty %}
                                    <img src="{{ asset('images/default_avatar.svg') }}" alt="{{ bid.userInfo.username }}" class="img-circle" />
                                    {% else %}
                                    <img src="{{ asset('uploads/avatar/small/' ~ bid.userInfo.path ) }}" alt="{{ bid.userInfo.username }}" class="img-circle" width="58" height="58"/>
                                    {% endif %}
                                    </a>
                                    {% if not bid.path is empty %}
                                    <div class="ui360 track-play block-player"><a href="{{ path('bid_audio_stream', {filename: bid.path}) }}" type="audio/mp3"><span>PLAY</span></a></div>
                                    {% endif %}
                                </div>
                                <div class="bid-info">

                                    {% if project.royalty > 0 %}
                                        <div class="bid-royalty">
                                            Royalty:
                                            <span class="white-highlight">
                                                {{ project.royalty}}%
                                            </span>
                                            {% if project.royaltyMechanical %}
                                                <span class="icon-royalty-mechanical" data-text="Mechanical royalties offered">M</span>
                                            {% endif %}
                                            {% if project.royaltyPerformance %}
                                                <span class="icon-royalty-performance" data-text="Performance royalties offered">P</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                        <div class="bid-amount">
                                            ${{ (bid.amount / 100)|number_format(2) }} <div class="currency">USD</div>
                                        </div>
                                    <div class="bid-rating">
                                        <a href="{{ path('user_view', {username: bid.userInfo.username}) }}#reviews">{{ user_review_count }} Review{% if user_review_count == 0 or user_review_count > 1 %}s{% endif %}</a>
                                        <span class="count">{{ bid.userInfo.ratedCount }} Rating{% if bid.userInfo.ratedCount > 1 %}s{% endif %}</span>
                                        <span class="star-rating star-disabled" data-score="{{ bid.userInfo.rating }}"></span>
                                    </div>
                                    <div class="bidder">
                                        <a href="{{ path('user_view', {username: bid.userInfo.username}) }}" class="name">{{ bid.userInfo.displayName }}</a><br>
                                        {% if not bid.userInfo.city is empty or bid.userInfo.userCountry is not null %}
                                        <span class="location white-highlight">
                                            {% if not bid.userInfo.city is empty %}
                                                {{ bid.userInfo.city }},
                                            {% endif %}
                                            {% if bid.userInfo.userCountry is not null %}
                                                {{ bid.userInfo.userCountry.title|upper }}
                                            {% endif %}
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        {% if bid.userInfo.userVoiceTags|length > 0 %}
                                        <div class="sounds-like">
                                            <ul>
                                                <li class="title">Sounds like:</li>
                                                {% for tag in bid.userInfo.userVoiceTags %}
                                                    <li>{{ tag.voiceTag.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                        {% if bid.userInfo.userVocalStyles|length > 0 %}
                                        <div class="vocal-style">
                                            <ul>
                                                <li class="title">Vocal style:</li>
                                                {% for tag in bid.userInfo.userVocalStyles %}
                                                    <li>{{ tag.vocalStyle.title }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                        <div class="studio-access">
                                            <ul>
                                                <li class="title">Studio Access:</li>
                                                <li>{% if bid.userInfo.studioAccess %}YES{% else %}NO{% endif %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="light-content">


                                    <div class="gig-agreement">
                                            {{ render(controller('App\\Controller\\ContestController:agreementAction', {'project': project, projectBid: bid})) }}
                                    </div>

                                    <form id="signature-form" action="{{ path('contest_award', {uuid: project.uuid, bidUuid: bid.uuid} ) }}" method="post">
                                        {{ form_widget(form._token) }}
                                        <div id="signature" class="form-group row">
                                            <div class="col-xs-5">
                                                <label>SIGN AGREEMENT {{ form_errors(form.employer_name) }}</label>
                                                <input type="text" value="{{ app.user.fullName|upper }}" class="form-control" disabled placeholder="Please enter your full name...">
                                                <input type="hidden" name="{{ form.employer_name.vars.full_name }}" value="{{ app.user.fullName|upper }}">
                                            </div>
                                        </div>
                                        <hr>
                                        <br>
                                        <p>Click the button below to confirm that you are awarding the contest to <a href="{{ path('user_view', {username: bid.userInfo.username}) }}">{{ bid.userInfo.displayName }}</a>.<br>
                                        They will receive an email notification prompting them to login to the Vocalizr Studio to begin work.</p>

                                        <button type="submit" name="award" class="btn btn-primary" value="AWARD CONTEST" id="award-contest">Sign & Award Contest</button>
                                    </form>

                            </div>

                        </div>

                    </div>
            </div>

            <div class="col-sm-4">
                {% if project.bidsDue|timeLeftString is empty %}
                <div class="gig-view-panel panel panel-red">
                    <div class="panel-heading lg">
                        CLOSED
                    </div>
                    <div class="panel-body">
                        <div class="panel-row time-left">
                            <span class="icon icon-time"></span>
                            <span class="num">0</span> <small>SECONDS<br> LEFT</small>
                        </div>
                        <div class="panel-row">
                            Entries: <span class="highlight">{{ project.numBids }}</span><br>
                            Cost: <span class="highlight">${{ project.budgetTo }} USD</span><br>
                        </div>
                        <div class="panel-row">
                            <a href="{{ path('contest_view', {uuid: project.uuid}) }}" class="btn btn-primary">View your contest</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="gig-view-panel panel panel-green">
                    <div class="panel-heading lg">
                        CONTEST OPEN
                    </div>
                    <div class="panel-body">
                        {% set timeLeft = project.bidsDue|timeLeftSingle %}
                        <div class="panel-row time-left">
                            <span class="icon icon-time"></span>
                            <span class="num">{{ timeLeft.num }}</span> <small>{{ timeLeft.text|upper }}<br> LEFT</small>
                        </div>
                        <div class="panel-row">
                            Entries: <span class="highlight">{{ project.numBids }}</span><br>
                            Cost: <span class="highlight">${{ project.budgetTo }} USD</span><br>
                        </div>
                        <div class="panel-row">
                            <a href="{{ path('contest_view', {uuid: project.uuid}) }}" class="btn btn-primary">View your contest</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
       </div>

       {% block hint_modal %}
           {{ render(controller('App\\Controller\\HintController:showAction')) }}
       {% endblock %}


{% endblock %}

{% block modals %}
    <div id="verify-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/verify_identity_modal.html.twig' %}
    </div>
{% endblock %}
