{% if project.publishedAt is not null %}
    {% if projectAwarded %}
        <div class="gig-view-panel panel panel-jade">
            <div class="panel-heading lg">
                CONTEST AWARDED
            </div>
            <div class="panel-body">
                <div class="panel-row">
                    {% if project.royalty %}
                    <span class="orange-highlight">
                        Royalty:</span> <span class="white-highlight">{{ project.royalty }}%</span>
                        {% if project.royaltyMechanical %}
                            <span class="icon-royalty-mechanical" data-text="Mechanical royalties offered">M</span>
                        {% endif %}
                        {% if project.royaltyPerformance %}
                            <span class="icon-royalty-performance" data-text="Performance royalties offered">P</span>
                        {% endif %}
                        <br>
                    {% endif %}
                    <span class="orange-highlight">Bid Winner:</span> <a href="{{ path('user_view', {username: projectAwarded.userInfo.username}) }}">{{ projectAwarded.userInfo.displayName }}</a>
                </div>
                <div class="panel-row">
                    Entries made: <span class="highlight">{{ bidStats.totalBids }}</span>
                </div>
                {% if project.userInfo == app.user or project.projectBid.userInfo == app.user %}
                    {% if fromPage != 'agreement' %}
                    <div class="panel-row">
                        <a href="{{ path('project_studio', {uuid: project.uuid}) }}" class="btn btn-primary">Enter the studio</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% elseif project.bidsDue|timeLeftString is empty %}
        <div class="gig-view-panel panel panel-red">
            <div class="panel-heading lg">
                CONTEST CLOSED
            </div>
            <div class="panel-body">
                <div class="panel-row">
                    <div class="publish-instruct">Entries made: <span class="highlight">{{ bidStats.totalBids }}</span></div>
                </div>
                {% if app.user and app.user.id == project.userInfo.id and project.projectEscrow is not null and not project.projectEscrow.refunded %}
                <div class="panel-row">
                    <div class="publish-instruct">
                        MONEY BACK GUARANTEE*
                    </div>
                    <p>If you are not happy with the submitted entries, you can get a refund.</p><p>Simply hit "Cancel Contest" below.</p>
                    <p><a href="{{ path('finances_contest_refund', {uuid: project.uuid}) }}" class="btn btn-sm btn-default" data-toggle="vmodal">CANCEL CONTEST</a></p>
                    <p class="small">* Refunds do not apply to any listing upgrades</p>
                </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="gig-view-panel panel panel-green">
            <div class="panel-heading lg">
                CONTEST OPEN
            </div>
            <div class="panel-body">
                {% set timeLeft = project.bidsDue|timeLeftSingle %}
                <div class="panel-row time-left">
                    <span class="icon icon-time"></span>
                    <span class="num">{{ timeLeft.num }}</span> <small>{{ timeLeft.text|upper }}<br> LEFT</small>
                </div>
                <div class="panel-row">
                    Entries made: <span class="highlight">{{ bidStats.totalBids }}</span><br>
                </div>
                {% if app.user and (project.isOwner(app.user) or app.user.isAdmin) %}
                <div class="panel-row audio-downloads">
                    Audio downloads: <span class="highlight">{{ audioDownloads|length }}</span> <i class="fa fa-question-circle tip" data-text="Members who have shown interest and downloaded your audio"></i>
                    <div class="downloads-invite-more">
                    {% if project.lookingFor == "vocalist" %}
                        <a href="{{ path('vocalists') }}" class="btn btn-default btn-sm">INVITE {{ project.lookingFor|upper }}S</a> <small>Get more entries</small>
                    {% else %}
                        <a href="{{ path('producers') }}" class="btn btn-default btn-sm">INVITE {{ project.lookingFor|upper }}S</a> <small>Get more entries</small>
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="panel-row">
                    <span class="highlight side-price">${{ project.budgetFrom }}</span>
                    <div class="prize-escrow tip" data-text="Payment has been made up front and is stored in Vocalizr Escrow">
                        <i class="fa fa-check"></i> <span class="badge badge-dark-grey">IN PAYMENT PROTECTION</span>
                    </div>
                </div>
                {% if project.publishType == 'public' and not project.sfs %}
                <div class="panel-row">
                    Share:
                    <div class="gig-share">
                        {% if app.user and project.userInfo.id == app.user.id %}
                        {% set message = "Check out my contest on vocalizr! #vocalizr #contest"|url_encode() %}
                        {% else %}
                        {% set message = "Check out this contest on vocalizr! #vocalizr #contest"|url_encode() %}
                        {% endif %}
                        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ url('contest_view', {uuid: project.uuid}) }}"><i class="fab fa-facebook-square"></i></a>
                        <a target="_blank" href="http://twitter.com/intent/tweet?text={{ message }} {{ url('contest_view', {uuid: project.uuid}) }}"><i class="fab fa-twitter-square"></i></a>
                    </div>
                </div>
                {% endif %}
                {% if project.userInfo == app.user %}
                <div class="panel-row">
                    {% if fromPage == 'edit' %}
                    <a href="{{ path('contest_view', {uuid: project.uuid}) }}" class="btn btn-primary">View your contest</a>
                    {% else %}
                    <a href="{{ path('contest_edit', {uuid: project.uuid}) }}" class="btn btn-primary">Edit your contest</a>
                    {% endif %}
                </div>
                {% if project.sfs %}
                <div class="panel-row">
                    <p><a href="{{ path('project_agreement', {uuid: project.uuid, type: 'contest'}) }}" class="btn btn-sm btn-default">DOWNLOAD AGREEMENT TEMPLATE</a></p>
                </div>
                {% else %}
                <div class="panel-row">
                    <div class="publish-instruct">
                        PUBLISH SETTINGS
                    </div>
                    Publish type: <span class="highlight">{{ project.publishType|upper }}</span><br>
                    {% if project.publishType == 'public' %}
                        Announce contest in news: <span class="highlight">{% if project.showInNews %}YES{% else %}NO{% endif %}</span><br>
                    {% endif %}
                    Invited favorites: <span class="highlight">{% if project.toFavorites %}YES{% else %}NO{% endif %}</span><br>
                    Restricted to preferences: <span class="highlight">{% if project.restrictToPreferences %}YES{% else %}NO{% endif %}</span>
                </div>
                <div class="panel-row">
                    <p><a href="{{ path('project_agreement', {uuid: project.uuid, type: 'contest'}) }}" class="btn btn-sm btn-default">DOWNLOAD AGREEMENT TEMPLATE</a></p>
                </div>
                {% endif %}
                {% else %}
                    {% if app.user %}
                         {% if not project.isOwner(app.user) and not userBid %}
                             {% if restrictBid %}
                                 <div class="panel-row bidding-restricted">
                                     <p class="white-highlight">
                                         {% if project.restrictToPreferences %}
                                             Entry on this contest is restricted
                                         {% else %}
                                             Unable to bid on this contest
                                         {% endif %}
                                     </p>
                                     <p>Missing requirements:</p>
                                     <ul>
                                         {% if userMatchesPreferences.gender is defined and not userMatchesPreferences.gender %}
                                            <li>Gender - {% if project.gender == 'm' %}male{% else %}female {% endif %} required</li>
                                         {% endif %}
                                         {% if userMatchesPreferences.studioAccess is defined and not userMatchesPreferences.studioAccess %}
                                            <li>Studio access is required</li>
                                         {% endif %}
                                         {% if userMatchesPreferences.lookingFor is defined and not userMatchesPreferences.lookingFor %}
                                            <li>You are not a {% if project.lookingFor == 'producer' %}producer{% else %}vocalist{% endif %}</li>
                                         {% endif %}
                                         {% if userMatchesPreferences.vocalStyle is defined and not userMatchesPreferences.vocalStyle %}
                                            <li>You have none of the specified vocal styles</li>
                                         {% endif %}
                                         {% if userMatchesPreferences.certified is defined and not userMatchesPreferences.certified %}
                                            <li>You are not a Vocalizr Certified Pro <img class="vocalizr-certified-stamp-clipped" style="width: 25px; margin-left: 0; margin-bottom: 1px" src="{{ asset('images/certified_pro_stamp_clipped.svg') }}" alt="" data-text="<div class='tip-header'>Vocalizr Certified Professional</div>A 'Certified Professional’ is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level.<br><a href='{{ path('get_certified') }}' class='get-certified-now' style='color: #01c2e5;'>Get Certified Now</a>"></li>
                                         {% endif %}
                                     </ul>
                                 </div>
                             {% else %}
                                 <div class="panel-row">
                                    <div class="publish-instruct">
                                        SUBMIT YOUR ENTRY
                                    </div>
                                     <div id="entry-audio-options">
                                        <div class="note">
                                            {% if project.sfs %}
                                                Please read the <a href="/sfs-terms.pdf" target="_blank">Terms &amp; Conditions</a> and <a href="{{ path('project_agreement', {uuid: project.uuid, type: 'contest'}) }}">Agreement</a> before submitting your entry.
                                            {% else %}
                                            Please read the <a href="{{ path('project_agreement', {uuid: project.uuid, type: 'contest'}) }}">agreement</a> before submitting your entry.
                                            {% endif %}
                                        </div>

                                        <a href="" id="upload-audio-btn" class="btn btn-sm btn-default">UPLOAD {% if project.sfs %}VOCALS{% else %}DEMO{% endif %}</a> <a href="" class="btn btn-sm btn-default roll-alt btn-instructions">READ INSTRUCTIONS</a>

                                        <div id="contest-upload-audio-container" data-url="{{ path('upload_audio') }}" data-extensions="{{ upload_audio_allowed_extended }}" data-form="entry-form">
                                            <div class="upload-audio-error hide"></div>
                                            <div class="upload-audio-bar-container">
                                                Uploading...
                                                <div class="progress"><div class="upload-audio-bar progress-bar" style="width: 0;"></div></div>
                                            </div>
                                            <div class="audio-upload-preview">
                                                <div class="track-list-item">
                                                    <div class="track-play inline"><a href="" type="audio/mp3"><span>PLAY</span></a></div>
                                                    <a href="" class="btn btn-sm btn-default remove">CANCEL</a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                     <form id="entry-form" action="{{ path('contest_bid', {uuid: project.uuid} ) }}" method="post">
                                        <button id="place-entry" type="submit" name="submit" class="btn btn-primary hide" value="Submit"><i class="vocalizr-icon icon-white-thumb"></i> Submit</button>
                                     </form>
                                    <div class="contest-instructions">
                                        {% if project.sfs %}
                                            <p><strong class="white-highlight">INSTRUCTIONS</strong></p>
                                            <ol>
                                                {% if project.lookingFor == "vocalist" %}
                                                <li>You must first <a href="{{ path('sfs_audio_download', {uuid: project.uuid} ) }}" data-toggle="vmodal" class="btn-download-track">download the track</a></li>
                                                {% if project.lyrics is null %}
                                                <li>Write your lyrics</li>
                                                {% else %}
                                                <li>Pick the chorus or verse from lyrics provided</li>
                                                {% endif %}
                                                <li>Record yourself singing over track</li>
                                                {% else %}
                                                <li>Place vocals over your beat</li>
                                                {% endif %}
                                                <li>Upload your polished & finished vocals to the contest</li>
                                            </ol>

                                            <div class="help-bid">
                                                <i class="fa fa-question-circle"></i> <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008206507-What-is-a-Contest-"  target="_blank">How do contests work?</a>
                                            </div>
                                        {% else %}
                                            <p><strong class="white-highlight">INSTRUCTIONS</strong></p>
                                            <ol>
                                                {% if project.lookingFor == "vocalist" %}
                                                <li>You must first <a href="{{ path('contest_audio_download', {uuid: project.uuid} ) }}" class="btn-download-track">download the track</a></li>
                                                {% if project.lyrics is null %}
                                                <li>Write an example chorus or verse</li>
                                                {% else %}
                                                <li>Pick the chorus or verse from lyrics provided</li>
                                                {% endif %}
                                                <li>Record yourself singing over track</li>
                                                {% else %}
                                                <li>Pick a section of the vocals to record with</li>
                                                <li>Place vocals over your beat</li>
                                                {% endif %}
                                                <li>Upload your demo to the contest</li>
                                            </ol>

                                            <div class="help-bid">
                                                <i class="fa fa-question-circle"></i> <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008206507-What-is-a-Contest-"  target="_blank">How do contests work?</a>
                                            </div>
                                        {% endif %}
                                    </div>

                                 </div>
                             {% endif %}
                         {% endif %}
                         {% if userBid %}
                            <div id="entry-audio-options" class="panel-row">
                                <div class="publish-instruct">
                                    YOUR ENTRY
                                </div>
                                <div class="audio-upload-preview" style="display: block;">
                                    <div class="track-list-item">
                                        <div class="ui360 track-play inline"><a href="{{ cdn_url }}{{ path('bid_audio_stream', {filename: userBid.path}) }}" type="audio/mp3"><span>PLAY</span></a></div>
                                        <a href="{{ path('contest_bid_remove', {uuid: project.uuid, bidUuid: userBid.uuid}) }}" class="btn btn-sm btn-default remove">REMOVE</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                    <div class="clearfix"></div>



                                {% if project.sfs %}
                                    <br>
                                    <a href="" id="upload-audio-btn" class="btn btn-sm btn-default">UPDATE VOCALS</a> Update your entry

                                    <div id="contest-upload-audio-container" data-url="{{ path('upload_audio') }}" data-extensions="{{ upload_audio_allowed }}" data-form="entry-form">
                                        <div class="upload-audio-error hide"></div>
                                        <div class="upload-audio-bar-container">
                                            Uploading...
                                            <div class="progress"><div class="upload-audio-bar progress-bar" style="width: 0;"></div></div>
                                        </div>
                                        <div class="audio-upload-preview">
                                            <div class="track-list-item">
                                                <div class="track-play inline"><a href="" type="audio/mp3"><span>PLAY</span></a></div>
                                                <a href="" class="btn btn-sm btn-default remove">CANCEL</a>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                 <form id="entry-form" action="{{ path('contest_bid', {uuid: project.uuid} ) }}" method="post" style="margin-bottom: 15px;">

                                    <button id="place-entry" type="submit" name="submit" class="btn btn-sm btn-primary hide" value="Submit" style="margin-top: 15px;">SUBMIT NEW VOCALS</button>

                                 </form>
                                 <div class="clearfix"></div>

                                    <hr>

                                    <div class="clearfix"></div>
                                    <div class="share-entry">
                                        <div class="publish-instruct">
                                            SHARE YOUR ENTRY
                                        </div>
                                        <p>Share with your friends and family to help upvote your entry.</p>
                                        {% set message = "I entered the Search For A Singer competition on Vocalizr! Please support me by upvoting my entry #vocalizr #vocalizrFTW"|url_encode() %}
                                        {% set shareUrl = (url('contest_view', {uuid: project.uuid}) ~ "?entry=" ~ userBid.uuid)|url_encode() %}
                                        <a target="_blank" class="btn btn-sm btn-default" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}"><i class="fab fa-facebook-f"></i> FACEBOOK</a>
                                        <a target="_blank" class="btn btn-sm btn-default" href="http://twitter.com/intent/tweet?text={{ message }} {{ shareUrl }}"><i class="fab fa-twitter"></i> TWITTER</a>
                                    </div>
                                {% endif %}
                         </div>
                         {% endif %}
                     {% else %}
                         <div class="panel-row">
                             <a href="{{ path('login') }}" class="btn btn-primary"><i class="vocalizr-icon icon-white-thumb"></i> Submit entry</a>
                             <div class="help-bid">
                                <i class="fa fa-question-circle"></i> <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008206507-What-is-a-Contest-" target="_blank">How do contests work?</a>
                             </diV>
                         </div>
                     {% endif %}
                {% endif %}
            </div>
        </div>

        {% if app.user and project.isOwner(app.user) and project.daysExtended < 15 %}
            <div class="panel vocalizr-panel-grey edit-contest-panel">
                <div class="panel-heading">
                    EXTEND YOUR CONTEST
                    <svg width="14" height="14" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1833 0.358032C6.0019 0.358032 0.18335 6.17658 0.18335 13.358C0.18335 20.5395 6.0019 26.358 13.1833 26.358C20.3648 26.358 26.1833 20.5395 26.1833 13.358C26.1833 6.17658 20.3648 0.358032 13.1833 0.358032ZM16.1765 18.71L11.5531 15.35C11.3906 15.2294 11.2963 15.0407 11.2963 14.8415V6.01932C11.2963 5.67335 11.5793 5.39029 11.9253 5.39029H14.4414C14.7874 5.39029 15.0704 5.67335 15.0704 6.01932V13.2375L18.3991 15.6592C18.6821 15.8637 18.7398 16.2568 18.5354 16.5399L17.0571 18.5738C16.8527 18.8516 16.4596 18.9145 16.1765 18.71Z" fill="#8698A2"/>
                    </svg>
                </div>
                <div class="panel-body">
                    <div class="small">
                        Extending your contest allows more people to enter, and gives more time for better entries
                    </div>
                    <div class="options">
                        {% for days, cost in {5: 10, 10: 15, 15: 20} if days + project.daysExtended <= 15 %}
                            <div class="option">
                                <div class="check">
                                    <input
                                            id="extend-contest-{{ days }}-days"
                                            type="radio"
                                            name="extend-contest-days"
                                            value="{{ days }}"
                                            data-cost="{{ cost }}"
                                    >
                                    <label for="extend-contest-{{ days }}-days">
                                        {{ loop.first ? 'Minimum - ' : days == 15 ? 'Maximum - ' }}{{ days }} days
                                    </label>
                                </div>
                                <div class="price-box">
                                    $<span class="price-value">{{ cost }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panel-buttons">
                        <button class="btn btn-primary edit-contest-pay-button" disabled data-url="{{
                            path('stripe_session_contest_extend')
                        }}" data-uuid="{{ project.uuid }}">
                            PAY & EXTEND NOW
                        </button>
                        <div class="total-box hide">
                            $<span class="total-value"></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
