<div class="js-waveform-wrap waveform symmetric"
     data-waveform="{{ audio|waveform_json|escape('html_attr') }}"
     data-audio="{{ cdn_url }}{{ audioUrl }}"
     data-played-url="{{ played_callback_url is defined ? played_callback_url }}"
     data-played-counter="{{ played_counter is defined ? played_counter }}"
     data-height="{{ waveformHeight is defined ? waveformHeight : 60 }}"
     data-reflection-height=1
     data-reflection-gap=0
     data-bar-gap=1
     data-gap-color="#fff"
     data-wave-color="#d6d6d6"
     data-reflection-color="#d6d6d6"
     data-progress-color="#80d3eb"
     data-progress-reflection-color="#80d3eb"
     data-progress-gap-color="#fff"
>
    <div class="loading-gradient"><br></div>
{#        <div class="track-time track-current hidden">0:00</div>#}
{#        <div class="track-time track-duration hidden">0:00</div>#}
</div>