{#@var UserInfo userInfo#}
{#@var UserAudio[] userAudios#}
{% set block_item_classes = block('item_classes') is defined ? block('item_classes') : '' %}
<div class="discover-item {{ block_item_classes }}">
    <div class="item-body{% if no_controls is not defined or not no_controls %} has-controls{% endif %}">
        <div class="item-top">
            <div class="media">
                <div class="avatar no-shadow">
                    {% block avatar %}
                        <a class="img-circle"
                           href="{{ path('user_view', {username: userInfo.username} ) }}"
                           style="background-image: url('{{ userInfo.path is empty ? asset('images/default_avatar.svg') :  asset('uploads/avatar/medium/' ~ userInfo.path )}}')"
                        ></a>
                        {% if userInfo.isSubscribed %}
                            <img alt="pro" src="{{ asset('images/vocalizr_pro_stamp.svg') }}" class="svg-stamp-pro" data-text="<div class='tip-header'>This Vocalizr user is an <a href='{{ path('membership') }}' class=stamp-pro-hover>Access Pass</a> member</div>">
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="info-columns info-grid">
                <div class="info user-info">
                    <div class="name">
                        <a href="{{ path('user_view', {username: userInfo.username} ) }}" class="username">
                            {{ userInfo.displayName }}
                        </a>
                        {% if userInfo.isCertified %}
                            <img class="vocalizr-certified-stamp-clipped" src="{{ asset('images/certified_pro_stamp_clipped.svg') }}" alt="" data-text="<div class='tip-header'>VocalA 'Certified Professional’ is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level.izr Certified Professional</div><br><a href='{{ path('get_certified') }}' class='get-certified-now' style='color: #01c2e5;'>Get Certified Now</a>">
                        {% endif %}
                    </div>
                    <div class="location location-white">
                        {% if not userInfo.city is empty %}
                            {{ userInfo.city }},
                        {% endif %}
                        {% if not userInfo.country is empty %}
                            {{ userInfo.country|countryName }}
                        {% endif %}
                    </div>
                </div>
                <div class="info info-rows">
                    {% block info_rows %}{% endblock %}
                    {% block admin_actions %}
                        {% if app.user and app.user.isAdmin %}
                            <br>
                            {% if not userInfo.isCertified %}
                                <p><a href="{{ path('admin_user_certify', {id: userInfo.id, from: 'vocalists'}) }}" class="btn btn-default btn-app-certify btn-sm roll-alt">CERTIFY</a></p>
                            {% else %}
                                <p><a href="{{ path('admin_user_certify', {id: userInfo.id, from: 'vocalists'}) }}" class="btn btn-default btn-app-certify btn-sm roll-alt">REMOVE CERTIFY</a></p>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="right-column">
                    {% block right_column %}{% endblock %}
                </div>
            </div>
        </div>
        {% block audio %}
            <div class="item-audios">
                <div class="cycle-slideshow"
                     data-cycle-fx="scrollHorz"
                     data-cycle-timeout="0"
                     data-cycle-prev="#audio-{{ userInfo.id }}-prev"
                     data-cycle-next="#audio-{{ userInfo.id }}-next"
                     data-cycle-slides="> div.user-list-track"
                     data-cycle-log="false"
                >
                    {% for userAudio in userAudios %}
                        <div class="user-list-track">
                            {% include 'include/user_audio.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
                {% if userAudios|length > 1 %}
                    <div class="audio-nav">
                        <a href=# id="audio-{{ userInfo.id }}-prev" class="audio-prev btn btn-sm btn-default">
                            <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.68084 5.0724L5.29048 0.177021C5.51272 -0.0590071 5.87323 -0.0590071 6.09547 0.177021L6.63317 0.748074C6.85517 0.98385 6.8554 1.36573 6.63411 1.60201L2.9808 5.49987L6.63388 9.39799C6.8554 9.63427 6.85493 10.0161 6.63293 10.2519L6.09524 10.823C5.873 11.059 5.51248 11.059 5.29024 10.823L0.68084 5.92734C0.4586 5.69132 0.4586 5.30843 0.68084 5.0724Z" fill="white"/>
                            </svg>
                        </a>
                        <a href=# id="audio-{{ userInfo.id }}-next" class="audio-next btn btn-sm btn-default">
                            <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.31916 5.9276L1.70952 10.823C1.48728 11.059 1.12677 11.059 0.904527 10.823L0.366834 10.2519C0.144832 10.0161 0.144595 9.63427 0.365886 9.39799L4.0192 5.50012L0.366124 1.602C0.144596 1.36572 0.145071 0.983847 0.367073 0.748072L0.904766 0.177019C1.12701 -0.0590095 1.48752 -0.0590095 1.70976 0.177019L6.31916 5.07265C6.5414 5.30868 6.5414 5.69157 6.31916 5.9276Z" fill="white"/>
                            </svg>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
    <div class="footer">
        <div class="bid-actions">
            <div class="actions-left">{% block actions_left %}{% endblock %}</div>
            <div class="actions-right">{% block actions_right %}{% endblock %}</div>
        </div>
    </div>
</div>
