<ul class="notify-dd">
    {% if notifications|length %}
        {% for result in notifications %}
        {% set data = result.data|json_decode %}
        {% set url = null %}
        {% if result.notifyType == "like" %}
            {% set url = path('user_view', {username: result.actionedUserInfo.username}) %}
        {% endif %}
        {% if result.notifyType == "project_invite" or result.notifyType == "project_hire" %}
            {% set url = path('project_view', {uuid: result.project.uuid}) %}
        {% endif %}
        {% if result.notifyType == "connect_invite" %}
            {% set url = path('connections') %}
        {% endif %}
        {% if result.notifyType == "connect_accept" %}
            {% set url = path('user_view', {username: result.actionedUserInfo.username} ) %}
        {% endif %}

    <li class="{{ result.notifyType }}{% if not result.notifyRead %} unread{% endif %} invite-project"{% if url %} data-url="{{ url }}"{% endif %}>
        <div class="notify-wrap clearfix">
            <div class="photo">
                {% if result.actionedUserInfo.path is null %}
                    <img src="{{ asset('images/default_avatar.svg') }}" width="40" height="40" class="img-circle avatar-sm-{{ result.actionedUserInfo.username }}" />
                {% else %}
                    <img src="{{ asset('uploads/avatar/small/' ~ result.actionedUserInfo.path ) }}" width="40" height="40" class="img-circle avatar-sm-{{ result.actionedUserInfo.username }}" />
                {% endif %}
            </div>
            <div class="action">
                <div class="title">{{ result.actionedUserInfo.displayName }}</div>
                {% if result.notifyType == "like" %}
                liked your track "{{ data.title }}"
                {% endif %}
                {% if result.notifyType == "project_invite" %}
                    invited you to their {{ result.project.projectTypeName }}<br />
                    <a href="{{ path('project_view', {uuid: result.project.uuid}) }}">{{ result.project.title }}</a>
                {% endif %}
                {% if result.notifyType == "project_hire" %}
                    wants to hire you!<br />
                    <a href="{{ path('project_view', {uuid: result.project.uuid}) }}" class="invite-project">{{ result.project.title }}</a>
                {% endif %}
                {% if result.notifyType == "connect_invite" %}
                    would like to connect with you
                {% endif %}
                {% if result.notifyType == "connect_accept" %}
                    is now connected with you
                {% endif %}
            </div>
            <span class="time">{{ result.createdAt|timeAgoString }} ago</span>
        </div>
    </li>
        {% endfor %}
    {% else %}
    <li>
        <div class="notify-wrap clearfix">There are no notifications</div>
    </li>
    {% endif %}
</ul>
<script>

    {% if not can_hire_now() %}
        setTimeout(function (){

            $('.invite-project').click(function (e) {
                showModal(e, '#hire_now_modal')
            });
            $('.notify-dd li').off('click');
            $('.notify-dd li').on('click', function (e) {
                showModal(e, '#hire_now_modal')
            });
        }, 500);

        {% if app.session.flashBag().get('hire_now_modal') %}
            showModal(null, '#hire_now_modal');
        {% endif %}
    {% endif %}
</script>
