{% extends '@VocalizrApp/Register/base/layout.html.twig' %}

{% block title %}
    Get Certified
{% endblock %}

{% block description %}

{% endblock %}

{% block wrap %}
<div class="centered-content">
    <div class="left-offset"></div>
    <div class="split-container signup-page">
        <div class="left-block">
            <div class="vertical-container" style="--vertical-gap: 0">
                <div class="logo-header">
                    <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="122px" height="36px">
                </div>
                <div class="section-header">
                    <div class="heading heading-flex">
                        <div class="left-block"><h1>Vocalizr Certified Professional Application</h1></div>
                        <div class="right-block"><img src="{{ asset('/images/certified_pro_stamp_clipped.svg') }}" alt="PRO"></div>
                    </div>
                </div>
                {% include 'VocalizrAppBundle::messages.html.twig' %}
                <div class="voc-panel">
                    <div class="heading">
                        Are you ready to be certified?
                    </div>
                    <div class="content">
                        <div class="main">
                            <p class="description-certified">
                                Certifications cost $19.99 yearly. Before beginning, please ensure your profile is fully filled out, with at least 3 tracks and a full bio / description, and you are sure you have satisfied the
                                <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008361208">requirements</a>.
                            </p>
                            <form method="post" {{ form_enctype(userCertifiedForm) }} id="certifiedForm">
                                {{ form_row(userCertifiedForm.userName, {'value': user.getUsername()}) }}
                                {{ form_rest(userCertifiedForm) }}
                                <input class="btn btn-primary btn-pay" type="submit" name="submitForm" value="PAY & GET CERTIFIED NOW">
                            </form>

                        </div>

                    </div>


                    <div class="content-footer certified-footer">
                        *Your payment will be automatically refunded if you do not meet the
                        certification <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008361208">requirements</a> at this time.
                    </div>
                </div>
            </div>
        </div>
        <div class="right-block">
            <div class="vertical-container text-description" style="max-width: 352px; margin-top: 279px">
                <div class="hint font-grades">
                    <div class="hint-title"><b>About the Certified Professional Stamp</b></div>
                </div>
                <p class="stamp-item">
                    Certification costs $19.99 yearly.
                </p>
                <p class="stamp-item-text">
                    Vocalizr <b>Certified Professionals</b> generally win more jobs than non-certified users.
                </p>
                <p class="stamp-item-text last-item">
                    <b>Certified Professionals</b> sport the blue <b>PRO</b> stamp, so other users can easily see their professional status.
                </p>
                <p class="right-block-footer">
                    *Certification is not guaranteed if you do not meet the <a href="https://vocalizrhelp.zendesk.com/hc/en-us/articles/115008361208">requirements</a>. In this case, you will receive a full refund.
                </p>
            </div>
        </div>
    </div>
    <div class="right-offset"></div>
</div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('#paypal').on('click', function(e) {
            e.preventDefault();
            $('.paypal-option').val($('#freq').val());

            $('#paypal-submit').click();
        });
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_checkout_key }}');
        $('body').on('submit', '#certifiedForm', function (e) {

            e.preventDefault();
            $.ajax({
                url: "{{ path('get_certified') }}",
                method: 'POST',
                data: $('#certifiedForm').serialize(),
                success: function (data) {
                    if (data.id) {
                        stripe.redirectToCheckout({sessionId: data.id})
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    {% stylesheets
        '@VocalizrAppBundle/Resources/public/css/certifiedUser.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
