{% extends 'website.html.twig' %}


{% block body %}
<div class="nav-wrapper">
    <nav id="nav" class="navbar navbar-default" role="navigation">
      <div class="container">
          <a href="{{ path('home') }}"><img src="/images/logo_dark.png" alt="vocalizr" title="vocalizr logo" width="108" height="32"></a>
          <a href="{{ path('login') }}" class="btn btn-login pull-right">Login</a><a href="{{ path('register') }}" class="btn btn-signup pull-right">Sign up</a>
      </div>
    </nav>
</div>
<div class="std-content sub-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 content-wrapper text-left contact">

                <h1>Contact Us</h1>
                <p>Thank-you!<br>Your message has been successfully sent.</p>
            </div>
        </div>
    </div>
</div>
<nav class="footer navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                © Copyright Vocalizr {{ "now"|date('Y') }}

                <ul id="footer-nav">
                    <li class="share"><a href="https://www.facebook.com/Vocalizr"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="share"><a href="https://twitter.com/vocalizr"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="{{ path('website_contact') }}">Contact Us</a></li>
                    <li><a href="{{ path('website_faq') }}">FAQs</a></li>
                    <li><a href="{{ path('website_fees') }}">Fees & Charges</a></li>
                    <li><a href="{{ path('website_terms') }}">Terms</a></li>
                    <li><a href="{{ path('website_privacy') }}">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}