{% extends 'website.html.twig' %}

{% block title %}Connecting Singers & Producers{% endblock %}

{% block body %}
<header class="home-header">
    <div class="home-splash">
        <a href="http://www.vocalizr.com"><img src="{{ asset('images/logo_website.png') }}" alt="vocalizr - connecting singers & producers" title="Jump to the home page" width="146" height="44"></a>
        <h1>Connecting<br>Vocalists & Producers</h1>
        <a href="{{ path('register') }}" class="btn btn-signup">Sign up</a>
        <a href="{{ path('login') }}" class="btn btn-login">Login</a>          
        <div class="scroll-prompt"><i class="fa fa-angle-down"></i></div>

    </div>
</header>
<div class="nav-wrapper" id="anchoredNav">
    <nav id="nav" class="navbar navbar-default" role="navigation">
      <div class="container">
          <a href="{{ path('home') }}"><img src="{{ asset('images/logo_dark.png') }}" alt="vocalizr" class="website-logo"></a>
          <a href="{{ path('login') }}" class="btn btn-login pull-right">Login</a><a href="{{ path('register') }}" class="btn btn-signup pull-right">Sign up</a>
      </div>
    </nav>
</div>
<div class="content-wrapper types-intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 user-type vocalist">
                <a href="/producers"><img src="{{ asset('images/website/vocalist_icon.png') }}" width="103" height="112" border="0"></a>
                <h3>Vocalists</h3>
                <p>
                    Vocalizr was created to connect professional singers and producers world-wide. We have the largest community of producers looking for talent. 
                </p>
                <a href="{{ path('gig_hunter') }}" class="btn btn-find">Find work now</a>
            </div>
            <div class="col-xs-12 col-sm-6 user-type producer">
                <a href="/vocalists"><img src="{{ asset('images/website/producer_icon.png') }}" width="103" height="112" border="0"></a>
                <h3>Producers</h3>
                <p>Save time finding the right singer for your project.<br>
                    Publish your project for singers to audition or find the voice you need using our powerful vocalist search.</p>

                <a href="{{ path('vocalists') }}" class="btn btn-find">Find vocalists</a>
            </div>
        </div>
    </div>
</div>
<div class="std-content what-is">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 content-wrapper">
                <h2>What is vocalizr?</h2>
                <p>The most focused music production tool available. 
Our music industry professionals have identified key problems faced by producers and singers.
We have created Vocalizr as a safe and secure online collaborative workspace. </p>
                <div class="screenshot with-bg">
                    <img class="screenshot" src="{{ asset('images/website/what_is_img.png') }}" alt="what is vocalizr img" title="Vocalizr vocalist search">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="std-content sign-up">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3><span>Ready to rock?</span> Sign-up is free so lets go!</h3>
                <form class="form-inline" action="{{ path('register') }}" method="post">
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <label for="email" class="sr-only">Email address</label>
                        <input type="email" id="form_email" name="form[email]" value="{{ form.email.vars.value }}" required="required" maxlength="100" class="form-control" placeholder="Enter your email address...">
                    </div>
                    <input type="submit" name="register_submit" value="Sign up" class="btn btn-signup">
                </form>
                Already a member? <a href="{{ path('login') }}">Login</a>
            </div>
        </div>
    </div>
</div>
<nav class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                © Copyright Vocalizr {{ "now"|date('Y') }}

                <ul id="footer-nav">
                    <li class="share"><a href="https://www.facebook.com/Vocalizr"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="share"><a href="https://twitter.com/vocalizr"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="http://support.vocalizr.com/" target="_blank">Help</a></li>
                    <li><a href="{{ path('membership') }}">Membership</a></li>
                    <li><a href="http://blog.vocalizr.com/" target="_blank">Blog</a></li>
                    <li><a href="{{ path('website_fees') }}">Fees & Charges</a></li>
                    <li><a href="{{ path('website_terms') }}">Terms</a></li>
                    <li><a href="{{ path('website_privacy') }}">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}