{% extends 'app.html.twig' %}

{% block title %}Singers, Find your perfect singer{% endblock %}

{% block description %}Find your perfect singer from anywhere in the world. Vocalizr has a wide range of very taleted male singers and female singers who want to work with you{% endblock %}

{% block javascript %}

<script type="text/javascript" src="{{ asset('js/jquery.geocomplete.min.js') }}"></script>

    <script>
        $('#geo-location').geocomplete({
            details: "#search-form",
            types: ['(cities)'],
            blur: true,
            detailsAttribute: "data-geo"
        });
    </script>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-8 page-content">
        <h1>Find Your Singers on Vocalizr</h1>

        <h2>Using Vocalizr to Find Your Singers</h2>
        
        <p>Are you a producer looking for new vocal for your tracks? On vocalizr, you can find a wide variety of female singers and male singers from anywhere
            in this world. You can choose the singers that you consider most suitable for your needs and start a collaboration using a remote studio. 
            In order to use vocalizr, you only need to create your account and then you can start searching for the perfect vocals to help you with
            your next project. Using vocalizr has plenty of benefits for producers:</p>
            
        <ul>
            <li>It is easy and safe to use</li>
            <li>You will find a wide variety of vocalists to choose from</li>
            <li>You can collaborate with vocalists from anywhere in the world, in a remote studio</li>
        </ul>
        
        <h2>A Wide Range</h2>
        <p>Regardless of what type of vocalist you need in order to collaborate with for your next track, you can find them on vocalizr. 
            The first thing you need to do is create your account and then you will be able to start your search. If you go to the <a href="{{ path('vocalists') }}">Find Vocalists</a> page, then you have two main options for your search:</p> 
        <ul>
            <li>Browse through the vocalists displayed</li>
            <li>Refine your search</li>
        </ul>
        
        <p>The vocalists that you will find displayed are the ones that are available on vocalizr. You will there be able to see their details, including:
            gender, location, fee, sounds like, studio access, microphone, reviews, stars and also a Play button, which allows you to hear a sample of their voice.</p>
        
        <p>If you are looking for a specific type of singer, then you can use the customized search in order to find the singers that best suit your needs. In the refined 
            search, you can choose from a variety of options available, which will help you see only the vocalists that suit your needs:</p>
        <ul>
            <li>Must have audio – by selecting this option, you will only be shown vocalists who you can hear a sample from</li>
            <li>Sounds like – you can complete this field with the names of singers whose voice are you interested in, which means that you will only see the available vocalists who have similar voice to the ones you are interested in</li>
            <li>Gender – you can look for either, female singers or male singers only, depending on your preferences</li>
            <li>Vocalist fee – allows you to choose the fee range that the vocalist requires</li>
            <li>Must have studio access – you can select this option if you wish</li>
            <li>Location – you can search vocalists from the location that you wish</li>
            <li>Genres – choose only vocalists from your desired genre</li>
            <li>Vocal styles </li>
            <li>Vocal characteristics</li>
            <li>Username – you can complete this field if you already know the username of your desired vocalist</li>
        </ul>

        <p>Whether you are looking for female singers or male singers, the number of available vocalists that you will find on vocalizr is huge.
            You can find the vocalists that you need, depending on your preferences and needs for your tracks. You can choose your desired vocalists 
            from anywhere in the world and start a wonderful collaboration through the remote studio.</p>
        <p>&nbsp;</p>
        <p><a href="{{ path('vocalists') }}" class="btn btn-primary">Browse</a></p>
</div>
    
    <div class="col-sm-4">
        <div class="discover-filter-panel panel panel-default">
            <div class="panel-heading">
                FIND SINGERS
            </div>
            <div class="panel-body padding">

                <form id="search-form" action="{{ path('vocalists') }}" method="get" style="display:inline" novalidate>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <input type="checkbox" name="{{ form.audio.vars.full_name }}" value="1"{% if form.vars.value.audio  %} checked{% endif %}> Must have audio
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row form-group">
                        <div class="col-sm-12">
                        {{ form_row(form.genre) }}
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <input type="checkbox" name="{{ form.studio_access.vars.full_name }}" value="1"{% if form.vars.value.studio_access %} checked{% endif %}> Must have studio access
                        </div>
                    </div>
                    
                    <hr>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>LOCATION</label>
                            <input id="geo-location" type="text" name="location" class="form-control" placeholder="Start typing the city..." value="{{ form.vars.value.city }}">
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    
                    <hr>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            {{ form_row(form.username) }}
                        </div>
                    </div>
                    
                    <hr>
                    {{ form_row(form._token) }}
                    <input type="hidden" name="page" value="1" id="page">
                    <input type="hidden" name="search" value="Search">
                    
                    <div class="form-buttons">
                        <button type="submit" name="search" value="search" class="btn btn-sm btn-default">SEARCH</button>
                        <a href="{{ path('producers') }}" class="btn btn-sm btn-default roll-alt">RESET</a>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>
                    {% endblock %}