<div class="voc-panel payment">
    <div class="heading">
        PAYMENT
        <span></span>
    </div>
    <div class="content">
        <div class="main">
            <p class="note">We accept:</p>
            <div class="horizontal-container accept" style="--horizontal-gap: 14px">
                <div class="payment-method-img" style="background-image: url('{{ asset('images/cc/used/visa.png') }}')"></div>
                <div class="payment-method-img" style="background-image: url('{{ asset('images/cc/used/mastercard.png') }}')"></div>
                <div class="payment-method-img" style="background-image: url('{{ asset('images/cc/used/americanexpress.png') }}')"></div>
            </div>
            {% if not app.user.isSubscribed %}
                <form action="" method="POST" id="payment-form" style="display: block;">
                    <label class="field-label">{% block options_label %}CHOOSE YOUR PLAN{% endblock %}</label>
                    <select id="freq" name="freq" class="form-control">
                        {% block options %}
                        <option value="Vocalizr PRO Monthly" data-value="monthly">Vocalizr Access Pass Monthly : 10.99 USD - monthly</option>
                        <option value="Vocalizr PRO Yearly (20% off)" data-value="yearly">Vocalizr Access Pass Yearly (20% off) : 106.00 USD - yearly</option>
                        {% endblock %}
                    </select>
                    <div class="horizontal-container space-between" style="--horizontal-gap: 0; padding-top: 22px">
{#                        <button id="paypal" name="button" type="submit" class="btn btn-primary">Pay with <i style="font-weight: 900">PayPal</i></button>#}
                        <button id="start-mem" type="button" class="btn btn-primary">Pay with <span style="font-weight: 900">Stripe</span></button>
                    </div>
                </form>
                <form id="paypal-form" action="{{ paypal_url }}" method="post" target="_top" style="display: none">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="custom" value="{{ {custom: app.user.uniqueStr, source: user_source.source}|json_encode|escape('html_attr') }}">
                    <input type="hidden" name="src" value="1">
                    <input type="hidden" name="sra" value="1">

                    <input type="hidden" name="hosted_button_id" value="{% block button_id %}{{ paypal_button_id }}{% endblock %}">

                    <input type="hidden" name="on0" value="">
                    <input type="hidden" name="os0" value="Vocalizr PRO Monthly" class="paypal-option">
                    <input type="hidden" name="currency_code" value="USD">
                    {% block paypal_extra_fields %}
                    {% endblock %}
                    <button id="paypal-submit" name="submit" type="submit" class="btn btn-primary"><i class="fa fa-paypal"></i> PayPal</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
