{% for user in results %}
    <div class="result clearfix" id="user-result-{{ user.id}}">
        <div class="info col-sm-6">
            <ul>
                <li>Email: <span>{{ user.email }}</span></li>
                <li>Full name: <span>{{ user.fullName }}</span></li>
                <li>Username: <span>{{ user.username }}</span></li>
                <li>Display Name:  <a href="{{ user.username ? path('user_view', {username: user.username}) }}" target="_blank">{{ user.displayName }}</a></li>
                <li>Date registered: <span>{{ user.dateRegistered|date('d/m/Y') }}</span></li>
            </ul>
        </div>
        <div class="actions col-sm-6">
            {% if user.isActive %}
                <button class="btn btn-danger btn-activate" data-href="{{ path('admin_user_activate', {id : user.id}) }}">Deactivate User</button>
            {% else %}
                <button class="btn btn-success btn-activate" data-href="{{ path('admin_user_activate', {id : user.id}) }}">Activate User</button>
            {% endif %}
            {% if user.isCertified %}
                <button class="btn btn-danger btn-certify" data-href="{{ path('admin_user_certify', {id : user.id}) }}">Remove Certified</button>
            {% else %}
                <button class="btn btn-success btn-certify" data-href="{{ path('admin_user_certify', {id : user.id}) }}">Set Certified</button>
            {% endif %}
            {% if user.subscribed %}
                <button class="btn btn-danger btn-upgrade" data-role="downgrade" data-href="{{ path('admin_user_downgrade', {id : user.id}) }}">Downgrade</button>
            {% else %}
                <button class="btn btn-success btn-upgrade" data-role="upgrade" data-href="{{ path('admin_user_upgrade', {id : user.id}) }}">Upgrade</button>
            {% endif %}
            {% if not user.verified %}
                <button class="btn btn-success btn-verify" data-role="verify" data-href="{{ path('admin_user_verify', {id : user.id}) }}">Verify</button>
            {% else %}
                <button class="btn btn-danger btn-verify" data-role="unverify" data-href="{{ path('admin_user_unverify', {id : user.id}) }}">Unverify</button>
            {% endif %}
            <a href="{{ path('loginAs', {id : user.id}) }}" class="btn btn-default">Login As User</a>
        </div>
    </div>
{% endfor %}
