{% extends 'app.html.twig' %}

{% block title %}Engine Room Orders{% endblock %}

{% block javascript %}


{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Engine Room Orders</h1>
            
            {% if app.session.hasFlash('notice') %}
                <div class="alert alert-success">
                    {{ app.session.flash('notice') }}
                </div>
                {{ app.session.removeFlash('notice') }}
            {% endif %}

            <table cellspacing="0" cellpadding="0" border="0" class="table table-dark" width="100%">
                <thead>
                    <tr>
                        <th width="400">Title</th>
                        <th width="200">Service</th>
                        <th>Username</th>
                        <th width="80">Status</th>
                        <th width="120">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in pagination %}
                    <tr>
                        <td><a href="{{ path('admin_engine_order', {uid: order.uid}) }}">{{ order.title }}</a> (#{{ order.id }})</td>
                        <td>{{ order.EngineProduct.title }}</td>
                        <td>{{ order.UserInfo.username }}</td>
                        <td> 
                            {% if order.status == "PAID" %}
                                <span class="label label-green">{{ order.status }}</span>
                            {% elseif order.status == "IN PROCESS" %}
                                <span class="label label-orange">{{ order.status }}</span>
                            {% else %}
                                <span class="label label-jade">{{ order.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ order.createdAt|date(default_date_format) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    
{% endblock %}