{% extends 'app.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheet %}
    <style>
        .form-inline {
            display: flex;
        }
    </style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>
<script type="text/javascript">
    $('.withdraw-action').on('click', function(e) {
        e.preventDefault();
        if ($(this).hasClass('approve-action')) {
            $('.deny').hide();
            $('.approve').show();
        } else {
            $('.approve').hide();
            $('.deny').show();
        }
        var clicked = this;
        var modal = $('#confirm_action_modal');
        modal.fadeIn(300);

        $(document).on('click', '.cancel-withdraw', function(e) {
          modal.fadeOut(300);
        });
        $(document).on('click', '.confirm-withdraw', function(e) {
            location.href = $(clicked).attr('href');
        })
    });
</script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="d-b">Withdrawals waiting for Approve</h1>
            <div class="d-b" style="min-height: 250px">
                <div class="withdrawal-buttons">
                    <a href="{{ path('admin') }}" class="btn btn-default back-admin">Back to Admin</a>
                    <a href="{{ path('admin_withdraw_approve_all') }}" class="btn btn-primary back-admin">Approve All</a>
                </div>
                <div class="legend">
                    <ul>
                        <li><b>Amount:</b> Amount of withdrawal request</li>
                        <li><b>U1:</b> Username/link of Withdrawer</li>
                        <li><b>U2:</b> Username/link of user they recently did Gig/Contest with </li>
                        <li><b>Age1:</b> Age of account in days User1 </li>
                        <li><b>Age2:</b> Ago of account in days User2 </li>
                        <li><b>TLI 1:</b> Time logged in (minutes/hours) User1 </li>
                        <li><b>TLI 2:</b> Time logged in (minutes/hours) User2 </li>
                        <li><b>Gig Age:</b> How long the Gig has been open in hours|days </li>
                        <li><b>PC%:</b> Profile completeness % (based on how much of their profile is filled out - 5 of 10 fields = 50%) </li>
                        <li><b>IPs:</b> Similar IP address? yes/no (based on last ip address numbers) </li>
                        <li><b>Approve Button:</b> Puts withdraw into process queue</li>
                        <li><b>Deny Button:</b> Cancels payment, refunds U2 deposit address, deactivates both accounts </li>
                    </ul>
                </div>
            </div>

            {% if app.session.flashbag.has('notice') %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if app.session.flashbag.has('error') %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <table cellspacing="0" cellpadding="0" border="0" class="table table-dark withdrawals" width="100%">

                <thead>
                <tr>
                    <th>Amount</th>
                    <th title="Withdrawer User">U1</th>
                    <th title="User recently did Gig/Contest with withdrawer">U2</th>
                    <th title="Account age in days of User1">Age1</th>
                    <th title="Account age in days of User2">Age2</th>
                    <th title="Time logged in of User1">TLI1</th>
                    <th title="Time logged in of User2">TLI2</th>
                    <th>Gig Age</th>
                    <th title="Profile completeness in % of User1">PC1</th>
                    <th title="Profile completeness in % of User2">PC2</th>
                    <th title="Similar IPs?">IPs</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for result in pagination %}
                    {% set withdraw = result['withdraw'] %}
                    {% set userProjectWith = result['userProjectWith'] %}
                    {% set project = result['project'] %}
                    <tr>
                        <td>${{ (withdraw.amount / 100)|number_format(2) }}</td>
                        <td>
                            <a href="{{ path('user_view', {username: withdraw.userInfo.username}) }}">{{ withdraw.userInfo.username }}</a>
                            {% if result.withdrawIp %}
                                <br><small class="small">{{ result.withdrawIp }}</small>
                            {% endif %}
                        </td>
                        <td>
                            {% if userProjectWith %}
                                <a href="{{ path('user_view', {username: userProjectWith.username}) }}">{{ userProjectWith.username }}</a>
                                {% if result.escrowIp %}
                                    <br><small class="small">{{ result.escrowIp }}</small>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ withdraw.userInfo.getAccountAgeInDays }}d</td>
                        {% if userProjectWith %}
                            <td>{{ userProjectWith.getAccountAgeInDays }}d</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        <td>{{ withdraw.userInfo.userOnline ? withdraw.userInfo.userOnline.simpleTotalTime : 0 }}</td>
                        {% if userProjectWith %}
                            <td>{{ userProjectWith.userOnline ? userProjectWith.userOnline.simpleTotalTime : 0 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if project %}
                            <td>{{ project.getGigAge }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ withdraw.userInfo.getProfileCompleteness }}</td>
                        {% if userProjectWith %}
                            <td>{{ userProjectWith.getProfileCompleteness }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if result['sameIps'] is null %}
                            <td></td>
                        {% elseif result['sameIps'] %}
                            <td title="{{ userProjectWith.loginIp }} vs {{ withdraw.userInfo.loginIp }}">Yes</td>
                        {% else %}
                            <td title="{{ userProjectWith.loginIp }} vs {{ withdraw.userInfo.loginIp }}">No</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('admin_withdraw_approve', {id : withdraw.id}) }}" class="btn btn-primary withdraw-action approve-action">Approve</a>
                            <a href="{{ path('admin_withdraw_deny', {id : withdraw.id}) }}" class="btn btn-danger withdraw-action deny-action">Deny</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <div id="confirm_action_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        <div class="modal-dialog popup-panel">
            <div class="voc-panel">
                <div class="heading">
                    <div class="right-block approve" style="display: none">Confirm Approve</div>
                    <div class="right-block deny" style="display: none">Confirm Deny</div>
                </div>
                <div class="content" style="font-size: 13px">
                    <div class="main deny"  style="display: none">
                        Denying withdraw will block both users and refund ALL DEPOSITS to Gig/Contest creator. Withdraw status will be changed to CANCELED.
                    </div>
                    <div class="main approve"  style="display: none">
                        Approving withdraw will change withdraw status from WAITING APPROVAL to PENDING.
                    </div>
                    <div class="content-footer">
                        <button class="btn btn-primary confirm-withdraw">Confirm</button>
                        <button class="btn btn-default cancel-withdraw">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
