{% extends 'app.html.twig' %}

{% block title %}Upgrade to Vocalizr PRO{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/membership.css') }}" />
    
    <style>
        .cc-cards {
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>

      
      $('#paypal').on('click', function(e) {
          e.preventDefault();
          if ($('#freq').val() == "monthly") {
              $('.paypal-option').val('Pay Monthly');
          }
          else {
              $('.paypal-option').val('Pay Yearly');
          }
          $('#paypal-submit').click();
      });
      
      // Close Checkout on page navigation:
      $(window).on('popstate', function() {
        handler.close();
      });
    </script>
{% endblock %}
{% block body %}
    <h1>Upgrade to PRO</h1>
    <div class="row">
        <div class="plan col-sm-6 highlight">
            <div class="light-content" style="border-top: 3px solid #14b9d6;">
                <div class="plan-title">PRO</div>
                <div class="badge badge-blue badge-trial">SPECIAL OFFER</div><br>
                <div class="plan-price">$7<sup>.00</sup></div>
                <div class="plan-duration">per month</div>
                <p class="plan-note"><small>$75 Annually. Save 30%</small></p>

                <hr>

                <div class="plan-features">
                    <ul>
                        <li><strong class="white-highlight">Unlimited Monthly Connections</strong> - <i>Increased from 5 monthly connections</i></li>
                        <li><strong class="white-highlight">Unlimited Conversations</strong> - <i>Increased from 5 monthly conversations</i></li>
                        <li><strong class="white-highlight">{{ proPlan.userAudioLimit }} Profile Tracks</strong> - <i>Increased from 3 tracks</i></li>
                        <li><strong class="white-highlight">Reduction to {{ proPlan.paymentPercentTaken }}% Contractor Comission Taken</strong> - <i>Earn $60 more on a $600 Gig</i></li>
                        <li><strong class="white-highlight">Reduction to {{ proPlan.projectPercentAdded }}% Job Creator Fee</strong> - <i>Save $30 on a $600 Gig</i></li>
                        <li><strong class="white-highlight">Priority bids</strong> - <i>Your bids appear at the top</i></li>
                        <li><strong class="white-highlight">Enhanced Pro Statistics</strong> - <i>See who's listening to your music</i></li>
                        <li><strong class="white-highlight">Pro Badge</strong> - <i>See who's listening to your music</i></li>
                        <li><strong class="white-highlight">Exclusive Discounts</strong> - <i>Because who doesn't want be taken seriously?</i></li>
                        <li><strong class="white-highlight">No Ads</strong> - <i>All ads removed across Vocalizr</i></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    PAYMENT
                </div>
                <div class="panel-body">
                    <div class="panel-row">
                    {% if not app.user %}
                    <a href="{{ path('paypal_pro_login') }}" class="btn btn-primary">Login before Making Payment</a>
                    {% elseif app.user and not app.user.isSubscribed %}
                        <form action="" method="POST" id="payment-form" style="display: inline-block;">
                        
                            <span class="payment-errors error"></span>

                            <div class="form-group">
                                <div class="cc-cards">
                                    <label class="field-label">WE ACCEPT</label><br>
                                    <img src="/images/cc/mastercard-curved-64px.png" width="30"> <img src="/images/cc/visa-curved-64px.png" width="30"> <img src="/images/cc/american-express-curved-64px.png" width="30"> <img src="/images/cc/paypal-curved-64px.png" width="30">
                                </div>
                                <label class="field-label">CHOOSE YOUR PLAN</label>
                                <select id="freq" name="freq" class="form-control">
                                    <option value="monthly">$7.00 Monthly - Save 20%</option>
                                    <option value="yearly">$75.00 Annually - Save 30%</option>
                                </select>
                            </div>

                            <div class="form-group">

                                {% if app.user %}
                                    <button id="paypal" name="button" type="submit" class="btn btn-primary"><i class="fa fa-paypal"></i> PayPal</button>
                                {% else %}
                                    <button name="button" type="submit" class="btn btn-primary">Login before Making Payment</button>
                                {% endif %}

                                
                            </div>
                            </form>
                      
                             
                            <form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: none">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="custom" value="{{ app.user.uniqueStr }}">
                                <input type="hidden" name="src" value="1">
                                <input type="hidden" name="sra" value="1">
 

                                <input type="hidden" name="hosted_button_id" value="DUACTQH336V9N">
                              
                                <input type="hidden" name="on0" value="Frequency">
                                <input type="hidden" name="os0" value="Pay Monthly" class="paypal-option">

                                <input type="hidden" name="currency_code" value="USD">
                                <button id="paypal-submit" name="submit" type="submit" class="btn btn-primary"><i class="fa fa-paypal"></i> PayPal</button>
                            </form>

                    {% else %}
                        You are on PRO Membership!
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
