{% extends '::app.html.twig' %}

{% block title %}Withdraw Funds{% endblock %}

{% block description %}Withdraw Funds{% endblock %}

{% block body %}
<a href="{{ path('user_financial') }}" class="btn btn-sm btn-default pull-right">&lt; GO TO FINANCES</a>
<h1>Withdraw Funds</h1>
{% if walletBalance > 0 %}
<p>You can withdraw a maximum of ${{ (walletBalance/100)|number_format(2) }} from your wallet.</p>
{% endif %}


                            <div style="margin-top: 10px; margin-bottom: 20px; font-size: 12px;"><em>
                                    {% if app.user.isSubscribed() %}
                                        Withdrawals are processed within 24hrs.
                                    {% else %}
                                        Processing takes 5 days. <a href="{{ path('plans') }}">Upgrade to Access Pass</a> for rapid 24hr withdrawal processing.
                                    {% endif %}
                            </em></div>
{% include 'VocalizrAppBundle::messages.html.twig' %}

    <div class="row">
        <div class="col-sm-9">
            <div class="light-content">
            {% if pagination|length > 0 %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th width="120">Date</th>
                        <th>Amount</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for withdrawRequest in pagination %}
                        <tr>
                            <td>{{ withdrawRequest.createdAt|date(default_date_format) }}</td>
                            <td>${{ withdrawRequest.amountDollars }}</td>
                            <td><p>{{ withdrawRequest.description }}</p>
                                <p>Status: <span class="white-highlight">{{ withdrawRequest.statusString|upper }}</span></p>
                                {% if withdrawRequest.status == "PENDING" or withdrawRequest.status == "IN PROGRESS" or withdrawRequest.status == "WAITING APPROVE" %}
                                    <a href="{{ path('financial_withdraw_cancel', {withdrawId: withdrawRequest.id} ) }}" class="btn btn-sm btn-default roll-alt">DELETE REQUEST</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
            {% else %}
            <p>You have no withdraw requests</p>
            {% endif %}
        </div>
    </div>
    {% if walletBalance > 0 %}
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                WITHDRAW FUNDS
            </div>
            <div class="panel-body no-padding">
                {% if app.user.wallet > 0 %}
                    <form action="{{ path('financial_withdraw') }}" method="post" onsubmit="return confirm('Are you sure you want to request this withdraw?');">
                        {{ form_row(withdrawForm._token) }}
                        <div class="panel-row">
                            <label>PAYPAL EMAIL</label>
                            <input type="text" name="{{ withdrawForm.paypal_email.vars.full_name }}" class="form-control" value="{{
                                app.user.withdrawEmail ? app.user.withdrawEmail :
                                lastWithdrawelRequest ? lastWithdrawelRequest.paypalEmail
                            }}">
                        </div>
                        <div class="panel-row">
                            <label>AMOUNT</label>
                            <input id="withdraw-amount" type="text" name="{{ withdrawForm.amount.vars.full_name }}" class="form-control" value="{{ (walletBalance/100)|number_format(2) }}">
                        </div>
                        <div class="panel-row">
                            <button type="submit" name="submit" value="Withdraw" class="btn btn-sm btn-primary" id="withdraw-button">WITHDRAW MONEY</button>
                        </div>
                    </form>
                {% else %}
                <div class="panel-row">
                    <p>Your wallet is empty</p>
                </div>
                {% endif %}
                </div>
            </div>

                {% if not app.user.isSubscribed %}
                    <div class="panel panel-default">
            <div class="panel-body no-padding">

                <div class="panel-row">
                    <p>For same day withdrawals</p>
                    <a href="{{ path('membership') }}" class="btn btn-sm btn-upgrade-pro">UPGRADE NOW</a>
                </div>

                </div>
            </div>

                {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block modals %}
    <div id="verify-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/verify_identity_modal.html.twig' %}
    </div>
{% endblock %}
{% block javascript %}
    {% javascripts '@VocalizrAppBundle/Resources/public/js/jquery.formatCurrency.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $('#withdraw-amount').on('blur', function () {
            $(this).toNumber();
            if ($(this).val() < 0) {
                $(this).val('');
                return;
            }
            $(this).formatCurrency({symbol: ''});
        });
    </script>
    <script>
        let isVerified = '{{ app.user.isVerified }}';

        $('button#withdraw-button').on('click', function(e) {
            if (!isVerified) {
                $('#verify-popup').modal('show');
                return false;
            } else {
                return true;
            }
        });
        $(document).on('click', 'a#identity-intents', function(e) {
            e.preventDefault();
            let link = $(this);

            $.ajax({
                url: link.attr('href') + '?type=withdraw',
                success: function(data) {
                    if (data.success) {
                        window.location.href = data.identity_url;
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block body_end_trackers %}
    {{ parent() }}
    {% if wrongEmailModal %}
        <div id="wrong_email_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
            {% include 'include/panel/wrong_email_for_withdraw.html.twig' %}
        </div>
        <script>
            $(function () {
                $('#wrong_email_modal').modal().show();
            })
        </script>
    {% endif %}
    {% if displayModal %}
        <div id="instant_withdrawals_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
            {% include 'include/panel/instant_withdrawals_panel.html.twig' %}
        </div>
        <script>
            $(function () {
                $('#instant_withdrawals_modal').modal().show();
            })
        </script>
    {% endif %}
{% endblock %}
