{% extends '::app.html.twig' %}

{% block title %}Audio Likes - Statistics{% endblock %}

{% block stylesheet %}
    {% stylesheets
        '@VocalizrAppBundle/Resources/public/css/stats.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
        {% javascripts 
            '@VocalizrAppBundle/Resources/public/js/highcharts.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
        
        <script>
$(function () {
    
Highcharts.theme = {
   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#3a4b55'],
         ]
      },
      style: {
         fontFamily: "'Unica One', sans-serif"
      },
      plotBorderColor: '#606063'
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   subtitle: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      title: {
         style: {
            color: '#A0A0A3'

         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      tickWidth: 1,
      title: {
         style: {
            color: '#A0A0A3'
         }
      }
   },
   tooltip: {
      backgroundColor: 'rgba(0, 0, 0, 0.85)',
      style: {
         color: '#F0F0F0'
      }
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         },
         animation: {
            duration: 2000
         },
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      },
      errorbar: {
         color: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },
   credits: {
      style: {
         color: '#666'
      }
   },
   labels: {
      style: {
         color: '#707073'
      }
   },

   drilldown: {
      activeAxisLabelStyle: {
         color: '#F0F0F3'
      },
      activeDataLabelStyle: {
         color: '#F0F0F3'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },

   // scroll charts
   rangeSelector: {
      buttonTheme: {
         fill: '#505053',
         stroke: '#000000',
         style: {
            color: '#CCC'
         },
         states: {
            hover: {
               fill: '#707073',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            },
            select: {
               fill: '#000003',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            }
         }
      },
      inputBoxBorderColor: '#505053',
      inputStyle: {
         backgroundColor: '#333',
         color: 'silver'
      },
      labelStyle: {
         color: 'silver'
      }
   },

   navigator: {
      handles: {
         backgroundColor: '#666',
         borderColor: '#AAA'
      },
      outlineColor: '#CCC',
      maskFill: 'rgba(255,255,255,0.1)',
      series: {
         color: '#7798BF',
         lineColor: '#A6C7ED'
      },
      xAxis: {
         gridLineColor: '#505053'
      }
   },

   scrollbar: {
      barBackgroundColor: '#808083',
      barBorderColor: '#808083',
      buttonArrowColor: '#CCC',
      buttonBackgroundColor: '#606063',
      buttonBorderColor: '#606063',
      rifleColor: '#FFF',
      trackBackgroundColor: '#404043',
      trackBorderColor: '#404043'
   },

   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);
    
    
        {% if categories %}
             
    $('#container').highcharts({
        title: {
            text: 'Audio Likes',
        },
        xAxis: {
            categories: ['{{ categories|join("','") }}']
        },
        yAxis: {
            title: {
                text: null,
            },
        },



        series: [
        {% for audio_id, stat in stats %}
        {
            {% if audioFiles[audio_id] is defined %}
            name: "{{ audioFiles[audio_id] }}",
            {% else %}
            name: "Deleted audio",
            {% endif %}
            data: [
                {% for row in stat %}{{ row.total }}{% if not loop.last %},{% endif %}{% endfor %}
            ]
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    });
    
        {% else %}
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Audio Likes'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { 
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: null,
            },
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y} likes'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [
            {% for audio_id, stat in stats %}
        {
            {% if audioFiles[audio_id] is defined %}
            name: "{{ audioFiles[audio_id] }}",
            {% else %}
            name: "Deleted audio",
            {% endif %}
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [
                {% for row in stat %}
                [Date.UTC({{ row.yr }}, {{ row.mth }}, {{ row.day }}), {{ row.total }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
    
        ]
    });
    
    {% endif %}
    
});
        </script>

{% endblock %}

{% block body %}
        <h1>Statistics</h1> 
    
    <div class="row">
        
        
        
        <div class="col-sm-12">
            <div class="btn-group" role="group">
              <a href="{{ path('user_stat_plays') }}" class="btn btn-default">PLAYS</a>
              <a href="{{ path('user_stat_likes') }}" class="btn btn-default active">LIKES</a>
              <a href="{{ path('user_stat_views') }}" class="btn btn-default">PROFILE VIEWS</a>
            </div>
            
            <div class="stats-dropdown-filter dropdown">
                <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <div class="stats-filter-rangeTitle">{{ filters[filter] }}</div>
                    <div class="stats-filter-range">{{ startDate.format('d M') }} - {{ endDate.format('d M, Y') }} <i class="fa fa-sort-down"></i></div>
                </div>
                {% if app.user.isSubscribed %}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('user_stat_likes', {filter: '7days'} ) }}">Last 7 days</a></li>
                    <li><a href="{{ path('user_stat_likes', {filter: '14days'} ) }}">Last 14 days</a></li>
                    <li><a href="{{ path('user_stat_likes', {filter: '30days'} ) }}">Last 30 days</a></li>
                    <li><a href="{{ path('user_stat_likes', {filter: '12months'} ) }}">Last 12 months</a></li>
                </ul>
                {% else %}
                <div class="dropdown-menu dropdown-upgrade" aria-labelledby="dropdownMenu1">
                    <a href="{{ path('plans') }}" class="btn btn-sm btn-default btn-block">UPGRADE TO PRO</a>                    
                </div>
                {% endif %}
            </div>
            
            {% if stats %}
            <div id="container"></div>
            {% else %}
                <div class="no-stats">There has been no audio likes in this period</div>
            {% endif %}
            <h3>Members who have liked your audio <small>(in the last 90 days)</small></h3>
            
            {% if not app.user.isSubscribed %}
                <p><a href="{{ path('plans') }}" class="btn btn-sm btn-primary">UPGRADE TO PRO</a> Upgrade to get PRO Statistics to see members liking your audio</p><br>
            {% endif %}
            
            <div class="row">
            {% if audioLikeUsers %}
                {% for audioLike in audioLikeUsers %}
                    {% if audioLike %}
                    {% set fromUser = fromUsers[audioLike.from_user_id] %}
                    {% else %}
                        {% set fromUser = "Unknown" %}
                    {% endif %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="stat-user-wrap">
                        {% if app.user.isSubscribed %}
                            <a href="{{ path('user_view', {username: fromUser.username}) }}" class="stat-user-avatar">
                            {% if fromUser.path is empty %}
                            <img src="{{ asset('images/default_avatar.svg') }}" alt="{{ fromUser.username }}" class="img-circle" width="58" height="58" />
                            {% else %}
                            <img src="{{ asset('uploads/avatar/small/' ~ fromUser.path ) }}" alt="{{ fromUser.username }}" width="58" height="58" class="img-circle" />
                            {% endif %}
                            {% if fromUser.isCertified %}
                                <span class="vocalizr-certified" data-text="<div class='tip-header'>Vocalizr Certified Professional</div>A 'Certified Pro' is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level."></span>
                            {% endif %}
                            </a>
                            <div class="stat-user-name">
                                <a href="{{ path('user_view', {username: fromUser.username}) }}">{{ fromUser.displayName }}</a>
                                {% if fromUser.isSubscribed %}
                                <span class="badge badge-pro">PRO</span>
                                {% endif %}
                            </div>
                        {% else %}
                            <a href="{{ path('plans') }}" class="stat-user-avatar">
                            <img src="{{ asset('images/default_avatar.svg') }}" alt="{{ fromUser.username }}" class="img-circle" width="58" height="58" />
                            {% if fromUser.isCertified %}
                                <span class="vocalizr-certified" data-text="<div class='tip-header'>Vocalizr Certified Professional</div>A 'Certified Pro' is deemed a professional by the experts at Vocalizr. The stamp is based on ability, experience, and skill level."></span>
                            {% endif %}
                            </a>
                            <div class="stat-user-name">
                                <a href="{{ path('plans') }}">Vocalizr Member</a>
                                {% if fromUser.isSubscribed %}
                                <span class="badge badge-pro">PRO</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="stat-user-info">
                        {% if fromUser.isVocalist and fromUser.isProducer %}
                            Producer &amp; Vocalist
                        {% elseif fromUser.isVocalist %}
                            Vocalist
                        {% elseif fromUser.isProducer %}
                            Producer
                        {% endif %}
                        </div>
                        <div class="stat-user-country">from {{ fromUser.country|countryName }}</div>
                        <div class="stat-user-timeago">
                            {{ audioLike.date|timeAgoString }} ago
                        </div>
                    </div>
                    {% if app.user.isSubscribed %}
                        {% set userConnect = false %}
                        {% if fromUser.userConnectInvites|length %}
                            {% set userConnect = fromUser.userConnectInvites|first %}
                        {% elseif fromUser.userConnectInvitesSent|length %}
                            {% set userConnect = fromUser.userConnectInvitesSent|first %}
                        {% endif %}

                        {{ render(controller('VocalizrAppBundle:User:connectButton', {userInfo: fromUser, userConnect: userConnect, type: 'large'} )) }}
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12">
                No members have liked your audio files in the last 90 days.
                </div>
            {% endif %}
            </div>
        </div>
       
                    
                    
    </div>
    
{% endblock %}