{% extends 'Register/base/layout.html.twig' %}

{% block title %}
Onboarding Payment
{% endblock %}

{% block description %}

{% endblock %}

{% block wrap %}
<div class="centered-content background">
    <div class="left-offset"></div>
    <div class="split-container space-between payment main-w-side-layout payment-page">
    <div class="left-block max-space align-left">
        <div class="vertical-container" style="--vertical-gap: 0">
            <div class="logo-header">
                <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="122px" height="36px">
            </div>
            <div class="section-header" style="padding-top: 36px;">
                <h1>Great choice, {{ app.user.firstName }}!<br> Confirm your upgrade and review <b class="bold900">Access Pass</b></h1>
            </div>
            <div class="horizontal-container mobile-column-reverse" style="--horizontal-gap: 40px">
                {% block pro_plan_panel %}
                    {% embed "User/include/pro-plan-panel.html.twig" %}
                        {% block main_title %}You’ve chosen the Access Pass advantage!{% endblock %}
                        {% block panel_footer %}{% endblock %}
                    {% endembed %}
                {% endblock %}
                <div>
                    {% block payment_panel %}
                        {% embed "User/include/payment-panel.html.twig" %}
                            {% block panel_footer %}{% endblock %}
                            {% block paypal_extra_fields %}
                                <input type="hidden" name="return" value="{{ url('paypal_pro_success') }}" />
                                <input type="hidden" name="cancel_return" value="{{ url('onboarding-membership') }}" />
                                <input type="hidden" name="rm" value="1">
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                    <div class="panel-muted">
                        <div class="lock-image"></div>
                        <span>This is a secure 128-SSL encrypted connection.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-block min-space">
        <div class="vertical-container text-description" style="max-width: 308px; margin-top: 260px; --vertical-gap: 27px">
            {% block right_text_block %}
                <div class="hint font-grades">
                    <div class="hint-title">A sound decision!</div>
                    <div class="hint-content">100% of our top users are subscribed to <b>Access Pass</b>.</div>
                </div>
                <p class="font-grades">
                    Whether you are a professional or a hobbyist, with <b>Access Pass</b> - you are winning from the start.
                </p>
                <p class="font-grades">
                    This means you’ve made the right choice to get ahead of the pack and rocket your career!
                </p>
                <p class="font-grades">
                    And we can’t wait to hear what you create on Vocalizr!
                </p>
            {% endblock %}
        </div>
    </div>
</div>
    <div class="right-offset"></div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $('#paypal').on('click', function(e) {
            e.preventDefault();
            $('.paypal-option').val($('#freq').val());

            $('#paypal-submit').click();
        });
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_checkout_key }}');
        $('#start-mem').on('click', function(e) {
            $.ajax({
                url: "{{ path('stripe_session_subscription') }}",
                method: 'GET',
                data: {
                    plan: $('select#freq option:selected').data('value'),
                },
                success: function (data) {
                    if (data.success) {
                        stripe.redirectToCheckout({sessionId: data.ssid})
                    }
                }
            });
        });
    </script>
{% endblock %}
