{% extends 'Register/base/layout.html.twig' %}

{% block title %}Registration completed!{% endblock %}

{% block description %}{% endblock %}
{% block body_attr %}class="double-blue-background"{% endblock %}
{% block wrap %}
    <div class="vertical-container register-success" style="--vertical-gap: 0">
        <div class="logo-header">
            <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="122px" height="36px">
        </div>
        <div class="section-header">
            <h1><span class="block-only-mobile">Success!</span> You are now have an <b class="bold900">Access Pass</b>.<br><span class="block-only-mobile"></span>You’ve made a wise choice, {{ app.user.firstName }}!</h1>
        </div>
        <a href="{{ path('onboarding-finish') }}" class="btn btn-primary gleam-btn" style="display: flex; justify-content: center; align-items: center; padding: 0 4px 0 0; line-height: 9px; margin-top: 12px; height: 36px; font-size: 15px;" data-name="UserLogin" data-value="Email: {{ app.user.email|e('html_attr') }}, Source: new (pro) signup">
            <span style="display: inline-block; margin-right: 4px;">Awesome, let's go!</span> <span style="font-size: 22px; display: inline-block">&rarr;</span>
        </a>
    </div>
    <div class="gleam-data-layer" data-name="UserAlreadyPro" data-value="Email: {{ app.user.email }}, Source: new subscription from onboard"></div>
{% endblock %}
{% block body_end_trackers %}
{% endblock %}
{% block javascript %}
    {% javascripts 'Resources/public/js/gleam.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
