<li><a href="{{ path('admin') }}">Dashboard</a></li>
<li><a href="{{ path('admin_users') }}">Users</a></li>
<li><a href="{{ path('admin_projects') }}">Gigs</a></li>
<li><a href="{{ path('admin_accounting_report') }}">Accounting</a></li>
<li><a href="{{ path('admin_vmag') }}">Vmag</a></li>
<li><a href="{{ path('admin_user_subscriptions') }}">Subscriptions</a></li>
<li><a href="{{ path('admin_withdraw_email_lock') }}">Change Withdraw Email</a></li>
<li><a href="{{ path('admin_withdraw_approvals') }}">Withdraw Approvals</a></li>
<li><a href="{{ path('userConfirmationList') }}">User Certification Approvals</a></li>
<li><a href="{{ path('admin_revenue') }}">Revenue</a></li>
<li><a href="{{ path('admin_review_change') }}">Review change</a></li>
<li><a href="{{ path('admin_gst') }}">GST Calculations</a></li>
<li><a href="{{ path('admin_password_change') }}">Password change</a></li>
<li><a href="{{ path('admin_email') }}">Email segment</a></li>
