{% extends 'anonymous.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form-elements.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/register.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/promo/panel/pro.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/promo/stay-home.css') }}" />
{% endblock %}

{% block title_html_tag %}
    Vocalizr - Stay Home
{% endblock %}

{% block wrap %}
    <div class="page-wrap stayhome payment-page">
        <div class="logo-header">
            <img src="{{ asset('images/logo_clean.png') }}" alt="vocalizr logo" width="190px" height="56px">
        </div>
        <div class="page-content-wrap">
            <div class="page-content">
                <h1 class="page-title">
                    <span>Stay home, stay safe and</span>
                    <br>
                    <span>make music</span>
                </h1>
                <p>
                    Due to the unprecedented crisis everyone is dealing with
                    outside, and the need for everyone to isolate themselves inside
                    - we’ve put together a <b>PRO</b> plan for you to get working,
                    building your profile, and enjoying a slick all new design
                    profile page (coming very soon).
                </p>
                <p>
                    We’ve created an introductory offer for <b>PRO Memberships,</b>
                    which will hopefully see out this crisis, of USD <b>4.99</b> a month
                    for 2 months, then USD <b>10.99</b> after that, and we’ve also <b>waived all platform
                        commissions</b> for 3 months from April 17 until June 17.
                </p>
                <p>
                    To celebrate the new Profile page, we also have a massive
                    giveaway coming, including: <b>Moog One, Novation Peak,</b> and
                    <b>10x Annual PRO memberships.</b>
                </p>
                <p class="font-grades">
                    Keep your eyes peeled on our <a class="external" href="https://www.facebook.com/vocalizr/">Facebook page</a> to find out
                    when this launches!
                </p>
            </div>
            <div class="sidebar">
                {% block pro_plan_panel %}
                    {% include 'Promo/include/stayhomeProPanel.html.twig' %}
                {% endblock %}
                {% embed 'User/include/payment-panel.html.twig' %}
                    {% block options_label %}
                        4.99 per month for 2 months, then 10.99 per month
                    {% endblock %}
                    {% block options %}
                        <option value="Vocalizr PRO Monthly">10.99 USD Monthly</option>
                    {% endblock %}
                    {% block button_id %}
                        {{ button_id }}
                    {% endblock %}
                    {% block paypal_extra_fields %}
                        <input type="hidden" name="return" value="{{ url('paypal_pro_success') }}" />
                        <input type="hidden" name="cancel_return" value="{{ url('promo_stay_home') }}" />
                        <input type="hidden" name="rm" value="1">
                    {% endblock %}
                {% endembed %}
                <div class="panel-muted">
                    <div class="lock-image"></div>
                    <span>This is a secure 128-SSL encrypted connection.</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
$('#paypal').on('click', function(e) {
    e.preventDefault();
    $('.paypal-option').val($('#freq').val());

    $('#paypal-submit').click();
});
</script>
{% endblock %}