<!-- LYRICS TAB -->
<div id="lyrics" class="tab-pane tab-gig-lyrics">
    <div class="row">
        <div class="col-sm-8">
            <form id="lyrics-form" class="form" action="{{ path('project_studio', {uuid: project.uuid}) }}#lyrics" method="post">
                {{ form_row(lyricForm._token) }}
                <div class="form-group">
                    <textarea id="current-lyrics" name="{{ lyricForm.lyrics.vars.full_name }}" class="col-sm-12 current-lyrics form-control">{{ lyricForm.vars.value.lyrics }}</textarea>
                </div>
                <div class="form-buttons">
                    <button type="submit" name="save_lyrics" value="lyrics" class="btn btn-sm btn-default">SAVE LYRICS</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <div class="lyrics-versions">
                <div class="heading">LYRICS UPDATE HISTORY:</div>
                {% if projectLyrics|length > 0 %}
                    {% for projectLyric in projectLyrics %}
                        <div class="version{% if loop.index == 1 %} current{% endif %}" data-href="{{ path('project_json', {uuid: project.uuid, action: 'loadLyrics'}) }}?id={{ projectLyric.id }}">
                            {% if loop.index == 1 %}<div id="active-arrow" class="arrow"><div class="inner"></div></div>{% endif %}
                            <div class="avatar">
                                {% if projectLyric.userInfo.path is empty %}
                                    <img src="{{ asset('images/default_avatar.svg') }}" class="img-circle avatar" alt="{{ projectLyric.userInfo.username }}" />
                                {% else %}
                                    <img src="{{ asset('uploads/avatar/small/' ~ projectLyric.userInfo.path ) }}" class="img-circle img-mini" alt="{{ projectLyric.userInfo.username }}" />
                                {% endif %}
                            </div>
                            <div class="info">
                                {% set version = (projectLyrics|length + 1) - loop.index %}
                                <div class="version-number">{% if version == projectLyrics|length %}Current{% else %}Version {{ version }}.{% endif %}</div>
                                <div class="time-ago">{{ projectLyric.createdAt|timeAgoString }} ago</div>
                                <div><a href="{{ path('user_view', {username: projectLyric.userInfo.username }) }}">{{ projectLyric.userInfo.displayName }}</a></div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No history
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- //LYRICS TAB -->