{% extends '::base.html.twig' %}

{% block title %}Register{% endblock %}

{% block description %}Register{% endblock %}

{% block body %}

<div class="row">
    <h1 class="span12">Register</h1>
</div>

    <p>You're just moments away from connecting with producers and vocalists from around the world</p>

{% include 'VocalizrAppBundle::messages.html.twig' %}

<div class="row">

    <div id="register-form-container" class="form-wrap span8">
        <form id="register-form" class="register-form clearfix" action="{{ path('register') }}" method="post" novalidate>
            {% form_theme form 'VocalizrAppBundle:Form:fields.html.twig' %}
            
            <div class="fields-row row">
                <div class="span4">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}

                </div>
                <div class="span3">
                    <label class="checkbox-m0"><strong>I am a...</strong></label>
                    {{ form_widget(form.is_producer) }}
                    {{ form_widget(form.is_vocalist) }}
                </div>
            </div>
            
            <div class="fields-row row">
                <div class="span4">    
                    {{ form_row(form.first_name) }}
                </div>

                <div class="span3">  
                    {{ form_row(form.last_name) }}
                </div>
            </div>
            
            <div class="fields-row row">
                <div class="span4">    
                    {{ form_row(form.email) }}
                </div>

                <div class="span3">
                    {{ form_row(form.password) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="fields-row">
                <label class="checkbox">
                    <input type="checkbox" name="terms" value="terms" id="terms"> I agree to the vocalizr <a href="terms.html">Terms of Use</a>
                </label>
            </div>
            <div class="btn-wrap margin-left-minus-10">
                <input type="submit" name="login_submit" value="Sign Up" class="btn btn-submit" tabindex="3">
            </div>
        </form>
    </div>
    
</div>
{% endblock %}

{% block javascript %}
<script>
    $(function () {
        $('#register-form').submit(function () {
            if ($('#terms').is(':checked')) {
                return true;
            }
            alert("Please agree to the terms and conditions");
            return false;
        
        });
    });
</script>
{% endblock %}