<p>Hi there,</p>

<p>Here is the latest from VMag - Everything music & music industry.</p>

{% for article in articles %}
{% set day = article.publishedAt|date('d')  %}
{% set mth = article.publishedAt|date('m')  %}
{% set yr = article.publishedAt|date('y')  %}

<div style="padding: 20px 0; margin-top: 10px; border-top: 1px solid #ccc;">
    <div style="padding-bottom: 5px;">
        <a href="{{ url('vmag_article', {mth: mth, day: day, yr: yr, slug: article.slug}) }}" style="color: #000;font-weight: bold; text-decoration: none;">{{ article.title }}</a> - By {{ article.author.name }}
    </div>
<div style="color: #666; padding-bottom: 10px;">{{ article.shortDesc }}</div>
<a href="{{ url('vmag_article', {mth: mth, day: day, yr: yr, slug: article.slug}) }}">Read more</a>
</div>
{% endfor %}

<p>Happy reading!</p>
