<div style="background: #f1f1f1; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td width="80"><img src="{{ url('circle_avatar', {path: projectBid.userInfo.path}) }}" width="65" style="display: inline-block;"></td>
            <td width="250" style="vertical-align: middle;font-family: sans-serif; font-size: 14px;">
                {{ projectBid.userInfo.displayName }}<br>
                <strong>{% if projectBid.userInfo.isVocalist and projectBid.userInfo.isProducer %}Producer, Vocalist{% else %}{% if projectBid.userInfo.isVocalist %}Vocalist{% endif %}{% if projectBid.userInfo.isProducer %}Producer{% endif %}{% endif %}</strong><br>
                from {% if projectBid.userInfo.city %}{{ projectBid.userInfo.city }}, {% endif %}{{ projectBid.userInfo.country|countryName }}
            </td>
            <td width="200" style="text-align: right; vertical-align: middle;font-family: sans-serif; font-size: 25px;">US ${{ (projectBid.amount / 100)|number_format(2) }}</td>
        </tr>
    </table>
</div>
