Hey <strong>{{ result.to.usernameOrFirstName }}</strong>,

<p style="font-size: 15px;">"{{ result.message|nl2br }}"</p>

<p>
    <br>
    <a href="{{ url('user_connect_accept', { username: result.from.username }) }}" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Accept</a>
    <a href="{{ url('user_view', { username: result.from.username }) }}" style="color: #000; margin-left: 5px; font-size: 14px; background-color: #fff; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #7e7e7e;">View Profile</a>
</p>

<div style="margin-top: 40px;">
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td width="80"><img src="{{ url('circle_avatar', {path: result.from.path}) }}" width="65" style="display: inline-block;"></td>
            <td style="vertical-align: middle;font-family: sans-serif; font-size: 14px;">{{ result.from.displayName }}<br>
                <strong>{% if result.from.isVocalist and result.from.isProducer %}Producer, Vocalist{% else %}{% if result.from.isVocalist %}Vocalist{% endif %}{% if result.from.isProducer %}Producer{% endif %}{% endif %}</strong><br>
                from {% if result.from.city %}{{ result.from.city }}, {% endif %}{{ result.from.country|countryName }}</td>
        </tr>
    </table>
</div>
        
<div style="height: 10px;"></div>

<p>To stop getting these notifications please go to <a href="{{ url('user_edit') }}#pref" style="color: #14b9d6;">Preferences</a> under "Edit Profile".</p>
