<p>Hi <strong>{{ userInfo.usernameOrFirstName }}</strong>,</p>

<p>Your Contest <a href="{{ url('project_view', {uuid: project.uuid}) }}" style="color:#14b9d6">{{ project.title }}</a> has finished.
    <strong>You recieved {{ project.numBids }}{% if project.numBids > 1 %}entries{% else %}entry{% endif %}</strong>.</p>

<p>Please award your Contest to the {{ project.lookingFor }} you want to work with.</p>

<p><a href="{{ url('contest_view', {uuid: project.uuid}) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Select a winner</a></p>

<strong>Messaging</strong><br>
<p>If you have further questions then ask them! Go to your Contest page and click "Discuss" on there entry.</p>

<a href="{{ url('contest_view', {uuid: project.uuid}) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Ask a question</a>