Hey,

<p>A user has made a deposit to an email address different to their authorised email. Details below:</p>

<p><b>User Info</b></p>
<p>
<b>Email: </b> {{ user.email }}<br>
<b>Username: </b> {{ user.username }}<br>
<b>Deposit / Withdraw Email: </b> {{ user.withdrawEmail }}
</p>
<hr>
<p>
<b>Paypal Transaction Info</b>
<b>Email: </b> {{ paymentEmail }}<br>
<b>Amount: </b> ${{ paymentAmount }}<br>
<b>Transaction ID: </b> {{ transactionId }}
</p>