{% for user in results %}
    {% set userReview = getUserReview(user) %}
    {% if userReview %}
    <div class="result user-result clearfix" data-id="{{ userReview.id }}">
        <div class="info col-sm-4">
            <ul>
                <li>Email: <span>{{ user.email }}</span></li>
                <li>Full name: <span>{{ user.fullName }}</span></li>
                <li>Username: <span>{{ user.username }}</span></li>
                <li>Display Name:  <a href="{{ user.username ? path('user_view', {username: user.username}) }}" target="_blank">{{ user.displayName }}</a></li>
                <li>Locked email: <span>{{ user.withdrawEmail }}</span></li>
            </ul>
        </div>
        <div class="actions col-sm-8">
            <label>
                Review:
                <textarea class="form-control review" name="review" cols="80" rows="5">
                    {{ userReview.content }}
                </textarea>
            </label>
            <button type="submit" class="btn btn-default change-review" data-url="{{ path('admin_review_change_change') }}">Change Review</button>
            <button type="submit" class="btn btn-default delete-review" data-url="{{ path('admin_review_change_delete') }}">Delete</button>
        </div>
    </div>
    {% endif %}
{% endfor %}
