{% extends '::app.html.twig' %}

{% block title %}Admin{% endblock %}

{% block javascript %}
        {% javascripts
            '@VocalizrAppBundle/Resources/public/js/admin.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav">
                {% include '@VocalizrApp/Admin/include/menu.html.twig' %}
            </ul>
        </div>
        <div class="col-sm-10">
            <h1>Process Withdrawel</h1>
            <ul>
              <li>User: <a href="" target="_blank">{{ withdrawel.userInfo.displayName }}</a></li>
              <li>Email: {{ withdrawel.userInfo.email }}</li>
              <li>Funds in Wallet: ${{ (withdrawel.userInfo.wallet) / 100|number_format(2)}} USD</li>
              <li>Withdraw Amount: ${{ (withdrawel.amount) / 100|number_format(2)}} USD</li>
              <li>PayPal Email: {{ withdrawel.paypalEmail }}</li>
            </ul>
            {% if errors|length > 0 %}
              <div style="border: 1px solid #ea4c36; background: #000; padding: 18px 24px 12px; margin: 10px 0;">
                <span style="color: #ea4c36; font-size: 18px; font-weight: 500;">The following errors occurred with your withdrawel attempt:</span>
                <ul>
                  {% for error in errors %}
                    <li style="color: #ea4c36; font-size: 16px;">{{ error.errorId }} - {{ error.message }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if errors|length == 0 %}
                <h3>Process Withdrawel</h3>
                <p>Using the information above, complete the steps below to process the user withdrawel...</p>

                <form id="admin-payment-form" class="admin-payment-form" action="{{ path('admin_withdrawel', {id : withdrawel.id}) }}" method="POST">

                    <div class="light-content">
                      {{ form_widget(form._token) }}
                      <strong>Steps</strong>
                      <ol style="margin-bottom: 20px;">
                          <li>Go to Paypal (<a href="www.paypal.com">www.paypal.com</a>)</li>
                          <li>Login user accounts@vocalizr.com</li>
                          <li>Click the "Money" link in top bar</li>
                          <li>Click "Send Money"</li>
                          <li>Enter the users email address <span style="color: white; font-weight: 100; font-size: 1.2em">{{ withdrawel.paypalEmail }}</span></li>
                          <li>Enter the amount <span style="color: white;font-weight: 100;  font-size: 1.2em">${{ (withdrawel.amount) / 100|number_format(2)}}</span> - <em>Ensure USD is the selected currency</li>
                          <li>Select "Pay for goods or services"</li>
                          <li>Click "Continue"</li>
                          <li>Check the details</li>
                          <li>Select "Choose Shipping Address"</li>
                          <li>Select "No Shipping Required"</li>
                          <li>Upate the "Email to recipient" section with
                            <ul>
                              <li>Subject: <span style="color: white;font-weight: 100;  font-size: 1.2em">You've got funds. - Vocalizr Wallet Withdraw</span></li>
                              <li>Leave the message empty</li>
                            </ul>
                          </li>
                          <li>Click "Send Money"</li>
                          <li>Click the "Process Payment" button below. <strong>Only do this after all above is done!</strong></li>
                      </ol>
                      <a href="{{ path('admin_withdrawels') }}" class="btn">Cancel</a><button type="submit" class="btn btn-default" id="user-search-btn">Process Payment</button>
                    </div>
                </form>
                <div  style="font-size: 1.2em; margin: 28px 0 0">If there are any issues or errors from paypal - complete the cancel form below and contact the user.</div>
                <br><br>
                <hr>
                <br>
            {% endif %}

            <h3>Cancel Withdrawel</h3>
            <form id="admin-payment-form" class="admin-payment-form" action="{{ path('admin_cancel_withdrawel', {id : withdrawel.id}) }}" method="POST">

              <div class="light-content">
                <div class="row form-group">
                    <div class="col-sm-8">
                        {{ form_row(cancelForm.message) }}
                    </div>
                </div>
                {{ form_widget(cancelForm._token) }}

                <a href="{{ path('admin_withdrawels') }}" class="btn">Cancel</a><button type="submit" class="btn btn-default" id="user-search-btn">Cancel Withdrawel Request</button>
              </div>
            </form>
        </div>
    </div>
{% endblock %}
