{% for user in results %}
    <div class="result user-result clearfix" data-id="{{ user.id }}">
        <div class="info col-sm-6">
            <ul>
                <li>Email: <span>{{ user.email }}</span></li>
                <li>Full name: <span>{{ user.fullName }}</span></li>
                <li>Username: <span>{{ user.username }}</span></li>
                <li>Display Name:  <a href="{{ user.username ? path('user_view', {username: user.username}) }}" target="_blank">{{ user.displayName }}</a></li>
                <li>Locked email: <span>{{ user.withdrawEmail }}</span></li>
            </ul>
        </div>
        <div class="actions col-sm-6">
            <label>
                Password:
                <input class="form-control password" type="password" name="password">
            </label>
            <button type="submit" class="btn btn-default change-password" data-url="{{ path('admin_password_change_save') }}">Change password</button>
        </div>
    </div>
{% endfor %}
