{% if app.request.query.has('notice') %}
    <div class="alert alert-success">
        {{ app.request.query.get('notice') }}
    </div>
{% endif %}
{% if app.request.query.has('error') %}
    <div class="alert alert-error">
        {{ app.request.query.get('error') }}
    </div>
{% endif %}

{% if app.session.flashbag.has('notice') %}
    <div class="alert alert-success">
        {{ app.session.flash('notice') }}
    </div>
    {{ app.session.removeFlash('notice') }}
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
    {{ app.session.removeFlash('error') }}
{% endif %}