{% if pageCount > 1 %}
<div class="paging">
    <ul>
    {% if first is defined and current != first %}
    {# <li><a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="first">&lt;&lt;</a></li> #}
    {% endif %}

    {% if previous is defined %}
        <li><span class="previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="direction">&larr; Prev</a>
        </span></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
        <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
        {% else %}
        <li class="active"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
    <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="direction">Next &rarr;</a></li>
    {% endif %}

    {% if last is defined and current != last %}
    {# <li><a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="last">&gt;&gt;</a></li> #}
    {% endif %}
</div>
{% endif %}
