<div>
    {% set connectUser = connection.otherUser(user) %}
    <div class="connections__card">
        <a href="{{ path('user_view', {'username': connectUser.username}) }}">
            <img src="{{ asset(connectUser.thumbnailWebPath('medium')) }}" alt="avatar connections " class="connections__card-img">
            <p class="connections__card-name">{{ connectUser.displayName }}</p>
        </a>
        <span class="connections__card-link">{{ connectUser.isVocalist and connectUser.isProducer ? 'Vocalist and Producer' : connectUser.isVocalist ? 'Vocalist' : 'Producer' }}</span>
        <div class="connections__card-text-wrp">
            <p class="connections__card-text">{{ connectUser.profile|length() > 95 ? connectUser.profile|slice(0, 91) ~ '...' : connectUser.profile }}</p>
        </div>
        {% if app.user %}
            {% set connectionStatus = myStatusWithTopConnections[connectUser.id] %}
            {% if connectionStatus == 'connected' %}
                <a href="{{ path('message_warning_private', {'userId': connectUser.id}) }}" class="connections__button js-message_warning_private" data-toggle="vmodal">
                    Message
                </a>
            {% elseif connectionStatus == 'request_sent' or connectionStatus == 'not_connected' %}
                <a href="{{ path('user_connect_cancel', {username: connectUser.username}) }}" class="connections__button js-connect-cancel {{ connectionStatus == 'not_connected' ? 'hide' }}" data-role="ajax-trigger" data-hover-text="Cancel">
                    <span class="text">Requested</span>
                </a>
                <a href="{{ path('user_connect', {'username': connectUser.username}) }}" data-cancel-href="{{ path('user_connect_cancel', {username: connectUser.username}) }}" class="connections__button js-connect-request {{ connectionStatus == 'request_sent' ? 'hide' }}" data-role="ajax-trigger" data-state="">
                    Connect
                </a>
            {% elseif connectionStatus == 'await_answer' %}
                <a href="{{ path('user_connect_accept', {username: user.username}) }}" class="connections__button js-connect-accept" data-role="ajax-trigger">
                    Accept Request
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>