<div id="composeModal" class="modal-dialog">
    <div class="modal-content message-compose">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            {% if project.projectType == "contest" %}
                <h4 class="modal-title">Discuss Entry</h4>
            {% else %}
                <h4 class="modal-title">Discuss Gig</h4>
            {% endif %}
        </div>
        <div class="modal-body">
            <form id="compose-message-form" action="{{ path('message_compose', {projectUuid: project.uuid, userId: toUser.id} ) }}" method="post">
                <div class="message-recipient">To: <a href="">{{ toUser.displayName }}</a></div>
                {% if project.projectType == "contest" %}
                <div class="message-project"><span class="label">Contest:</span> {{ project.title }}</div>
                {% else %}
                <div class="message-project"><span class="label">Gig:</span> {{ project.title }}</div>
                {% endif %}
                <div class="message-content">
                    {{ form_widget(form.content) }}
                    <button type="submit" name="send_message" class="btn btn-primary btn-med message-send">Send</button>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    Message.initCompose();
</script>