<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>vocalizr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ asset('css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vocalizr.main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/hint.css') }}">
        <link rel="stylesheet" href="{{ asset('css/scplayer.css') }}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

        <script src="{{ asset('js/modernizr-2.6.1.min.js') }}"></script>
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                <h1 class="logo"><img src="{{ asset('images/base/logo.png') }}" width="77" height="24" alt="vocalizr logo"></h1>
                <div class="header-toolbox">
                    <a class="report-bug hint hint--bottom" data-hint="Report a bug"><span class="icon-text">Report a bug</span></a>
                    <a class="message-center hint hint--bottom" data-hint="Message Center"><span class="icon-text">Message center</span></a>
                    <a class="user-name toggle-toolbox-options">Georgina Fong<i></i></a>
                    <div class="toolbox-options">
                        <div class="arrow"></div>
                        <ul>
                            <li class="toolbox-profile"><a href="">Profile<div class="sash left"></div></a></li>
                            <li class="toolbox-account"><a href="">Account<div class="sash left"></div></a></li>
                            <li class="toolbox-support"><a href="">Support<div class="sash left"></div></a></li>
                            <li class="toolbox-logout"><a href="">Logout<div class="sash left"></div></a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-search">
                    <input type="text" name="nav-search" placeholder="find your voice...">
                    <a class="search-button"><span class="icon-text">Search</span></a>
                </div>
            </div>
        </header>

        <div class="main-container">
            <div class="transport-panel clearfix">
                {% if app.user.path %}
                <img class="avatar" src="/uploads/avatar/200x200/{{ app.user.path }}" width="200" height="200">
                {% else %}
                <img class="avatar" src="{{ asset('uploads/avatar/default.png') }}" width="200" height="200">
                {% endif %}
                <div class="profile-widget clearfix">
                    <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>
                    <p>Melbourne, Australia</p>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li class="nav-notifications"><a href=""><i></i>Notifications<div class="num">17</div><div class="sash"></div></a></li>
                        <li class="selected nav-gig-center"><i></i>Gig Center<div class="num">3</div><div class="sash"></div></li>
                        <li class="nav-discover"><a href=""><i></i>Discover<div class="sash"></div></a></li>
                        <li class="nav-gig-hunter"><a href=""><i></i>Gig Hunter<div class="num">100</div><div class="sash"></div></a></li>
                        <li class="nav-favorites"><a href=""><i></i>Favorites<div class="num">3</div><div class="sash"></div></a></li>
                    </ul>
                </nav>
            </div>
            <div>
                {% block body %}{% endblock %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>

        <script src="{{ asset('js/vocalizr.main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/soundcloud.player.api.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/sc-player.js') }}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
