<div style="height: 10px;"></div>
<div>
    <p>Admin only</p>
    Id: <span class="white-highlight">{{ userInfo.id }}</span>,
    {% if userInfo.firstName %}
        Firstname: <span class="white-highlight">{{ userInfo.firstName }}</span>,
    {% endif %}
    Email: <span class="white-highlight"><a href="mailto:{{ userInfo.email }}">{{ userInfo.email }}</a></span><br>
    In their wallet: <span class="white-highlight">${{ userInfo.walletDollars }}</span>
    <br>
    <a href="{{ path('loginAs', {id : userInfo.id}) }}" class="btn btn-secondary btn-sm">Login as user</a>
    {% if not userInfo.isCertified %}
        <a href="{{ path('admin_user_certify', {id: userInfo.id, from: 'vocalists'}) }}" class="btn btn-secondary btn-app-certify btn-sm roll-alt">Certify</a>
    {% else %}
        <a href="{{ path('admin_user_certify', {id: userInfo.id, from: 'vocalists'}) }}" class="btn btn-secondary btn-app-certify btn-sm roll-alt">Remove certify</a>
    {% endif %}
</div>