{% extends '::app.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block javascript %}
    {% javascripts
        '@VocalizrAppBundle/Resources/public/js/jquery.formatCurrency.min.js'
        '@VocalizrAppBundle/Resources/public/js/profile-manager.js'
        '@VocalizrAppBundle/Resources/public/js/uploader/plupload.full.min.js'
        '@VocalizrAppBundle/Resources/public/js/audio-uploader.js'
        '@VocalizrAppBundle/Resources/public/js/avatar-uploader.js'
        '@VocalizrAppBundle/Resources/public/js/recorder.js'
        '@VocalizrAppBundle/Resources/public/js/v-recorder.js'
        '@VocalizrAppBundle/Resources/public/js/user-profile-video-tab.js'
        '@VocalizrAppBundle/Resources/public/js/user-profile-spotify-tab.js'
        '@VocalizrAppBundle/Resources/public/js/wavesurfer.min.js'
        '@VocalizrAppBundle/Resources/public/js/waveforms.js'
        '@VocalizrAppBundle/Resources/public/js/audios_rearrange.js'
        '@VocalizrAppBundle/Resources/public/js/dragula.js'
        '@VocalizrAppBundle/Resources/public/js/background-uploader.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('/plugins/plyr/plyr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}"></script>

    {% javascripts
        '@VocalizrAppBundle/Resources/public/js/jquery.geocomplete.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        AvatarUploader.init('upload-avatar-container', 'upload-avatar-btn');
        BackgroundUploader.init('upload-hero-image-container', 'upload-background-btn');
        AudioUploader.init('upload-audio-container', 'upload-audio-btn');
        /* Setup bid audition vars */
        var params = {
            recordAudioName: "{{ 'now'|date('U') }}-{{ app.user.id }}.mp3",
            recordHandler: "{{ path('upload_record') }}",
            uploadAudioTmp: "{{ path('upload_audio_tmp') }}"
        };
        vRecorder.init(params);
        ProfileManager.init();

        $('#connectAccept').on('ifChecked', function(e) {
            $('.connectOptions').show(200);
        });
        $('#connectAccept').on('ifUnchecked', function(e) {
            $('.connectOptions').hide(200);
        });


        if (!$('#connectAccept').is(':checked')) {
            $('.connectOptions').hide();
        }

        jQuery(document).ready(function($) {
            var currentUrl = document.location.toString();
            if (currentUrl.match('#')) {
                $('.nav-tabs a[href="#' + currentUrl.split('#')[1] + '"]').tab('show');
            } else {
                $('.nav-tabs a[href="#profile"]').tab('show');
            }

            new VocalizrAppUserProfileVideoTab($).init(true, '{{ path('user_edit_sort_video') }}');
            new VocalizrAppUserProfileSpotifyTab($).init();
        });
    </script>
    <script>
        TracksManager.init(dragula([document.getElementById('tracks-container')]), '{{ path('audios_rearrange') }}')
    </script>

{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('/plugins/plyr/plyr.css') }}" />
    {% stylesheets
        '@VocalizrAppBundle/Resources/public/css/user_edit.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    <div class="row">
        <div id="account-tabs" class="col-sm-12">
            <div data-role="message-container">
                {% include 'VocalizrAppBundle::messages.html.twig' %}
                {% if not user.isRegistrationFinished %}
                    <div style="padding: 10px 20px; margin-bottom: 20px; border-radius: 3px; border: 1px solid transparent; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);" class="alert-success">
                        Welcome to Vocalizr! Let's get your profile filled out so you can start working with artists around the world.
                    </div>
                {% endif %}
            </div>

            <ul class="nav nav-tabs">
                <li><a href="#profile" data-toggle="tab">Profile</a></li>
                {% if proProfileEnabled %}
                    <li><a href="#pro-profile-page" data-toggle="tab">Advanced Profile Page</a></li>
                {% endif %}
                <li><a href="#audio" data-toggle="tab">Showreel Audio</a></li>
                <li><a href="#account" data-toggle="tab">Account</a></li>
                <li><a href="#membership" data-toggle="tab">Membership</a></li>
                <li><a href="#pref" data-toggle="tab">Preferences</a></li>
                <li><a href="#video" data-toggle="tab">Videos</a></li>
                <li><a href="#spotify" data-toggle="tab">Spotify</a></li>
            </ul>

            <div class="tab-content">
                {% include '@VocalizrApp/User/edit/profile_tab.html.twig' %}
                {% if proProfileEnabled %}
                    {% include '@VocalizrApp/User/edit/pro_profile_tab.html.twig' %}
                {% endif %}
                {% include '@VocalizrApp/User/edit/audio_tab.html.twig' %}
                {% include '@VocalizrApp/User/edit/account_tab.html.twig' %}
                {% include '@VocalizrApp/User/edit/membership_tab.html.twig' %}
                {% include '@VocalizrApp/User/edit/notifications_tab.html.twig' %}
                {% include '@VocalizrApp/User/edit/videos_tab.html.twig' %}
                {% include '@VocalizrApp/User/edit/spotify_tab.html.twig' %}
            </div>
        </div>

        {#<div class="account-avatar col-sm-3">#}
            {#<div class="account-avatar-wrap">#}
                {#<div class="account-avatar">#}
                    {#{% if app.user.path is empty %}#}
                    {#<img id="user-account-avatar" src="{{ asset('images/default_avatar.svg') }}" class="img-circle avatar-lg-{{ app.user.username }}" />#}
                    {#{% else %}#}
                    {#<img id="user-account-avatar" src="{{ asset('uploads/avatar/large/' ~ app.user.path ) }}" class="img-circle avatar-lg-{{ app.user.username }}" />#}
                    {#{% endif %}#}
                {#</div>#}
                {#<div id="upload-avatar-container" data-url="{{ path('upload_audio') }}" data-username="{{ app.user.username }}">#}
                    {#<a id="upload-avatar-btn" class="btn btn-sm btn-default" href="{{ path('user_save_avatar') }}">CHANGE IMAGE</a>#}
                    {#<div id="upload-avatar-status" class="avatar-info"></div>#}
                    {#<div id="upload-avatar-error" class="avatar-info"></div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>

    <style>
        .stripe-button-el {
            background: none !important;
            box-shadow: none;
        }
        .stripe-button-el span {
            font-family: 'Museo Sans', 'Arial';
            height: 22px !important;
            line-height: 22px !important;
            padding: 0 10px 0 11px !important;
            font-size: 9.5px !important;
            font-weight: 500 !important;
            background: #526672 !important;
            border-color: #526672 !important;
            color: #fff;
            text-transform: uppercase;
            outline: none;
            min-height: 0 !important;
            border-radius: 2px !important;
            display: inline-block !important;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
            text-shadow: none;
        }
        .stripe-button-el span:hover{
            background: #738590 !important;
            border-color: #738590;
        }
    </style>

{% endblock %}
