{% extends 'Dashboard/activity/activityItem.html.twig' %}
{% block badge %}
    {% if activityItem.project.project_type == 'paid' %}
        <span class="badge badge-yellow">NEW GIG</span>
    {% elseif activityItem.project.sfs %}
        <span class="badge badge-sfs">SEARCH FOR A SINGER</span>
    {% else %}
        <span class="badge badge-orange">NEW CONTEST</span>
    {% endif %}
{% endblock %}
{% block activity_info %}
    <a href="{{ path('user_view', {'username' : actioned.username }) }}">
        {{ actionedDisplayName }}
    </a> has just created a new {{ project.project_type == 'paid' ? 'gig' : 'contest' }} called
    <a href="{{ path(project.project_type == 'paid' ? 'project_view' : 'contest_view', {'uuid' : project.uuid }) }}">{{ project.title }}</a>.
    <br>
    {{ actioned.gender == 'm' ? 'He' : 'She' }} is looking for a
    {% if project.gender is null %}
        male or female
    {% elseif project.gender == 'male' %}
        male
    {% else %}
        female
    {% endif %} {{ project.looking_for }}.<br>

    {% if project.project_type == 'paid' %}
        {% if actioned.gender == 'm' %}His {% else %}Her {% endif %}budget is
        {% if project.budget_from and project.budget_to %}
            <span class="highlight">${{ project.budget_from }}
                                - ${{ project.budget_to }}</span>
        {% else %}
            {% if project.budget_from %}
                <span class="highlight">${{ project.budget_from }}</span> upwards
            {% else %}
                up to <span class="highlight">${{ project.budget_to }}</span>
            {% endif %}
        {% endif %}
        {% if project.royalty > 0 %}
            and {% if actioned.gender == 'm' %}he's {% else %}she's {% endif %} offering
            <span class="highlight">{{ project.royalty }}%</span> royalties
            {% if project.royalty_mechanical %}
                <span class="icon-royalty-mechanical" data-text="Mechanical royalties">M</span>
            {% endif %}
            {% if project.royalty_performance %}
                <span class="icon-royalty-performance" data-text="Performance royalties">P</span>
            {% endif %}
        {% endif %}
    {% else %}
        The winner will receive <span
            class="highlight">${{ project.budget_from }}</span>
        {% if project.royalty > 0 %}
            and offering <span class="highlight">{{ project.royalty }}
                            %</span> royalties
            {% if project.royalty_mechanical %}
                <span class="icon-royalty-mechanical" data-text="Mechanical royalties">M</span>
            {% endif %}
            {% if project.royalty_performance %}
                <span class="icon-royalty-performance" data-text="Performance royalties">P</span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block activity_footer %}
    {% if audiosByProject[project.id] is defined and audiosByProject[project.id] is not null %}
        <div class="gig-list-track activity-track">
            <div class="playlist">
                {% set projectAudio = audiosByProject[project.id] %}
                {% include 'Project/view/include/waveformed_player.html.twig' with {
                    audio: projectAudio,
                    audioUrl: path('project_audio', {uuid: project.uuid, slug: projectAudio.slug}),
                    caption: project.title
                } only %}
            </div>
        </div>
    {% endif %}
{% endblock %}