{% extends 'Dashboard/activity/activityItem.html.twig' %}
{% block avatar %}
    {{ parent() }}
    {% include 'Dashboard/activity/parts/avatar.html.twig' with {user: activityItem.project.employee_user_info} %}
{% endblock %}
{% block badge %}
    <span class="badge badge-green">{{ activityItem.project.project_type == 'paid' ? 'GIG' : 'CONTEST' }} AWARDED</span>
{% endblock %}
{% block activity_info %}
    {% set project_type = project.project_type %}
    {% set employeeDisplayName = project.employee_user_info.username %}
    {% if project.employee_user_info.display_name %}
        {% set employeeDisplayName = project.employee_user_info.display_name %}
    {% endif %}

    <a href="{{ path('user_view', {'username' : activityItem.actioned_user_info.username }) }}">{{ actionedDisplayName }}</a>
    awarded their {{ project_type == 'paid' ? 'gig' : 'contest' }} 
    <a href="{{ path('project_view', {uuid: project.uuid}) }}">{{ project.title }}</a>
    to
    <a href="{{ path('user_view', {'username' : project.employee_user_info.username }) }}">{{ employeeDisplayName }}</a>.
{% endblock %}