<div class="hint-modal" id="hint-modal-wrap">
    <div id="helpful-hint-modal-wrap">
        <div id="helpful-hint-modal" class="modal-dialog fadeInDown">
            <div class="hhm-header">
                {% block hint_header %}
                    <div class="bulb"><i class="fa fa-lightbulb-o"></i></div>
                    <div class="hhm-title">
                        {% block hint_title %}
                            Did you know?
                        {% endblock %}
                        <span class="hashtag">#helpfulhint</span>
                    </div>
                {% endblock %}
            </div>
            <div class="hhm-content">
                {% block hint_content %}
                    <div class="hhm-description">
                        {% block hint_text %}
                            {% if amount < 1500 %}
                                Want to earn more on all your awarded {{ target == 'gig' ? 'gigs' : 'contests' }}? Sign up to PRO for only <span class="white">$10.99 a month!</span>
                            {% else %}
                                Want to earn <span class="white">${{ (amount / 100) | number_format(0, '.', ',') }}</span> more on this {{ target == 'gig' ? 'Gig' : 'Contest' }} if you’re awarded?
                                Sign up to PRO for only <span class="white">$10.99 a month!</span>
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="hhm-buttons">
                        {% block hint_middle_buttons %}
                            <a class="upgrade-btn hhm-btn" href="{{ path('user_upgrade', {source: 'direct'}) }}"><span class="arrow-up"></span>UPGRADE NOW</a>
                            <a class="skip-btn hhm-btn" data-dismiss="modal" aria-hidden="true">
                                {% block hint_close_text %}
                                    No thanks
                                {% endblock %}
                            </a>
                        {% endblock %}
                    </div>

                    <div class="hhm-footer">
                        {% block hint_footer %}
                        <a data-href="{{ path('hint_visibility', {'type': type, 'action': 'disable'}) }}" class="disable-btn hhm-btn">Close & don’t show this hint again</a>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

        </div>
    </div>
</div>