{% set displayNames = project.getUserDisplayNames %}
{% for feed in projectFeed %}
    {% set data = feed.data|jsonDecode %}
    <div id="feed-item{{ feed.id }}" class="feed-item comment-wrap{% if app.request.isXmlHttpRequest and feed.from_user_info.id != app.user.id %} highlight new-item{% endif %}" data-id="{{ feed.id }}">
        <div class="avatar">
            {% if feed.from_user_info.path is empty %}
            <img src="{{ asset('images/default_avatar.svg') }}" class="img-circle img-mini">
            {% else %}
            <img src="{{ asset('uploads/avatar/small/' ~ feed.from_user_info.path ) }}" class="img-circle img-mini">
            {% endif %}
        </div>

        {% if feed.object_type == 'ProjectEscrow' %}
        <div class="comment-content">
            <a href="{{ path('user_view', {username: feed.from_user_info.username}) }}">{{ displayNames[feed.from_user_info.id] }}</a> <a href="{{ path('user_financial') }}">released payment</a> of ${{ (data.amount/100)|number_format(2) }} <span class="time-ago">{{ feed.created_at|timeAgoString }} ago</span>
        </div>
        {% endif %}

        {% if feed.object_type == 'ProjectAsset' %}
        <div class="comment-content">
            <a href="{{ path('user_view', {username: feed.from_user_info.username}) }}">{{ displayNames[feed.from_user_info.id] }}</a> uploaded {{ data.count }} asset{% if data.count > 1 %}s{% endif %} <span class="time-ago">{{ feed.created_at|timeAgoString }} ago</span>
            <p class="comment">
                {% for asset in data.assets %}
                    <a href="{{ path('project_studio', {uuid: project.uuid}) }}?{{ random() }}#assets">{{ asset.title }}</a>{% if loop.index != data.assets|length %},{% endif %}
                {% endfor %}
            </p>
        </div>
        {% endif %}

        {% if feed.object_type == 'Project' %}
            {% if data.action == 'prompt_assets' %}
        <div class="comment-content">
            <a href="{{ path('user_view', {username: feed.from_user_info.username}) }}">{{ displayNames[feed.from_user_info.id] }}</a> prompted for assets to be uploaded <span class="time-ago">{{ feed.created_at|timeAgoString }} ago</span>
        </div>
            {% endif %}
        {% endif %}

        {% if feed.object_type == 'ProjectComment' %}
        <div class="comment-content">
            <a href="{{ path('user_view', {username: feed.from_user_info.username}) }}">{{ displayNames[feed.from_user_info.id] }}</a> said... <span class="time-ago">{{ feed.created_at|timeAgoString }} ago</span>
            <p class="comment">
                {{ data.comment|nl2br }}
            </p>
        {% if data.files is defined %}
            <div class="comment-files">
                {% for file in data.files %}
                    <div class="comment-file"><i class="fa fa-dropbox"></i> <a href="{{ file.dropbox_link }}" target="_blank">{{ file.title }}</a></div>
                {% endfor %}
            </div>
        {% endif %}
        {% if data.audio_slug is defined %}
            <div class="gig-track comment-player-container">
                    {% if feedAudios[feed.id] is defined %}
                        {% include 'Project/view/include/waveformed_player.html.twig' with {
                            audio: feedAudios[feed.id],
                            audioUrl: path('project_audio', {uuid: project.uuid, slug: data.audio_slug}),
                        } %}
                    {% endif %}
            </div>
        {% endif %}
        </div>
        {% endif %}

        {% if feed.object_type == 'ProjectAudio' %}
        <div class="comment-content">
            <a href="{{ path('user_view', {username: feed.from_user_info.username}) }}">{{ displayNames[feed.from_user_info.id] }}</a> uploaded {% if data.flag == 'M' %}master track{% else %}latest recording{% endif %} <span class="time-ago">{{ feed.created_at|timeAgoString }} ago</span>
            <div class="gig-track comment-player-container">
                {% if feedAudios[feed.id] is defined %}
                    {% include 'Project/view/include/waveformed_player.html.twig' with {
                        audio: feedAudios[feed.id],
                        audioUrl: path('project_audio', {uuid: project.uuid, slug: data.audio_slug}),
                    } %}
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% if feed.object_type == 'ProjectLyrics' %}
        <div class="comment-content">
            <a href="{{ path('user_view', {username: feed.from_user_info.username}) }}">{{ displayNames[feed.from_user_info.id] }}</a> updated the <a class="feed-lyrics" href="{{ path('project_studio', {uuid: project.uuid}) }}?{{ random() }}#lyrics">lyrics</a> <span class="time-ago">{{ feed.created_at|timeAgoString }} ago</span>
        </div>
        {% endif %}

        </div>
{% endfor %}