<!-- RATING TAB -->
<div id="rating" class="tab-pane">
    {% if userReview %}
        You gave a review of {{ userReview.rating }}.
        {% if not userReview.content is empty %}
            "{{ userReview.content }}"
        {% endif %}
    {% else %}
        {% if project.isOwner(app.user) %}
            <p>Please take the time to review {{ project.ProjectBid.UserInfo.displayName }}.</p>
        {% else %}
            <p>Please take the time to review {{ project.UserInfo.displayName }}.</p>
        {% endif %}

        <form id="review-form" action="{{ path('project_studio', {uuid: project.uuid} ) }}#rating" method="post">

            <div class="row">
                <div class="col-sm-12">
                    <div id="rating-error" class="alert alert-error"></div>
                    <div id="star-ratings" class="row">
                        <div class="col-sm-2">
                            <label>Quality of work</label>
                            <div class="star-rating" data-score-name="{{ userReviewForm.quality_of_work.vars.full_name }}"></div>
                        </div>
                        <div class="col-sm-2">
                            <label>Communication</label>
                            <div class="star-rating" data-score-name="{{ userReviewForm.communication.vars.full_name }}"></div>
                        </div>
                        <div class="col-sm-2">
                            <label>Professionalism</label>
                            <div class="star-rating" data-score-name="{{ userReviewForm.professionalism.vars.full_name }}"></div>
                        </div>
                        <div class="col-sm-2">
                            <label>Work with again</label>
                            <div class="star-rating" data-score-name="{{ userReviewForm.work_with_again.vars.full_name }}"></div>
                        </div>
                        <div class="col-sm-4">
                            <h3 id="average-rating">5/5</h3>
                            <span class="overage-average">OVERALL<br>AVERAGE</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <textarea id="review-content" name="{{ userReviewForm.content.vars.full_name }}" class="form-control" placeholder="Please provide more feedback about this user..."></textarea>
                            {% if project.isOwner(app.user) %}
                                <input type="checkbox" name="{{ userReviewForm.on_time.vars.full_name }}"> <label>WORK COMPLETED ON TIME</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if project.isOwner(app.user) and project.ProjectBid.UserInfo.isVocalist %}
                {% if userTags|length > 0 %}
                    <hr>

                    {% if userTags.voiceTag|length > 0 %}
                        <div class="vote-tags">
                            Sounds Like:
                            {% for tag in userTags.voiceTag %}
                                <span class="vote-tag">{{ tag.voiceTag.name }} <a data-type="voiceTag" data-id="{{ tag.id }}" href="{{ path('user_tag_vote') }}"{% if tag.userVoiceTagVotes|length > 0 %} class="voted"{% endif %}>{{ tag.agree }}</a></span>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}

                    {% if userTags.vocalStyle|length > 0 %}
                        <div class="vote-tags">
                            Vocal Styles:
                            {% for tag in userTags.vocalStyle %}
                                <span class="vote-tag">{{ tag.vocalStyle.title }} <a data-type="vocalStyle" data-id="{{ tag.id }}" href="{{ path('user_tag_vote') }}"{% if tag.userVocalStyleVotes|length > 0 %} class="voted"{% endif %}>{{ tag.agree }}</a></span>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}

                    {% if userTags.vocalCharacteristic|length > 0 %}
                        <div class="vote-tags">
                            Vocal Characteristic:
                            {% for tag in userTags.vocalCharacteristic %}
                                <span class="vote-tag">{{ tag.vocalCharacteristic.title }} <a data-type="vocalCharacteristic" data-id="{{ tag.id }}" href="{{ path('user_tag_vote') }}"{% if tag.userVocalCharacteristicVotes|length > 0 %} class="voted"{% endif %}>{{ tag.agree }}</a></span>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}

                {% endif %}
            {% endif %}

            {{ form_row(userReviewForm._token) }}
            <div class="form-group">
                <button name="review" class="btn btn-primary" value="Review">Submit Review</button>
            </div>
        </form>


    {% endif %}

</div>
<!-- //RATING TAB -->