<div class="page-content">
    <h4>1. DATE AGREEMENT ENTERED</h4>
    {% if project is defined and not project.employerName is null %}
    {{ "now"|date('M d, Y') }}
    {% else %}
    &lt;&lt; DATE THAT EMPLOYER AGREES TO EMPLOYEE PERFORMING GIG REQUIREMENTS &gt;&gt;
    {% endif %}

    <h4>2. GIG</h4>
    {% if project is defined %}
    {{ project.title|upper }}
    {% else %}
    &lt;&lt; GIG NAME &gt;&gt;
    {% endif %}

    <h4>3. PARTIES</h4>
    {% if project is defined %}
        {% if project.employeeName %}
        <p>{{ project.employeeName|upper }}, {{ project.EmployeeUserInfo.city|upper }}, {{ project.EmployeeUserInfo.country|countryName|upper }} <strong>(Employee)</strong></p>
        {% else %}
        <p>&lt;&lt; EMPLOYEE NAME, CITY, COUNTRY &gt;&gt; <strong>(Employee)</strong></p>
        {% endif %}

        <p class="and">- and -</p>

        {% if project.employerName %}
        <p>{{ project.employerName|upper }}, {{ project.UserInfo.city|upper }}, {{ project.UserInfo.country|countryName|upper }} <strong>(Employer)</strong></p>
        {% else %}
        <p>&lt;&lt; EMPLOYER NAME, CITY, COUNTRY &gt;&gt; <strong>(Employer)</strong></p>
        {% endif %}
        <p class="and">- and -</p>
        <p>Vocalizr of Melbourne, Australia</p>

    {% else %}
    <p>&lt;&lt; EMPLOYEE NAME, CITY, COUNTRY &gt;&gt; <strong>(Employee)</strong></p>
    <p class="and">- and -</p>
    <p>&lt;&lt; EMPLOYER NAME, CITY, COUNTRY &gt;&gt; <strong>(Employer)</strong></p>
    <p class="and">- and -</p>
    <p>Vocalizr of Melbourne, Australia</p>
    {% endif %}

    <div class="important">
        <h4>4. IMPORTANT</h4>
        It is important that you read all of the terms and conditions within this Gig Agreement (Agreement) to ensure that the Employee and Employer
        understand the agreement between Vocalizr, Employee and Employer. Once this Agreement is agreed to, the Employee and Employer are deemed to
        have read and understood all of the terms and conditions and any related requirements. This Agreement may limit the Employee's and/or Employer's rights.
        If the Employee or Employer does not understand and/or accept all of the terms and conditions in this Agreement, please do not sign. This Agreement
        governs the relationship between Vocalizr, Employee and Employer. This Agreement will only take effect if all of the parties named at '3. Parties' sign
        the Agreement.
    </div>

    <h4>5. SUBJECT OF THE AGREEMENT</h4>
    <p>As from the date of signing this Agreement and subject to the Agreement terms and conditions the Employee agrees to offer the required service, which may include but is not limited to vocals, production, lyrics, song writing and top line in accordance with the Gig requirements (Assets) listed by the Employer in the Gig, and of a quality that is acceptable to the Employer for the Gig to which this Agreement applies. The Employer will determine whether the Assets offered are accepted.
        Once the Assets are accepted the required payments as specified in clause 10 below will be finalised.</p>
</div>
<div class="page-break"></div>
<div class="page-content">

    <h4>6. INTELLECTUAL PROPERTY</h4>
    <table class="decimal-list" cellspacing="0" cellpadding="0" border="0">
        <tr valign="top">
            <td class="num">6.1.</td>
            <td>If the Vocalizr PayPal account - <a href="mailto:payments@vocalizr.com">payments@vocalizr.com</a> (Payment Service) is used and there is offer and acceptance of
                mechanical and/or performance royalties, then the Employee and Employer using the Payment Service agree
                that upon the Employer’s release of payment, the only right, title and interest that the Employee will have will be the mechanical and/or performance royalty percentage noted in this Agreement.
            </td>
        </tr>
        <tr valign="top">
            <td class="num">6.2.</td>
            <td>If the Vocalizr PayPal account - <a href="mailto:payments@vocalizr.com">payments@vocalizr.com</a> (Payment Service) is used and there is no offer and acceptance of any royalty, then the
                Employee and Employer using the Payment Service agree that upon the Employer’s release of payment, the
                Employee automatically transfers and assigns to the Employer all rights, title and interest,
                absolutely, to the copyright and other intellectual property in or relating to the Assets, free of all licences,
                mortgages, charges or other encumbrances, unless agreed otherwise by the parties in writing. To avoid any doubt, the Employee,
                unless there has been offer and acceptance of mechanical and/or performance royalties percentage, will not have
                rights to any royalties associated with the use of the Assets in any music. </td>
        </tr>
    </table>

    <h4>7. TERRITORY</h4>
    <p>This agreement applies throughout the world in all countries and territories.</p>

    <h4>8. TERM</h4>
    <p>This Agreement will commence once it is signed by the Employee and Employer. The timeframe for the use of the Assets is not
        time limited unless a separate agreement is entered into following this Agreement. </p>

    <h4>9. FORMAT</h4>
    <p>This agreement covers all formats, physical and non-physical. Physical formats include, but are not limited to, CD and/or vinyl record
        and non-physical formats include, but are not limited to, digital downloads/ringtones.</p>

    <h4>10. GIG PAYMENT & ROYALTIES</h4>
    <table class="decimal-list" cellspacing="0" cellpadding="0" border="0">
        <tr valign="top">
            <td class="num">10.1.</td>
            <td>Payments are only to be made through the Vocalizr Payment Service. The Employee and
                Employer agree not to circumvent Vocalizr's Payment Service by (but not limited to): soliciting work with
                Vocalizr members outside the Vocalizr website, accepting work with Vocalizr members outside the Vocalizr website, receiving
                payment outside the Payment Service, altering Gig Payment amounts after the date of this Agreement, manipulating the
                Gig bidding process to impact the Gig Payment amounts.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.2.</td>
            <td>If the Vocalizr Payment Service is circumvented by (but not limited to): soliciting work with Vocalizr members
                outside the Vocalizr website, accepting work with Vocalizr members outside the Vocalizr website, receiving payment
                outside the Payment Service, altering Gig Payment amounts after the date of this Agreement, manipulating the Gig bidding
                process to impact the Gig Payment amounts, this Agreement will immediately become null and void.</td>
        </tr>
        <tr  valign="top">
            <td class="num">10.3.</td>
            <td>The Employee has agreed that they will offer the Employer the Assets required by the Employer in the Gig.</td>
        </tr>
        <tr  valign="top">
            <td class="num">10.4.</td>
            <td>A royalty percentage in this Agreement refers to the mechanical and/or performance royalty.
                Any royalty value selected applies to the royalty type, mechanical and/or performance royalty selected by the Employer.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.5.</td>
            <td>The Employer and Employee agree that at the time the Gig is awarded, Vocalizr
                will withdraw the total Gig amount from the Employer’s account and place it into Vocalizr's
                payment protection account. Once the Gig is completed, the total Gig amount will be disbursed to the Employee
                and Vocalizr as specified in 10.6, 10.7 and 10.8 below. This authority is strictly limited to this Agreement.
                If the Gig is cancelled and a reduced amount is agreed to, the agreed amount less Vocalizr’s commission will be paid
                to the Employee and Vocalizr will deduct the standard commission from the Employer as defined on Vocalizr's 'Fees' page. If the
                Gig is cancelled and a payment amount of 'nil' is the outcome, the entirety of this Agreement will become null and void.</td>
        </tr>
        <tr>
            <td class="num">10.6.</td>
            <td>The Employer has agreed that
                {% if projectBid is defined %}
                <strong>USD ${{ (projectBid.amount / 100)|number_format(2) }} (Gig Payment)</strong>
                {% else %}
                USD $&lt;&lt; INSERT THE TOTAL GIG AMOUNT &gt;&gt; <strong>(Gig Payment)</strong>
                {% endif %}
            will be placed into Vocalizr's payment protection account immediately. The Employer has agreed that Vocalizr will be paid {% if projectBid is defined %}<strong>USD ${{ (projectBid.amount|getPricePercent(subscriptionPlan.project_percent_added) / 100)|number_format(2) }}</strong>{% else %}USD $&lt;&lt; VOCALIZR PORTION OF PAYMENT &gt;&gt;{% endif %} at this time.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.7.</td>
            <td>The Employer has agreed that once the Assets offered by the Employee have been accepted, the Employee will be paid
                {% if projectBid is defined %}
                <strong>USD ${{ (projectBid.amount / 100)|number_format(2) }}</strong>
                {% else %}
                USD $&lt;&lt; EMPLOYEE PORTION OF PAYMENT &gt;&gt;
                {% endif %}.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.8.</td>
            <td>
                The Employee has agreed that Vocalizr will be paid
                {% if projectBid is defined %}
                <strong>USD ${{ (projectBid.amount|getPricePercent(employeeSubscriptionPlan.payment_percent_taken) / 100)|number_format(2) }}</strong>
                {% else %}
                USD $&lt;&lt; INSERT EMPLOYEE PAYMENT AMOUNT TO VOCALIZR &gt;&gt;
                {% endif %} which is deducted from the payment made by the Employer to the Employee for the Gig to which this Agreement applies.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.9.</td>
            <td>The Employer and Employee have agreed that a mechanical royalty of <strong>{% if project is defined and project.royaltyMechanical %}{{ project.royalty }}{% else %}0{% endif %}%</strong> is payable to the Employee for the Assets
                provided in the Gig to which this Agreement applies.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.10.</td>
            <td>The Employer and Employee have agreed that a performance royalty of <strong>{% if project is defined and project.royaltyPerformance %}{{ project.royalty }}{% else %}0{% endif %}%</strong> is payable to the Employee for the Assets
                provided in the Gig to which this Agreement applies.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.11.</td>
            <td>If Employer and Employee have not agreed on a mechanical and/or performance royalty split in 10.8 and 10.9 then a Master Royalty of  <strong>{% if project is defined and (project.royaltyPerformance or project.royaltyMechanical) %}{{ project.royalty }}{% else %}0{% endif %}%</strong>
                shall apply.</td>
        </tr>
        <tr valign="top">
            <td class="num">10.12.</td>
            <td>If a mechanical and/or performance royalty percentage has been agreed to, it is the responsibility of the Employer and Employee to register
                their interest with their local royalty association. Vocalizr will not bear any responsibility for this. </td>
        </tr>
    </table>

    <h4>11. WARRANTIES &amp; INDEMNIFICATION</h4>
    <p>The Employee and Employer warrant and undertake with Vocalizr that:</p>

    <table class="decimal-list" cellspacing="0" cellpadding="0" border="0">
        <tr valign="top">
            <td class="num">11.1.</td>
            <td>You are fully entitled to perform under this agreement and that you are not restricted from doing so by the terms
                of any other agreement (whether written or oral) and you are free to grant the rights stated.</td>
        </tr>
        <tr valign="top">
            <td class="num">11.2.</td>
            <td>You will indemnify and save Vocalizr harmless from any and all liability, loss, damage, cost or expense, including reasonable legal fees,
                suffered and incurred by us arising out of any breach of any respective covenants, warranties,
                or representations hereunder which claim has been reduced to a final judgment or mutually
                approved settlement by a court of competent jurisdiction or with your prior approval.</td>
        </tr>
        <tr valign="top">
            <td class="num">11.3.</td>
            <td>You have not sampled any material, including the vocals of other artists, into the recording whereby the expression
                where sample shall mean a sound recording owned and/or controlled by a third party.</td>
        </tr>
        <tr valign="top">
            <td class="num">11.4.</td>
            <td>No material embodied in the recording nor any exploitation or performance thereof will violate
                any common law or statutory right of any person and that you shall be
                solely responsible for paying any third parties who may be entitled to be
                paid in respect of that exploitation.</td>
        </tr>
    </table>

    <h4>12. GENERAL</h4>
    <p>If Vocalizr does not exercise or enforce any right available to us under this Agreement,
    it does not constitute a waiver of those rights. If any provision of this Agreement becomes or is held to
    be invalid, unenforceable or illegal for any reason, and in any respect, that provision will be severed from the
    remaining provisions, which will continue in full force and effect.</p>

</div>

<div class="page-content">

    <h4>13. SIGNED</h4>
    {% if project is defined %}

        <p><strong>Employee</strong></p>
        <p>
            {% if project.employeeName %}
            {{ project.employeeName|upper }}<br>
            {% else %}
            &lt;&lt;Employee name&gt;&gt;<br>
            {% endif %}
            {{ "now"|date('M d, Y') }}
        </p>

        <p><strong>Employer</strong></p>
        <p>
            {% if project.employerName %}
            {{ project.employerName|upper }}<br>
            {% else %}
            &lt;&lt;Employer name&gt;&gt;<br>
            {% endif %}
            {{ "now"|date('M d, Y') }}
        </p>

    {% else %}
        <p><strong>Employee</strong></p>
        <p>
            &lt;&lt;Employee name&gt;&gt;<br>
            &lt;&lt;Date signed&gt;&gt;
        </p>

        <p><strong>Employer</strong></p>
        <p>
            &lt;&lt;Employer name&gt;&gt;<br>
            &lt;&lt;Date signed&gt;&gt;
        </p>
    {% endif %}

    <p><strong>Signed by Matt Chable on behalf of Vocalizr</strong></p>
    <p>
        {% if project is defined and project.employerName != '' and project.employeeName != '' %}
        <img src="{{ asset('images/matt-sign.jpg') }}"><br>
        {{ "now"|date('M d, Y') }}
        {% else %}
        &lt;&lt;Matt's signature&gt;&gt;<br>
        &lt;&lt;Date signed&gt;&gt;
        {% endif %}
    </p>

</div>
