{% extends 'email.html.twig' %}

{% block body %}

Change Email Request

<div align="left" class="article-content">
    <p>Hello {{ user.getFirstName }}!</p>

    <p>Today you requested your email address be changed from {{ user.getEmail }} to {{ emailRequest.getEmail }}.</p>

    <p>Please visit this link to confirm your new email address.</p>
    <a href="{{ url('confirm_email', {'key': emailRequest.getUniqueKey }) }}">{{ url('confirm_email', {'key': emailRequest.getUniqueKey }) }}</a>
</div>

{% endblock %}