Hey <strong>{{ userInfo.usernameOrFirstName }}</strong>!

<p>Your contest "<a href="{{ url('project_view', {uuid: project.uuid}) }}">{{ project.title }}</a>" is now CLOSED.
    You have received <strong>{{ project.numBids }}</strong> {% if project.numBids > 1 %}entries{%else%}entry{% endif %} from great {{ project.lookingFor }}s, so now is the time to pick the best entry!</p>

<p><a href="{{ url('contest_view', {uuid: project.uuid}) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">View and award your contest</a></p>

<p>If you are not going to award the contest please let me know why by replying to this email so we can help better the system for you!</p>

<p>We would love to hear any feedback you may have.<br>
If you need any assistance, please don't hesitate to contact me.</p>

<p>Thanks!</p>

