Hey <strong>{{ toUserInfo.usernameOrFirstName }}</strong>,

<p><a href="{{ url('user_view', {username: fromUserInfo.username}) }}">{{ fromUserInfo.displayName }}</a> sent you a message regarding your {% if project.projectType == "contest" %}entry{% else %}bid{% endif %} on <a href="{{ url('project_view', {uuid: project.uuid}) }}">{{ project.title }}</a>.</p>

<div style="background: #f1f1f1; padding: 10px;">"{{ message.content }}"</div>

<p><strong>NOTE</strong>: If you take your project offline from Vocalizr you are not protected.</p>

<p><a href="{{ url('message_home', {tid: messageThread.uuid} ) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Reply Now</a></p>

<div style="height: 10px;"></div>

<p>To stop getting these notifications please go to <a href="{{ url('user_edit') }}#pref" style="color: #14b9d6;">Preferences</a> under "Edit Profile".</p>