{% extends 'email.html.twig' %}

{% block body %}

<p>Hello {{ result.userInfo.usernameOrFirstName }},</p>

<p>After no action from you on this dispute on project <a href="{{ url('project_studio', {uuid: result.project.uuid} ) }}">{{ result.project.title }}</a> has been closed in the favor of {{ result.fromUserInfo.displayName }}.</p>
{% if result.amount > 0 %}
    <p>They negotiated the amount of ${{ result.amountDollars }} to be paid towards you for your work.</p>
{% else %}
    <p>They didn't want to pay for any of the work done to date.</p>
{% endif %}


{% endblock %}