<p>Hi <strong>{{ userInfo.usernameOrFirstName }}</strong>,</p>

<p>Bidding has closed for your gig <a href="{{ url('project_view', {uuid: project.uuid}) }}" style="color:#14b9d6">{{ project.title }}</a>. 
    <strong>You recieved {{ project.numBids }} bid{% if project.numBids > 1 %}s{% endif %}</strong>.</p> 

<p>Please award the gig to the {{ project.lookingFor }} you want to work with.</p>

<p><a href="{{ url('project_view', {uuid: project.uuid}) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Select a Bidder to work with</a></p>

<strong>Messaging</strong><br>
<p>If you have further questions for a bidder then ask them! Go to your Gig page and click "Discuss" on there bid.</p>

<a href="{{ url('project_view', {uuid: project.uuid}) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Ask Bidders a Question</a>