{% extends 'email.html.twig' %}

{% block body %}

<p>Hello {{ projectBid.Project.UserInfo.firstName }},</p>

<p>In regards to your gig <strong>{{ projectBid.project.title }}</strong>,</p>

{% if action == "accepted" %}
<p>We wanted to let you know that {{ projectBid.UserInfo.username }} accepted your gig.<br />
{% if projectBid.flagComment %}
{{ projectBid.UserInfo.username }} says "{{ projectBid.flagComment }}".
{% endif %}
</p>

<p>Login now to start working on your gig!</p>

{% else %}
<p>Unfortunately {{ projectBid.UserInfo.username }} choose to decline your gig.<br />
{% if projectBid.flagComment %}
{{ projectBid.UserInfo.username }} says "{{ projectBid.flagComment }}".
{% endif %}
</p>

<p>${{ escrowTotal }} has been refunded to your wallet.</p>

<p>Login now and award your gig to another bidder.</p>

{% endif %}

{% endblock %}