{% extends 'email.html.twig' %}

{% block body %}

<p>Hello {{ result.userInfo.usernameOrFirstName }},</p>

<p>You have an outstanding dispute that needs to be actioned on project <a href="{{ url('project_studio', {uuid: result.project.uuid} ) }}">{{ result.project.title }}</a>.</p>
<p>The amount they are wanting to negotiate is ${{ result.amountDollars }}.</p>

<p><strong>NOTE: IF YOU DON'T RESPOND WITHIN <strong>24 HOURS</strong> THE DISPUTE WILL BE CLOSED IN THE OTHER PARTIES FAVOR</strong></p>


<p>Please login to the studio for this project and accept or decline offer. If you need further help please contact us on <a href="mailto:support@vocalizr.com">support@vocalizr.com</a></p>

<br>

<p><a href="{{ url('project_studio', {uuid: result.project.uuid} ) }}#rating" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Respond to dispute</a></p>

{% endblock %}