Hey <strong>{{ result.userInfo.usernameOrFirstName }}</strong>,

{% set activityData = result.data|json_decode %}

<div style="height: 10px;"></div>

<table cellspacing="0" cellpadding="0" border="0">
{% for voteData in activityData %}
        <tr>
            <td width="80"><a href="{{ url('user_view', {username: voteData.user.username} ) }}"><img src="{{ url('circle_avatar', {path: voteData.user.path}) }}" width="65" style="display: inline-block;" border="0"></a></td>
            <td style="vertical-align: middle;font-family: sans-serif; font-size: 14px;">
                <a href="{{ url('user_view', {username: voteData.user.username} ) }}" style="color: #14b9d6;">{{ voteData.user.displayName }}</a> up voted your vocal tag{% if voteData.votes|length > 1 %}s{% endif %}:<br>
                <div class="tags" style="margin-top: 10px;">
                    {% for vote in voteData.votes %}
                        <div class="tag" style="display:inline-block;padding:5px 10px;background:#4a5c66;color:#fff;border-radius: 3px; margin-right: 2px;">{{ vote.title }}</div>
                    {% endfor %}
                </div>
            </td>
        </tr>
{% endfor %}
</table>

<div style="height: 10px;"></div>

<p>To stop getting these notifications please go to <a href="{{ url('user_edit') }}" style="color: #14b9d6;">Edit Profile</a> under "Email Notifications".</p>