Hey <strong>{{ toUserInfo.usernameOrFirstName }}</strong>,

<p>
{% if project %}
    {% if project.projectType == "paid" %}
        Gig: <a href="{{ url('project_view', {uuid: project.uuid}) }}" style="color: #14b9d6;">{{ project.title }}</a><br>
    {% else %}
        Contest: <a href="{{ url('contest_view', {uuid: project.uuid}) }}" style="color: #14b9d6;">{{ project.title }}</a><br>
    {% endif %}
{% endif %}
From: <a href="{{ url('user_view', {username: fromUserInfo.username}) }}" style="color: #14b9d6;">{{ fromUserInfo.displayName }}</a>    
</p>

<p>You have {% if messages|length > 1 %}unread messages{% else %}an unread message{% endif %}</p>

{% for message in messages %}
<div style="background: #f1f1f1; padding: 10px; margin-bottom: 10px;">
    <strong>{{ fromUserInfo.displayName }} said...</strong><br>
    "{{ message.content|nl2br }}"
    {% if message.messageFiles|length > 0 %}
    <div style="background:#fff; padding: 5px;margin-top: 10px;">
        <strong>Attachment{% if message.messageFiles|length != 1 %}s{% endif %}</strong><br>
        {% for messageFile in message.messageFiles %}
            <a href="{{ url('message_home', {tid: messageThread.uuid} ) }}" style="color: #14b9d6;">{{ messageFile.title }} ({{ messageFile.filesize|formatBytes}})</a><br>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}

<p><strong>NOTE</strong>: If you take your projects offline from Vocalizr you are not protected.</p>

<p><a href="{{ url('message_home', {tid: messageThread.uuid} ) }}" style="text-decoration:none;padding: 5px 10px;background:#14b9d6;color:#fff;display: inline-block;">Reply Now</a></p>