{% if featuredProjects|length %}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    {% for project in featuredProjects %}
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" 
                       style="margin-bottom: 13px; padding-top: 13px; padding-right: 18px; padding-bottom: 13px; padding-left: 18px; {% if project.highlight %}border: 3px solid #14b9d6;{% else %}border: 1px solid #e6e6e6;{% endif %} background: #f6f6f6;">
                    <tr>
                        <td>
                            <div style="padding-bottom: 5px;">
                                <a href="{{ url('project_view', { uuid: project.uuid }) }}" style="color: #14b9d6; font-size: 16px; font-weight: bold;"> {{ project.title }}</a>
                                <span style="color: #ffffff; border-radius: 2px; display: inline-block; font-size: 10px; font-weight: bold; height: 17px; padding-top: 1px; padding-left: 10px; padding-bottom: 1px; padding-right: 11px; line-height: 17px; background: #19ae5d; margin-left: 10px;">FEATURED</span>
                                {% if project.projectType == "contest" %}
                                <span style="color: #ffffff; border-radius: 2px; display: inline-block; font-size: 10px; font-weight: bold; height: 17px; padding-top: 1px; padding-left: 10px; padding-bottom: 1px; padding-right: 11px; line-height: 17px; background: #f69d00; margin-left: 10px;">CONTEST</span>
                                {% endif %}
                            </div>
                            <div style="font-size: 12px; color: #333333; padding-bottom: 5px; font-weight: bold;">Looking for: <span style="font-weight: normal; margin-right: 18px;">
                                    {% if project.gender %}
                                        {{ project.gender|capitalize }}
                                    {% endif %}
                                    {{ project.lookingFor }}</span>
                            </div>
                            <div style="font-size: 12px; color: #333333; padding-bottom: 5px; font-weight: bold;">
                                {% if project.projectType == "paid" %}
                                    Budget: <span style="font-weight: normal; margin-right: 18px;">${{ project.budgetFrom }}{% if project.budgetTo > 0 %} - ${{ project.budgetTo }}{% else %}+{% endif %}</span>
                                {% else %}
                                    Payment: <span style="font-weight: normal; margin-right: 18px;">${{ project.budgetFrom }}</span>
                                {% endif %}
                                {% if project.royalty > 0 %}
                                    Royalties offered: <span style="font-weight: normal;">{{ project.royalty }}% -
                                        {% if project.royaltyMechanical %}
                                            (Mechanical)
                                        {% endif %}
                                        {% if project.royaltyPerformance %}
                                            (Performance)
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                            <div style="font-size: 12px; color: #333333; padding-bottom:20px;">{{ project.description|nl2br }}</div>
                            {% if project.projectType == "paid" %}
                                <a href="{{ url('project_view', { uuid: project.uuid }) }}" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Bid Now</a>
                            {% else %}
                                <a href="{{ url('contest_view', { uuid: project.uuid }) }}" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Enter Now</a>
                            {% endif %}
                            <div style="height:10px;"></div></td>

                        <td style="text-align: right; vertical-align: top; padding-top: 21px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endfor %}
</table>

<div style="height: 10px;"></div>
<hr> 
<div style="height: 10px;"></div>
{% endif %}

<table cellpadding="0" cellspacing="0" border="0" width="100%">
    {% for project in projects %}
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 13px; padding-top: 13px; padding-right: 18px; padding-bottom: 13px; padding-left: 18px; {% if project.highlight %}border: 3px solid #14b9d6;{% else %}border: 1px solid #e6e6e6;{% endif %} background: #f6f6f6;">
                    <tr>
                        <td>
                            <div style="padding-bottom: 5px;">
                                <a href="{{ url('project_view', { uuid: project.uuid }) }}" style="color: #14b9d6; font-size: 16px; font-weight: bold;"> {{ project.title }}</a>
                                {% if project.projectType == "contest" %}
                                <span style="color: #ffffff; border-radius: 2px; display: inline-block; font-size: 10px; font-weight: bold; height: 17px; padding-top: 1px; padding-left: 10px; padding-bottom: 1px; padding-right: 11px; line-height: 17px; background: #f69d00; margin-left: 10px;">CONTEST</span>
                                {% endif %}
                            </div>
                            <div style="font-size: 12px; color: #333333; padding-bottom: 5px; font-weight: bold;">Looking for: <span style="font-weight: normal; margin-right: 18px;">
                                    {% if project.gender %}
                                        {{ project.gender|capitalize }}
                                    {% endif %}
                                    {{ project.lookingFor }}</span>
                            </div>
                            <div style="font-size: 12px; color: #333333; padding-bottom: 5px; font-weight: bold;">
                                {% if project.projectType == "paid" %}
                                    Budget: <span style="font-weight: normal; margin-right: 18px;">${{ project.budgetFrom }}{% if project.budgetTo > 0 %} - ${{ project.budgetTo }}{% else %}+{% endif %}</span>
                                {% else %}
                                    Payment: <span style="font-weight: normal; margin-right: 18px;">${{ project.budgetFrom }}</span>
                                {% endif %}
                                {% if project.royalty > 0 %}
                                    Royalties offered: <span style="font-weight: normal;">{{ project.royalty }}% -
                                        {% if project.royaltyMechanical %}
                                            (Mechanical)
                                        {% endif %}
                                        {% if project.royaltyPerformance %}
                                            (Performance)
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                            <div style="font-size: 12px; color: #333333; padding-bottom:20px;">{{ project.description|nl2br }}</div>
                            {% if project.projectType == "paid" %}
                                <a href="{{ url('project_view', { uuid: project.uuid }) }}" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Bid Now</a>
                            {% else %}
                                <a href="{{ url('contest_view', { uuid: project.uuid }) }}" style="color: #fff; font-size: 14px; background-color: #14b9d6; text-decoration: none; border-radius: 3px; padding: 8px 16px; border-width: 1px; border-style: solid; border-color: #1aadc7;">Enter Now</a>
                            {% endif %}
                            <div style="height:10px;"></div></td>

                        <td style="text-align: right; vertical-align: top; padding-top: 21px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endfor %}
</table>

{% if not user.vocalistFee %}
    <p style="text-align: center;"><strong>To only see projects within your fee range, set your vocalist fee by <a href="https://vocalizr.com/user/edit">editing your profile</a>.</strong></p>
{% endif %}