{% if app.user %}
{% if userConnect %}
    {% if userConnect.connectedAt %}
        <a href="{{ path('message_warning_private', {userId: user.id}) }}" data-toggle='vmodal' class="btn btn-default btn-action btn-message {{ className }}">
            <i class="fa fa-envelope"></i>
            Message
            <div></div>
        </a>
    {% else %}
        {% if userConnect.from.id == app.user.id %}
            <a href="{{ path('user_connect_cancel', {username: user.username} ) }}" data-connect="{{ user.username }}" class="btn btn-default btn-action roll-alt btn-connect-cancel {{ className }}">
                <i class="fa fa-times"></i>
                Cancel Request
                <div></div>
            </a>
            <a href="{{ path('user_connect_request', {username: user.username} ) }}" data-connect="{{ user.username }}" data-toggle='vmodal' class="hide btn btn-default btn-action btn-connect {{ className }}">
                <i class="fa fa-link"></i>
                Connect
                <div></div>
            </a>
        {% else %}
            <a href="{{ path('user_connect_accept', {username: user.username} ) }}" data-connect="{{ user.username }}" class="btn btn-default btn-action btn-connect-accept {{ className }}">
                <i class="fa fa-check"></i>
                Accept Connection
                <div></div>
            </a>
            <a href="{{ path('message_warning_private', {userId: user.id}) }}" data-toggle='vmodal' data-connect="{{ user.username }}" class="hide btn btn-default btn-action btn-message {{ className }}">
                <i class="fa fa-envelope"></i>
                Message
                <div></div>
            </a>
        {% endif %}
    {% endif %}
{% else %}
    {% if app.user.id != user.id %}
    <a href="{{ path('user_connect_request', {username: user.username} ) }}" data-connect="{{ user.username }}" data-toggle='vmodal' class="btn btn-default btn-action btn-connect {{ className }}">
        <i class="fa fa-link"></i>
        Connect
        <div></div>
    </a>
    <a href="{{ path('user_connect_cancel', {username: user.username} ) }}" data-connect="{{ user.username }}" class="hide btn btn-default btn-action roll-alt btn-connect-cancel {{ className }}">
        <i class="fa fa-times"></i>
        Cancel Request
        <div></div>
    </a>
    {% endif %}
{% endif %}
{% else %}
    <a href="{{ path('login') }}" class="btn btn-default btn-action btn-connect {{ className }}">
        <i class="fa fa-link"></i>
        Connect
        <div></div>
    </a>
{% endif %}