<div class="row form-group video-row">
    {% for video in userVideos %}
        <div class="col-sm-6 sort-video">
            <span class="pull-right sort-video-icon"><i class="fa fa-arrows"></i></span>
            <div data-role="meta-container" data-meta='<div data-role="video-player" data-id="{{ video.id }}" data-plyr-provider="{{ video.provider }}" data-plyr-embed-id="{{ video.link }}"></div>'></div>
            <div data-id="{{ video.id }}"  data-role="video-content">
                <div data-role="video-player" data-id="{{ video.id }}" data-plyr-provider="{{ video.provider }}" data-plyr-embed-id="{{ video.link }}"></div>
            </div>
            <div class="form-group">
                <a href="{{ path('user_edit_remove_video', {id: video.id }) }}" class="btn btn-sm btn-default pull-left">REMOVE</a>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}
</div>