{% extends 'app.html.twig' %}

{% block title %}Deposit into your wallet{% endblock %}

{% block description %}Deposit funds into your wallet{% endblock %}

{% block body %}
<a href="{{ path('user_financial') }}" class="btn btn-sm btn-default pull-right">&lt; Go to Finances</a>
<h1>Deposit Funds</h1>

{% include 'messages.html.twig' %}
<div class="light-content">
    <div class="row">
        <div class="col-sm-6">
            <input type="hidden" id="user-wallet" name="user-wallet" value="{{ (app.user.wallet / 100)|number_format(2, '.', '') }}">
            <div class="form-group">
                    I'd like to deposit into my wallet: (min $5.00)
                    <input id="deposit-amount" type="text" name="deposit" value="50" class="form-control">
            </div>
            <hr>
            <div class="form-group">
                Amount to pay:
                <div class="white-highlight"><span id="send-amount">$0</span> USD</div>
                (Includes transaction fees)
            </div>
            <hr>
            <div class="form-group">
                <form action="{{ app.user.isVerified ? paypal.url : '#' }}" method="post" target="_top" style="display:inline">
                    {% if app.user.isVerified %}
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="item_name" value="Deposit into Vocalizr Wallet" />
                        <input type="hidden" name="custom" value="DEPOSIT{{ app.user.uniqueStr }}" />
                        <input type="hidden" name="no_shipping" value="1" />
                        <input type="hidden" name="return" value="{{ url('user_financial') }}?paid" />
                        <input type="hidden" name="cancel_return" value="{{ url('user_financial') }}?cancel" />
                        <input type="hidden" name="business" value="{{ paypal.primaryEmail }}">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="currency_code" value="{{ paypal.currency }}">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="notify_url" value="{{ paypal.notifyUrl }}" />
                    {% endif %}
                    <input id="amount" type="hidden" name="amount" value="50">
                    <button class="btn btn-sm btn-default" name="deposit" value="submit">Deposit Money</button>
                </form>
            </div>
            <p>Total wallet amount after deposit is made will be <span id="total-wallet" class="white-highlight">${{ app.user.walletDollars }}</span></p>
        </div>
    </div>
</div>

{% endblock %}
{% block modals %}
    <div id="verify-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vocalizr-modal" aria-hidden="true">
        {% include 'include/panel/verify_identity_modal.html.twig' %}
    </div>
{% endblock %}

{% block javascript %}
        <script type="text/javascript" src="{{ asset('js/jquery.formatCurrency.min.js') }}"></script>
        
    <script>
        $('#deposit-amount').keyup(function(e) {
           var $el = $(this);
           $el.toNumber();
           depositAmount = $el.val();
           
           if (depositAmount == '' || depositAmount == '-' || depositAmount < 0) {
               depositAmount = 0;
           }

            x = 0;
            x = parseFloat(depositAmount) * 0.036;
            x = parseFloat(depositAmount) + x;
            x = x + parseFloat(0.30);
            x = parseFloat(x).toFixed(2);
                
            walletAmount = parseFloat($('#user-wallet').val());
            totalAfterDeposit = parseFloat(+walletAmount + parseInt(depositAmount)).toFixed(2)
            $('#total-wallet').text(totalAfterDeposit).formatCurrency();
            //$('#total-wallet').formatCurrency();
            $('#send-amount').text(x).formatCurrency();
            $('#amount').val(x).asNumber({ parseType: 'float' }); // Update hidden input field
        });
        $('#deposit-amount').keyup();
    </script>
    <script>
        let isVerified = '{{ app.user.isVerified }}';

        $('button[name="deposit"]').on('click', function(e) {
            e.preventDefault();
            if (!isVerified) {
                $('#verify-popup').modal('show');
            } else {
                $(this).parent('form').submit();
            }
        });
        $(document).on('click', 'a#identity-intents', function(e) {
            e.preventDefault();
            let link = $(this);

            $.ajax({
                url: link.attr('href') + '?type=deposit',
                success: function(data) {
                    if (data.success) {
                        window.location.href = data.identity_url;
                    }
                }
            });
        });
    </script>
{% endblock %}