{% extends 'app.html.twig' %}

{% block title %}Finances{% endblock %}

{% block description %}Finances{% endblock %}

{% block stylesheet %}

        <link rel="stylesheet" href="{{ asset('css/financial.css') }}" />

{% endblock %}

{% block body %}
<h1>Finances</h1>
{% include 'messages.html.twig' %}
<p class="financial-caption">
    You current have <strong>${{ app.user.walletDollars }}</strong> in your wallet.
    <span class="funds-buttons">
        <a href="{{ path('financial_deposit') }}" class="btn btn-sm btn-default btn-deposit-funds">Deposit Funds</a>
        <a href="{{ path('financial_withdraw') }}" class="btn btn-primary pull-right btn-withdraw-funds">Withdraw Funds</a>
    </span>
</p>
<br>

<ul class="nav nav-tabs">
    <li><a href="#transactions" data-toggle="tab">Wallet Transactions</a></li>
    <li><a href="#escrow" data-toggle="tab">In Payment Protection</a></li>
</ul>

<div class="tab-content">        
    <!--
    // Transactions
    -->
    <div class="tab-pane fade active in" id="transactions">

    {% if pagination|length > 0 %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Date', 's.created_at') }}</th>
                    <th>Time UTC</th>
                    <th>Transaction</th>
                    <th style="text-align: right">Amount</th>
                    <th style="text-align: right">Balance</th>
                </tr>
            </thead>
            <tbody>
            {% for row in pagination %}
                <tr>
                    <td class="no-text-wrap">{{ row.createdAt|date('d M y') }}</td>
                    <td class="no-text-wrap">{{ row.createdAt|date('H:i:s') }}</td>
                    <td>
                        {{ row.description|parseWalletDesc(row.data, row.type) }}
                    </td>
                    <td style="text-align: right" class="no-text-wrap">
                        {% if row.amountDollarsFloat < 0 %}-{% endif %}${{ row.amountDollarsFloat|abs|number_format(2) }}
                    </td>
                    <td style="text-align: right" class="no-text-wrap">
                        ${{ row.actualBalanceDollars|number_format(2) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>Sorry, you have no transactions</p>
    {% endif %}

    </div>

    <div class="tab-pane fade in" id="escrow">
    {% if escrows|length > 0 %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Date</th>
                    <th width="50%">Project</th>
                    <th>Project Owner</th>
                    <th>Amount On Hold</th>
                </tr>
            </thead>
            <tbody>
                {% for escrow in escrows %}
                    <tr>
                        <td class="no-text-wrap">{{ escrow.createdAt|date('d M y') }}</td>
                        <td>
                            {% if escrow.project.publishedAt
                                and escrow.project.projectType == "contest"
                                and escrow.userInfo.id == app.user.id
                                and escrow.project.awardedAt is null
                            %}
                                <a href="{{ path('contest_view', {uuid: escrow.Project.uuid} ) }}">{{ escrow.Project.title }}</a>&nbsp;&nbsp;(Contest)<br>
                                {% if escrow.Project.bidsDue|timeLeftString is empty  and not escrow.refunded %}
                                <a href="{{ path('finances_contest_refund', {uuid: escrow.project.uuid}) }}" class="btn btn-sm btn-default" data-toggle="vmodal">GET REFUND</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('project_studio', {uuid: escrow.Project.uuid} ) }}">{{ escrow.Project.title }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if escrow.UserInfo.id == app.user.id %}
                                You
                            {% else %}
                                <a href="{{ path('user_view', {username: escrow.UserInfo.username}) }}">
                                    {{ escrow.UserInfo.username }}
                                </a>
                            {% endif %}
                        </td>
                        <td class="no-text-wrap">${{ (escrow.amount / 100)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>Sorry, you currently have no gigs in process.</p>
    {% endif %}
    </div>

</div>


{% endblock %}